In [1]:
%load_ext autoreload

In [2]:
%autoreload 2
%matplotlib inline

In [11]:
import ray

import pandas as pd
import numpy as np
import yaml
import json
import os
from flatten_dict import unflatten, flatten

from SepMe.utils.filter_utils import *
from SepMe.utils.preprocessing_utils import *

from pandas.api.types import is_numeric_dtype
import seaborn as sns
from sklearn.preprocessing import minmax_scale, LabelEncoder
#import umap
import psutil


print("Number of processors: ", psutil.cpu_count())
os.getcwd()

/home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Iterable

Number of processors:  20

'/home/morarica/Developer/SepMe/Jupyters'

In [4]:
ray.init(num_cpus=psutil.cpu_count())

2019-11-22 17:23:04,196	INFO resource_spec.py:205 -- Starting Ray with 13.09 GiB memory available for workers and up to 6.56 GiB for objects. You can adjust these settings with ray.init(memory=<bytes>, object_store_memory=<bytes>).

{'node_ip_address': '129.69.205.196',
 'redis_address': '129.69.205.196:54804',
 'object_store_address': '/tmp/ray/session_2019-11-22_17-23-04_195082_8600/sockets/plasma_store',
 'raylet_socket_name': '/tmp/ray/session_2019-11-22_17-23-04_195082_8600/sockets/raylet',
 'webui_url': None,
 'session_dir': '/tmp/ray/session_2019-11-22_17-23-04_195082_8600'}

## 1. Getting the human annotations

In [6]:
folder = '../data/SPLOM_data/SepMe/Data/Human_judgment/'
print(len(sorted(os.listdir(folder))))
df_a = []
df_m = []
for i, file in enumerate(sorted(os.listdir(folder))):
    if file.endswith('csv'):
        #print(file)
        df = pd.read_csv(folder+file, header=None)
        df.columns = np.array(df.columns)+1
        
        if len(df)>4:
            #print(df)
            df = df.head(4)
        
        df.index = ['PCA', 'RobPCA', 'GlimmerMDS', 'tSNE']
        
        person = file.split('.csv')[0].split('-')[-1]
        dd ={}
        dd[file.split('-')[0]] = df.to_dict('index')
        df1 = pd.DataFrame.from_dict(flatten(dd, underscore_reducer), orient='index', columns = [person])
        
        #print(person + '  ' + file)
        if person =='M':
            df_m.append(df1)
        else:
            df_a.append(df1)

dfmm = pd.concat(df_m, axis=0)
dfaa = pd.concat(df_a, axis=0)

df = pd.concat([dfmm, dfaa], axis=1)


df['class'] = [ii.split('_')[-1] for ii in df.index]
df.dropna(axis=0, inplace=True)

df = df.astype({'A': 'int32', 'M': 'int32'})
print(df.shape)

153
(1669, 3)

In [7]:
df['dim_x'] = 1
df['dim_y'] = 2
df = df[df.A.between(1,5) & df.M.between(1,5)]
df = df.reset_index()
print(df.shape)
df.head()


names = ['_'.join(row.split('_')[:-1]) for row in list(df['index'])]
#names = list(set(names))

df['fileName'] = names

(1648, 6)

In [8]:
df.to_csv('/home/morarica/Developer/SepMe/data/orig_data/human_reduced_results.csv', index=False)

## 2. Plot inputs

In [14]:
def get_dimred_data(df, input_folder, save_folder, fig_folder):
    found = 0
    not_found = []
    names = ['_'.join(row.split('_')[:-1]) for row in list(df['index'])]
    names = list(set(names))
    
    for i, nn in enumerate(names):
        process_one_dimred.remote(i, names, nn, input_folder, df, save_folder, fig_folder)
    return

In [15]:
input_folder = '/home/morarica/Developer/SepMe/data/orig_data/input_data/Reduced_orig_data/'
save_folder = '/home/morarica/Developer/SepMe/data/orig_data/input_data/reduced_clean/'
fig_folder = '/home/morarica/Developer/SepMe/data/orig_data/figures/reduced_data/'

get_dimred_data(df, input_folder, save_folder, fig_folder)

(pid=8682) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8670) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8677) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8669) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8681) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8666) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8667) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8672) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8671) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8680) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8664) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8665) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8668) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8674) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8675) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8678) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8683) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8673) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8676) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8679) SepMe - INFO - MLFLOW_TRACKING_URI - http://localhost:5000
(pid=8682) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8682)   from collections import Iterable
(pid=8677) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8677)   from collections import Iterable
(pid=8669) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8669)   from collections import Iterable
(pid=8666) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8666)   from collections import Iterable
(pid=8667) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8667)   from collections import Iterable
(pid=8672) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8672)   from collections import Iterable
(pid=8671) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8671)   from collections import Iterable
(pid=8680) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8680)   from collections import Iterable
(pid=8664) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8664)   from collections import Iterable
(pid=8668) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8668)   from collections import Iterable
(pid=8674) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8674)   from collections import Iterable
(pid=8675) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8675)   from collections import Iterable
(pid=8678) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8678)   from collections import Iterable
(pid=8683) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8683)   from collections import Iterable
(pid=8673) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8673)   from collections import Iterable
(pid=8676) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8676)   from collections import Iterable
(pid=8679) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8679)   from collections import Iterable
(pid=8681) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8681)   from collections import Iterable
(pid=8670) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8670)   from collections import Iterable
(pid=8665) /home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/numba/types/containers.py:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
(pid=8665)   from collections import Iterable
(pid=8670) Processing file 0/216. Name: interleaved_100_200_15d_0_notcramped_notrotated_tSNE
(pid=8677) Processing file 2/216. Name: boston_PCA
(pid=8669) Processing file 13/216. Name: hiv_tSNE
(pid=8666) Processing file 9/216. Name: interleaved_100_500_3_25_cramped_rotated_RobPCA
(pid=8667) Processing file 5/216. Name: musicnetgroups_PCA
(pid=8672) Processing file 17/216. Name: interleaved_100_200_10d_25_cramped_rotated_PCA
(pid=8671) Processing file 10/216. Name: fisheries_clusteredByEscapementTarget_tSNE
(pid=8664) Processing file 3/216. Name: grid10_3d_RobPCA
(pid=8668) Processing file 8/216. Name: grid10_3d_PCA
(pid=8674) Processing file 1/216. Name: olive_RobPCA
(pid=8675) Processing file 7/216. Name: parkinsons_abs_croped_PCA
(pid=8678) Processing file 4/216. Name: interleaved_100_200_15d_0_notcramped_notrotated_RobPCA
(pid=8683) Processing file 11/216. Name: wine_tSNE
(pid=8676) Processing file 12/216. Name: boston_tSNE
(pid=8682) Processing file 14/216. Name: tse300_PCA
(pid=8670) File not found: interleaved_100_200_15d_0_notcramped_notrotated_tSNE_2.csv
(pid=8670) Processing file 23/216. Name: ms_interleaved_120_240_3d_25_centeredClusters_tSNE
(pid=8670) File not found: ms_interleaved_120_240_3d_25_centeredClusters_tSNE_2.csv
(pid=8670) Processing file 25/216. Name: interleaved_100_200_4d_0_notcramped_notrotated_GlimmerMDS
(pid=8669) File not found: hiv_tSNE_2.csv
(pid=8669) Processing file 20/216. Name: italianwines_GlimmerMDS
(pid=8669) Classes: 13
(pid=8671) File not found: fisheries_clusteredByEscapementTarget_tSNE_2.csv
(pid=8671) Processing file 22/216. Name: interleaved_100_500_3_25_cramped_rotated_GlimmerMDS
(pid=8665) Processing file 19/216. Name: twosquare_tSNE
(pid=8665) File not found: twosquare_tSNE_2.csv
(pid=8665) Processing file 26/216. Name: ms_interleaved_120_240_3d_50_centeredClusters_tSNE
(pid=8665) File not found: ms_interleaved_120_240_3d_50_centeredClusters_tSNE_2.csv
(pid=8665) Processing file 27/216. Name: interleaved_100_200_5d_0_notcramped_notrotated_tSNE
(pid=8665) File not found: interleaved_100_200_5d_0_notcramped_notrotated_tSNE_2.csv
(pid=8665) Processing file 28/216. Name: ms_interleaved_60_120_3d_25_centeredClusters_tSNE
(pid=8665) File not found: ms_interleaved_60_120_3d_25_centeredClusters_tSNE_2.csv
(pid=8665) Processing file 29/216. Name: interleaved_100_200_4d_25_cramped_rotated_GlimmerMDS
(pid=8678) Classes: 15
(pid=8683) File not found: wine_tSNE_2.csv
(pid=8683) Processing file 24/216. Name: cars03Cropped_d1_PCA
(pid=8673) Processing file 16/216. Name: ms_interleaved_40_80_3d_0_tSNE
(pid=8673) File not found: ms_interleaved_40_80_3d_0_tSNE_2.csv
(pid=8673) Processing file 30/216. Name: world_9d_tSNE
(pid=8673) File not found: world_9d_tSNE_2.csv
(pid=8673) Processing file 31/216. Name: interleaved_100_200_6d_25_cramped_rotated_GlimmerMDS
(pid=8676) File not found: boston_tSNE_2.csv
(pid=8676) Processing file 21/216. Name: ms_interleaved_400_800_3d_0_GlimmerMDS
(pid=8679) Processing file 18/216. Name: interleaved_250_500_3_0_notCramped_rotated_RobPCA
(pid=8681) Processing file 6/216. Name: musicnetgroups_tSNE
(pid=8681) File not found: musicnetgroups_tSNE_2.csv
(pid=8681) Processing file 32/216. Name: ms_interleaved_60_120_3d_0_centeredClusters_tSNE
(pid=8681) File not found: ms_interleaved_60_120_3d_0_centeredClusters_tSNE_2.csv
(pid=8681) Processing file 33/216. Name: grid10_3d_GlimmerMDS

(pid=8680) Processing file 15/216. Name: cars03Cropped_d1_RobPCA
(pid=8677) Processing file 34/216. Name: grid6_4d_tSNE
(pid=8677) File not found: grid6_4d_tSNE_2.csv
(pid=8677) Processing file 35/216. Name: breast_tSNE
(pid=8677) File not found: breast_tSNE_2.csv
(pid=8677) Processing file 36/216. Name: ms_interleaved_60_120_3d_50_centeredClusters_tSNE
(pid=8677) File not found: ms_interleaved_60_120_3d_50_centeredClusters_tSNE_2.csv
(pid=8677) Processing file 37/216. Name: swanson_GlimmerMDS
(pid=8669) Processing file 38/216. Name: n500_tSNE
(pid=8669) File not found: n500_tSNE_2.csv
(pid=8669) Processing file 39/216. Name: n500_GlimmerMDS
(pid=8669) File not found: n500_GlimmerMDS_2.csv
(pid=8669) Processing file 40/216. Name: wdbc_class_1_2_RobPCA
(pid=8675) Processing file 41/216. Name: ms_interleaved_40_80_3d_0_PCA
(pid=8682) Processing file 42/216. Name: spambase_PCA
(pid=8667) Processing file 43/216. Name: tse300_tSNE
(pid=8667) File not found: tse300_tSNE_2.csv
(pid=8667) Processing file 44/216. Name: cars03Cropped_d3_GlimmerMDS
(pid=8667) Classes: 12
(pid=8674) Processing file 45/216. Name: abalone_GlimmerMDS
(pid=8674) Classes: 28
(pid=8675) Processing file 46/216. Name: tse300_GlimmerMDS
(pid=8665) Processing file 47/216. Name: JavierGeneratedData_3dinterleaved_5classes_PCA
(pid=8671) Processing file 48/216. Name: interleaved_100_200_5d_25_cramped_rotated_RobPCA
(pid=8666) Processing file 49/216. Name: breast_GlimmerMDS
(pid=8669) Processing file 50/216. Name: interleaved_100_200_6d_25_cramped_rotated_tSNE
(pid=8669) File not found: interleaved_100_200_6d_25_cramped_rotated_tSNE_2.csv
(pid=8669) Processing file 51/216. Name: shuttle_small_GlimmerMDS
(pid=8673) Processing file 52/216. Name: ionosphere_tSNE
(pid=8673) File not found: ionosphere_tSNE_2.csv
(pid=8673) Processing file 53/216. Name: UnEvenDensity_tSNE
(pid=8673) File not found: UnEvenDensity_tSNE_2.csv
(pid=8673) Processing file 54/216. Name: UnEvenDensity_GlimmerMDS
(pid=8675) Processing file 55/216. Name: grid6_4d_GlimmerMDS
(pid=8675) Classes: 16
(pid=8679) Processing file 56/216. Name: grid10_3d_tSNE
(pid=8679) File not found: grid10_3d_tSNE_2.csv
(pid=8679) Processing file 57/216. Name: twosquare_PCA
(pid=8681) Processing file 59/216. Name: interleaved_100_200_15d_25_cramped_rotated_tSNE
(pid=8681) File not found: interleaved_100_200_15d_25_cramped_rotated_tSNE_2.csv
(pid=8681) Processing file 60/216. Name: interleaved_100_200_4d_0_notcramped_notrotated_PCA
(pid=8664) Processing file 58/216. Name: fisheries_clusteredByEscapementTarget_RobPCA
(pid=8664) Classes: 11
(pid=8670) Processing file 61/216. Name: worldmap_RobPCA
(pid=8670) Classes: 13
(pid=8665) Processing file 62/216. Name: ms_interleaved_120_240_3d_25_centeredClusters_PCA
(pid=8664) Processing file 63/216. Name: ms_interleaved_40_80_3d_0_RobPCA
(pid=8666) Processing file 64/216. Name: ms_interleaved_60_120_3d_25_centeredClusters_RobPCA
(pid=8672) Processing file 65/216. Name: iris_tSNE
(pid=8672) File not found: iris_tSNE_2.csv
(pid=8672) Processing file 66/216. Name: JavierGeneratedData_3dinterleaved_3classes_tSNE
(pid=8672) File not found: JavierGeneratedData_3dinterleaved_3classes_tSNE_2.csv
(pid=8672) Processing file 67/216. Name: interleaved_100_200_10d_25_cramped_rotated_RobPCA
(pid=8670) Processing file 68/216. Name: iris_PCA
(pid=8671) Processing file 69/216. Name: hiv_GlimmerMDS
(pid=8664) Processing file 70/216. Name: fisheries_clusteredByHarvestRule_RobPCA
(pid=8664) Classes: 11
(pid=8676) Processing file 71/216. Name: ecoliproteins_PCA
(pid=8671) Processing file 72/216. Name: cars03Cropped_d1_GlimmerMDS
(pid=8670) Processing file 73/216. Name: swanson_tSNE
(pid=8670) File not found: swanson_tSNE_2.csv
(pid=8670) Processing file 74/216. Name: interleaved_100_200_5d_0_notcramped_notrotated_PCA
(pid=8666) Processing file 75/216. Name: ms_interleaved_40_80_3d_50_GlimmerMDS
(pid=8668) Processing file 76/216. Name: JavierGeneratedData_3dinterleaved_4classes_GlimmerMDS
(pid=8664) Processing file 77/216. Name: interleaved_100_200_5d_0_notcramped_notrotated_GlimmerMDS
(pid=8665) Processing file 78/216. Name: ms_interleaved_400_800_3d_50_tSNE
(pid=8665) File not found: ms_interleaved_400_800_3d_50_tSNE_2.csv
(pid=8665) Processing file 79/216. Name: cars03Cropped_d2_RobPCA
(pid=8665) Classes: 53
(pid=8678) Processing file 80/216. Name: grid6_4d_PCA
(pid=8678) Classes: 16
(pid=8666) Processing file 81/216. Name: wine_PCA
(pid=8677) Processing file 82/216. Name: worldmap_GlimmerMDS
(pid=8677) Classes: 13
(pid=8676) Processing file 83/216. Name: ms_interleaved_60_120_3d_25_centeredClusters_PCA
(pid=8679) Processing file 84/216. Name: ionosphere_PCA
(pid=8675) Processing file 85/216. Name: world_11d_RobPCA
(pid=8668) Processing file 86/216. Name: white_ballance_GlimmerMDS
(pid=8681) Processing file 87/216. Name: swanson_PCA
(pid=8666) Processing file 88/216. Name: tse300_RobPCA
(pid=8677) Processing file 89/216. Name: cereal_GlimmerMDS
(pid=8675) Processing file 90/216. Name: interleaved_100_200_10d_0_notcramped_notrotated_GlimmerMDS
(pid=8676) Processing file 91/216. Name: ms_interleaved_400_800_3d_0_tSNE
(pid=8676) File not found: ms_interleaved_400_800_3d_0_tSNE_2.csv
(pid=8676) Processing file 92/216. Name: ms_interleaved_400_800_3d_50_GlimmerMDS
(pid=8670) Processing file 93/216. Name: abalone_PCA
(pid=8670) Classes: 28
(pid=8679) Processing file 94/216. Name: interleaved_100_200_6d_25_cramped_rotated_RobPCA
(pid=8677) Processing file 95/216. Name: fisheries_clusteredByHarvestRule_tSNE
(pid=8677) File not found: fisheries_clusteredByHarvestRule_tSNE_2.csv
(pid=8677) Processing file 96/216. Name: ms_interleaved_60_120_3d_50_centeredClusters_PCA
(pid=8664) Processing file 97/216. Name: world_9d_GlimmerMDS
(pid=8666) Processing file 98/216. Name: spambase_GlimmerMDS
(pid=8673) Processing file 99/216. Name: interleaved_100_200_10d_0_notcramped_notrotated_RobPCA
(pid=8664) Processing file 100/216. Name: ms_interleaved_120_240_3d_50_centeredClusters_GlimmerMDS
(pid=8672) Processing file 101/216. Name: interleaved_100_200_15d_0_notcramped_notrotated_GlimmerMDS
(pid=8672) Classes: 15
(pid=8677) Processing file 102/216. Name: world_9d_PCA
(pid=8677) Processing file 103/216. Name: interleaved_100_200_10d_0_notcramped_notrotated_tSNE
(pid=8677) File not found: interleaved_100_200_10d_0_notcramped_notrotated_tSNE_2.csv
(pid=8677) Processing file 104/216. Name: iris_RobPCA
(pid=8677) Processing file 105/216. Name: JavierGeneratedData_3dinterleaved_4classes_PCA
(pid=8679) Processing file 106/216. Name: fisheries_clusteredByHarvestRule_PCA
(pid=8679) Classes: 11
(pid=8664) Processing file 107/216. Name: worldmap_PCA
(pid=8664) Classes: 13
(pid=8675) Processing file 108/216. Name: wine_GlimmerMDS
(pid=8679) Processing file 109/216. Name: interleaved_100_200_4d_25_cramped_rotated_RobPCA

(pid=8678) Processing file 110/216. Name: fisheries_clusteredByEscapementTarget_PCA
(pid=8678) Classes: 11
(pid=8677) Processing file 111/216. Name: JavierGeneratedData_3dinterleaved_3classes_PCA
(pid=8664) Processing file 112/216. Name: interleaved_100_200_6d_0_notcramped_notrotated_PCA
(pid=8675) Processing file 113/216. Name: n100_GlimmerMDS
(pid=8675) File not found: n100_GlimmerMDS_2.csv
(pid=8675) Processing file 114/216. Name: ms_interleaved_120_240_3d_25_centeredClusters_GlimmerMDS
(pid=8678) Processing file 115/216. Name: ms_interleaved_60_120_3d_0_centeredClusters_GlimmerMDS
(pid=8673) Processing file 116/216. Name: interleaved_100_500_3_25_cramped_rotated_tSNE
(pid=8673) File not found: interleaved_100_500_3_25_cramped_rotated_tSNE_2.csv
(pid=8673) Processing file 117/216. Name: ms_interleaved_40_80_3d_50_RobPCA
(pid=8676) Processing file 118/216. Name: JavierGeneratedData_3dinterleaved_5classes_GlimmerMDS
(pid=8679) Processing file 119/216. Name: interleaved_100_200_5d_0_notcramped_notrotated_RobPCA
(pid=8678) Processing file 120/216. Name: interleaved_100_200_15d_0_notcramped_notrotated_PCA
(pid=8678) Classes: 15
(pid=8673) Processing file 121/216. Name: cars03Cropped_d2_GlimmerMDS
(pid=8673) Classes: 53
(pid=8677) Processing file 122/216. Name: italianwines_RobPCA
(pid=8677) Classes: 13
(pid=8675) Processing file 123/216. Name: ms_interleaved_400_800_3d_50_PCA
(pid=8677) Processing file 124/216. Name: ms_interleaved_400_800_3d_50_RobPCA
(pid=8672) Processing file 125/216. Name: olive_GlimmerMDS
(pid=8664) Processing file 126/216. Name: yeast_PCA
(pid=8676) Processing file 127/216. Name: JavierGeneratedData_3dinterleaved_4classes_RobPCA
(pid=8679) Processing file 128/216. Name: cars03Cropped_d2_PCA
(pid=8679) Classes: 53
(pid=8674) Processing file 129/216. Name: interleaved_100_200_5d_25_cramped_rotated_tSNE
(pid=8674) File not found: interleaved_100_200_5d_25_cramped_rotated_tSNE_2.csv
(pid=8674) Processing file 130/216. Name: interleaved_250_500_3_0_notCramped_rotated_PCA
(pid=8676) Processing file 131/216. Name: world_11d_PCA
(pid=8672) Processing file 132/216. Name: fisheries_clusteredByHarvestRule_GlimmerMDS
(pid=8672) Classes: 11
(pid=8676) Processing file 133/216. Name: n100_PCA
(pid=8676) File not found: n100_PCA_data.csv
(pid=8676) Processing file 134/216. Name: interleaved_100_200_6d_0_notcramped_notrotated_tSNE
(pid=8676) File not found: interleaved_100_200_6d_0_notcramped_notrotated_tSNE_2.csv
(pid=8676) Processing file 135/216. Name: abalone_RobPCA
(pid=8676) Classes: 28
(pid=8672) Processing file 136/216. Name: boston_RobPCA
(pid=8672) Processing file 137/216. Name: ms_interleaved_40_80_3d_50_tSNE
(pid=8672) File not found: ms_interleaved_40_80_3d_50_tSNE_2.csv
(pid=8672) Processing file 138/216. Name: olive_tSNE
(pid=8672) File not found: olive_tSNE_2.csv
(pid=8672) Processing file 139/216. Name: wdbc_class_1_2_GlimmerMDS
(pid=8675) Processing file 140/216. Name: wdbc_class_1_2_tSNE
(pid=8675) File not found: wdbc_class_1_2_tSNE_2.csv
(pid=8675) Processing file 141/216. Name: interleaved_250_500_3_0_notCramped_rotated_GlimmerMDS
(pid=8678) Processing file 142/216. Name: ms_interleaved_120_240_3d_25_centeredClusters_RobPCA
(pid=8664) Processing file 143/216. Name: interleaved_100_200_6d_0_notcramped_notrotated_GlimmerMDS
(pid=8677) Processing file 144/216. Name: ms_interleaved_60_120_3d_0_centeredClusters_RobPCA
(pid=8674) Processing file 145/216. Name: JavierGeneratedData_3dinterleaved_3classes_RobPCA
(pid=8672) Processing file 146/216. Name: interleaved_100_200_10d_25_cramped_rotated_GlimmerMDS
(pid=8670) Processing file 147/216. Name: ms_interleaved_60_120_3d_25_centeredClusters_GlimmerMDS
(pid=8677) Processing file 148/216. Name: parkinsons_abs_croped_RobPCA
(pid=8678) Processing file 149/216. Name: ms_interleaved_40_80_3d_50_PCA
(pid=8674) Processing file 150/216. Name: white_ballance_RobPCA
(pid=8664) Processing file 151/216. Name: musicnetgroups_GlimmerMDS
(pid=8677) Processing file 152/216. Name: world_11d_GlimmerMDS
(pid=8678) Processing file 153/216. Name: worldmap_tSNE
(pid=8678) File not found: worldmap_tSNE_2.csv
(pid=8678) Processing file 154/216. Name: boston_GlimmerMDS
(pid=8670) Processing file 155/216. Name: wine_RobPCA
(pid=8675) Processing file 156/216. Name: efashion_PCA
(pid=8677) Processing file 157/216. Name: interleaved_100_200_5d_25_cramped_rotated_GlimmerMDS
(pid=8678) Processing file 158/216. Name: interleaved_100_200_6d_0_notcramped_notrotated_RobPCA
(pid=8664) Processing file 159/216. Name: twosquare_RobPCA
(pid=8681) Processing file 160/216. Name: ms_interleaved_120_240_3d_50_centeredClusters_PCA
(pid=8670) Processing file 161/216. Name: grid6_4d_RobPCA
(pid=8670) Classes: 16
(pid=8666) Processing file 162/216. Name: shuttle_big_GlimmerMDS
(pid=8668) Processing file 163/216. Name: white_ballance_PCA
(pid=8667) Processing file 164/216. Name: bbdm13_PCA
(pid=8672) Processing file 165/216. Name: JavierGeneratedData_3dinterleaved_4classes_tSNE
(pid=8672) File not found: JavierGeneratedData_3dinterleaved_4classes_tSNE_2.csv
(pid=8672) Processing file 166/216. Name: n500_RobPCA
(pid=8672) File not found: n500_RobPCA_data.csv
(pid=8672) Processing file 167/216. Name: cereal_PCA
(pid=8667) Processing file 168/216. Name: ms_interleaved_400_800_3d_0_RobPCA
(pid=8681) Processing file 169/216. Name: interleaved_100_200_4d_25_cramped_rotated_tSNE
(pid=8681) File not found: interleaved_100_200_4d_25_cramped_rotated_tSNE_2.csv
(pid=8681) Processing file 170/216. Name: twosquare_GlimmerMDS
(pid=8677) Processing file 171/216. Name: bbdm13_tSNE
(pid=8677) File not found: bbdm13_tSNE_2.csv
(pid=8677) Processing file 172/216. Name: cars03Cropped_d3_RobPCA
(pid=8677) Classes: 12
(pid=8672) Processing file 173/216. Name: UnEvenDensity_PCA
(pid=8678) Processing file 174/216. Name: ms_interleaved_40_80_3d_0_GlimmerMDS
(pid=8671) Processing file 175/216. Name: interleaved_100_500_3_25_cramped_rotated_PCA
(pid=8678) Processing file 177/216. Name: ms_interleaved_120_240_3d_50_centeredClusters_RobPCA
(pid=8683) Processing file 176/216. Name: ms_interleaved_400_800_3d_0_PCA
(pid=8681) Processing file 178/216. Name: interleaved_100_200_5d_25_cramped_rotated_PCA
(pid=8670) Processing file 179/216. Name: bbdm13_GlimmerMDS
(pid=8678) Processing file 180/216. Name: shuttle_small_PCA
(pid=8664) Processing file 181/216. Name: world_11d_tSNE
(pid=8664) File not found: world_11d_tSNE_2.csv
(pid=8664) Processing file 182/216. Name: interleaved_100_200_10d_25_cramped_rotated_tSNE
(pid=8664) File not found: interleaved_100_200_10d_25_cramped_rotated_tSNE_2.csv
(pid=8664) Processing file 183/216. Name: interleaved_100_200_4d_25_cramped_rotated_PCA
(pid=8671) Processing file 184/216. Name: JavierGeneratedData_3dinterleaved_5classes_tSNE
(pid=8671) File not found: JavierGeneratedData_3dinterleaved_5classes_tSNE_2.csv
(pid=8671) Processing file 185/216. Name: musicnetgroups_RobPCA

(pid=8670) Processing file 186/216. Name: shuttle_big_PCA
(pid=8676) Processing file 187/216. Name: JavierGeneratedData_3dinterleaved_3classes_GlimmerMDS
(pid=8681) Processing file 188/216. Name: efashion_RobPCA
(pid=8671) Processing file 189/216. Name: italianwines_PCA
(pid=8671) Classes: 13
(pid=8671) Processing file 190/216. Name: interleaved_100_200_4d_0_notcramped_notrotated_tSNE
(pid=8671) File not found: interleaved_100_200_4d_0_notcramped_notrotated_tSNE_2.csv
(pid=8671) Processing file 191/216. Name: ms_interleaved_60_120_3d_0_centeredClusters_PCA
(pid=8667) Processing file 192/216. Name: ms_interleaved_60_120_3d_50_centeredClusters_GlimmerMDS
(pid=8664) Processing file 193/216. Name: n100_RobPCA
(pid=8664) File not found: n100_RobPCA_data.csv
(pid=8664) Processing file 194/216. Name: n100_tSNE
(pid=8664) File not found: n100_tSNE_2.csv
(pid=8664) Processing file 195/216. Name: interleaved_250_500_3_0_notCramped_rotated_tSNE
(pid=8664) File not found: interleaved_250_500_3_0_notCramped_rotated_tSNE_2.csv
(pid=8664) Processing file 196/216. Name: breast_PCA
(pid=8676) Processing file 197/216. Name: italianwines_tSNE
(pid=8676) File not found: italianwines_tSNE_2.csv
(pid=8676) Processing file 198/216. Name: efashion_GlimmerMDS
(pid=8671) Processing file 199/216. Name: fisheries_clusteredByEscapementTarget_GlimmerMDS
(pid=8671) Classes: 11
(pid=8667) Processing file 200/216. Name: JavierGeneratedData_3dinterleaved_5classes_RobPCA
(pid=8683) Processing file 201/216. Name: iris_GlimmerMDS
(pid=8664) Processing file 202/216. Name: parkinsons_abs_croped_GlimmerMDS
(pid=8671) Processing file 203/216. Name: interleaved_100_200_4d_0_notcramped_notrotated_RobPCA
(pid=8683) Processing file 204/216. Name: interleaved_100_200_15d_25_cramped_rotated_RobPCA
(pid=8683) Classes: 15
(pid=8680) Processing file 206/216. Name: interleaved_100_200_6d_25_cramped_rotated_PCA
(pid=8664) Processing file 205/216. Name: interleaved_100_200_15d_25_cramped_rotated_PCA
(pid=8664) Classes: 15
(pid=8667) Processing file 207/216. Name: ecoliproteins_GlimmerMDS
(pid=8667) Processing file 208/216. Name: wdbc_class_1_2_PCA
(pid=8673) Processing file 209/216. Name: cereal_tSNE
(pid=8673) File not found: cereal_tSNE_2.csv
(pid=8673) Processing file 210/216. Name: cars03Cropped_d3_PCA
(pid=8673) Classes: 12
(pid=8680) Processing file 211/216. Name: interleaved_100_200_15d_25_cramped_rotated_GlimmerMDS
(pid=8680) Classes: 15
(pid=8671) Processing file 212/216. Name: interleaved_100_200_10d_0_notcramped_notrotated_PCA
(pid=8667) Processing file 213/216. Name: n500_PCA
(pid=8667) File not found: n500_PCA_data.csv
(pid=8667) Processing file 214/216. Name: ms_interleaved_60_120_3d_50_centeredClusters_RobPCA
(pid=8667) Processing file 215/216. Name: olive_PCA

## 3. Plot dimensions in original data

In [13]:
from sklearn.decomposition import PCA
from sklearn.manifold import Isomap, TSNE, LocallyLinearEmbedding, MDS

@ray.remote
def add_dimreds(orig_dir, save_dir, file):
    
    if os.path.exists(save_dir + file):
        #print('File was already processed. Skipping: {}'.format(save_dir + file))
        return pd.DataFrame({})
    
    df = pd.read_csv(orig_dir + file)
    
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    ndf = df.select_dtypes(include=numerics)
    ndf = ndf.iloc[:,:-1].copy()
    
    
    
    print('Applying UMAP..')
    reducer = umap.UMAP()
    embedding = reducer.fit_transform(ndf)
    df['umap1'] = embedding[:,0]
    df['umap2'] = embedding[:,1]
    
    print('Applying PCA..')
    pca = PCA(n_components=3, whiten=True)
    embedding = pca.fit_transform(ndf) 
    df['pca1'] = embedding[:,0]
    df['pca2'] = embedding[:,1]
    
    print('Applying Isomap..')
    iso = Isomap(n_components=2, n_neighbors=3)
    embedding = iso.fit_transform(ndf) 
    df['iso1'] = embedding[:,0]
    df['iso2'] = embedding[:,1]
    
    print('Applying LLE..')
    lle = LocallyLinearEmbedding(n_components=2, eigen_solver='dense')
    embedding = lle.fit_transform(ndf) 
    df['lle1'] = embedding[:,0]
    df['lle2'] = embedding[:,1]
    
    print('Applying tSNE..')
    tsne = TSNE(n_components=2)
    embedding = tsne.fit_transform(ndf) 
    df['tsn1'] = embedding[:,0]
    df['tsn2'] = embedding[:,1]
    
    print('Applying non-metric MDS..')
    mds = MDS(n_components=2, metric=False)
    embedding = mds.fit_transform(ndf) 
    df['mds1'] = embedding[:,0]
    df['mds2'] = embedding[:,1]
    
    dr_cols = ['pca1', 'pca2', 'iso1', 'iso2', 'tsn1', 'tsn2', 'lle1', 'lle2', 'umap1', 'umap2', 'mds1', 'mds2']
    
    df = df[dr_cols + list(ndf.columns) + ['class']]
    df.loc[:, dr_cols+ ndf.columns] = minmax_scale(df.loc[:, dr_cols + ndf.columns])
    
    
    print(df.columns)
    df.to_csv(save_dir+file, index=False)
    
    return df
    
    
@ray.remote
def save_and_plot_all_dimensions(file, orig_dir, save_dir, fig_dir, class_cols):     
    df = pd.read_csv(orig_dir + file)
    
    c1s = []
    for i, c1 in enumerate(df.columns):
        if not np.issubdtype(df[c1].dtype, np.number) or (c1 in class_cols) or i>25:
            continue
            

        c1s.append(c1)
        for i, c2 in enumerate(df.columns[:-1]):
            if (not np.issubdtype(df[c1].dtype, np.number)) or (c2 in c1s) or (c2 in class_cols) or i>25:
                continue

            file_name = save_dir + file.split('.csv')[0] + '_{}-{}'.format(c1,c2) + '.csv'
            fig_name = fig_dir + file.split('.csv')[0] + '_{}-{}'.format(c1,c2) + '.png'

            if os.path.exists(file_name) is True:
                #print('File was already processed. Skipping: {}'.format(file_name.split('/')[-1]))
                continue

            try: 
                print('{} (len: {}): ({}-{})'.format(file, len(df),c1,c2))
                ddf, circles = preprocess_df(df, [c1, c2], size = 0.5, 
                                         occlusion = 0.1, save=file_name, sort=True)
                fig, ax = plt.subplots(figsize = (20,20))
                
                plot_colored_circles(ax, ddf, circles)
                ax.tick_params(axis='both', which='major', labelsize=30)
                
                fig.savefig(fig_name)
                plt.close('all')

            except Exception as e: 
                print('File {} was not processed for columns ({},{}).'.format(file,c1,c2))
                print(e)
                print('')

## 4. Calculate DimRed of Orig Data

In [14]:
# import warnings
# warnings.filterwarnings('ignore')

# orig_dir = "/home/morarica/Developer/SepMe/data/orig_data/input_data/Orig_data/"
# save_dir = "/home/morarica/Developer/SepMe/data/orig_data/input_data/enhanced_data/"
# fig_dir = "/home/morarica/Developer/SepMe/data/orig_data/figures/orig_dim_data/"
# class_cols = ['class']


# files = []
# results = []

# for i, file in enumerate(os.listdir(orig_dir)):
#     if file.endswith('.csv'):
#         files.append(file)
#         print('Processing file {}/{}. Name: {}'.format(i, len(os.listdir(orig_dir)), file))
        
#         results.append(add_dimreds.remote(orig_dir, save_dir, file))

# #results = ray.get(results)

## 5. Compute all scatterplots for enhanced data

In [ ]:
orig_dir = "/home/morarica/Developer/SepMe/data/orig_data/input_data/enhanced_data/"
save_dir = "/home/morarica/Developer/SepMe/data/orig_data/input_data/enhanced_dim_data/"
fig_dir = "/home/morarica/Developer/SepMe/data/orig_data/figures/enhanced_dim_data/"
class_cols = ['class']
results = []

for i, file in enumerate(os.listdir(orig_dir)):
    if file.endswith('.csv'):
        #print('Processing file {}/{}. Name: {}'.format(i, len(os.listdir(orig_dir)), file))
        if file in ['shuttle_small_origClassLabels.csv', 'shuttle_big.csv', 'grid6_5d.csv', 
                    'cars03Cropped_d2.csv', 'swanson.csv', 'spambase.csv', 'cars03Cropped_d3.csv',
                    'ionosphere.csv']:
            continue
        
        results.append(save_and_plot_all_dimensions.remote(file, orig_dir, save_dir, fig_dir, class_cols))
        
results = ray.get(results)

(pid=26454) ionosphere.csv (len: 351): (pca1-D1)
(pid=26443) bbdm13.csv (len: 200): (pca1-V4)
(pid=26443) File bbdm13.csv was not processed for columns (pca1,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (pca1-V7)
(pid=26443) File bbdm13.csv was not processed for columns (pca1,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26438) ecoliproteins.csv (len: 332): (pca1-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (pca1,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (pca1-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (pca1,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26454) File ionosphere.csv was not processed for columns (pca1,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (pca1-D2)
(pid=26441) ms_interleaved_60_120_3d_0_centeredClusters.csv (len: 309): (lle1-lle2)
(pid=26441) File ms_interleaved_60_120_3d_0_centeredClusters.csv was not processed for columns (lle1,lle2).
(pid=26441) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26441)
(pid=26454) File ionosphere.csv was not processed for columns (pca1,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (pca2-D1)
(pid=26454) File ionosphere.csv was not processed for columns (pca2,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (pca2-D2)
(pid=26454) File ionosphere.csv was not processed for columns (pca2,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (iso1-D1)
(pid=26442) musicnetgroups.csv (len: 171): (lle1-x7)
(pid=26443) bbdm13.csv (len: 200): (pca2-V4)
(pid=26443) File bbdm13.csv was not processed for columns (pca2,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (pca2-V7)
(pid=26443) File bbdm13.csv was not processed for columns (pca2,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (iso1-V4)
(pid=26438) ecoliproteins.csv (len: 332): (pca2-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (pca2,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (pca2-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (pca2,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (iso1-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (iso1,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (iso1-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (iso1,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (iso2-d3)
(pid=26454) File ionosphere.csv was not processed for columns (iso1,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (iso1-D2)
(pid=26454) File ionosphere.csv was not processed for columns (iso1,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (iso2-D1)
(pid=26443) File bbdm13.csv was not processed for columns (iso1,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (iso1-V7)
(pid=26443) File bbdm13.csv was not processed for columns (iso1,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (iso2-V4)
(pid=26443) File bbdm13.csv was not processed for columns (iso2,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (iso2-V7)
(pid=26443) File bbdm13.csv was not processed for columns (iso2,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (tsn1-V4)
(pid=26440) shuttle_small.csv (len: 14500): (lle1-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (iso2,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (iso2-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (iso2,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (tsn1-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (tsn1,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (tsn1-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (tsn1,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26454) File ionosphere.csv was not processed for columns (iso2,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (iso2-D2)
(pid=26454) File ionosphere.csv was not processed for columns (iso2,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (tsn1-D1)
(pid=26454) File ionosphere.csv was not processed for columns (tsn1,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (tsn1-D2)
(pid=26454) File ionosphere.csv was not processed for columns (tsn1,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (tsn2-D1)
(pid=26454) File ionosphere.csv was not processed for columns (tsn2,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (tsn2-D2)
(pid=26443) File bbdm13.csv was not processed for columns (tsn1,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (tsn1-V7)
(pid=26443) File bbdm13.csv was not processed for columns (tsn1,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (tsn2-V4)
(pid=26443) File bbdm13.csv was not processed for columns (tsn2,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (tsn2-V7)
(pid=26443) File bbdm13.csv was not processed for columns (tsn2,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (lle1-V4)
(pid=26443) File bbdm13.csv was not processed for columns (lle1,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (lle1-V7)
(pid=26438) ecoliproteins.csv (len: 332): (tsn2-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (tsn2,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (tsn2-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (tsn2,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (lle1-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (lle1,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (lle1-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (lle1,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (lle2-d3)

(pid=26454) File ionosphere.csv was not processed for columns (tsn2,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (lle1-D1)
(pid=26454) File ionosphere.csv was not processed for columns (lle1,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (lle1-D2)
(pid=26454) File ionosphere.csv was not processed for columns (lle1,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (lle2-D1)
(pid=26454) File ionosphere.csv was not processed for columns (lle2,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (lle2-D2)
(pid=26452) swissroll.csv (len: 1809): (pca1-Col2)
(pid=26452) Classes: 16
(pid=26443) File bbdm13.csv was not processed for columns (lle1,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (lle2-V4)
(pid=26443) File bbdm13.csv was not processed for columns (lle2,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (lle2-V7)
(pid=26443) File bbdm13.csv was not processed for columns (lle2,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (umap1-V4)
(pid=26443) File bbdm13.csv was not processed for columns (umap1,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (umap1-V7)
(pid=26443) File bbdm13.csv was not processed for columns (umap1,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (umap2-V4)
(pid=26438) File ecoliproteins.csv was not processed for columns (lle2,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (lle2-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (lle2,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (umap1-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (umap1,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (umap1-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (umap1,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (umap2-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (umap2,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (umap2-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (umap2,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26454) File ionosphere.csv was not processed for columns (lle2,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (umap1-D1)
(pid=26454) File ionosphere.csv was not processed for columns (umap1,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (umap1-D2)
(pid=26454) File ionosphere.csv was not processed for columns (umap1,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (umap2-D1)
(pid=26454) File ionosphere.csv was not processed for columns (umap2,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (umap2-D2)
(pid=26445) grid6_4d.csv (len: 1296): (pca1-d3)
(pid=26445) Classes: 16
(pid=26443) File bbdm13.csv was not processed for columns (umap2,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (umap2-V7)
(pid=26443) File bbdm13.csv was not processed for columns (umap2,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (mds1-V4)
(pid=26443) File bbdm13.csv was not processed for columns (mds1,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (mds1-V7)
(pid=26443) File bbdm13.csv was not processed for columns (mds1,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (mds2-V4)
(pid=26451) yeast.csv (len: 1452): (pca1-X5)
(pid=26451) File yeast.csv was not processed for columns (pca1,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (pca2-X5)
(pid=26456) grid6_3d.csv (len: 216): (pca1-d2)
(pid=26438) ecoliproteins.csv (len: 332): (mds1-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (mds1,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (mds1-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (mds1,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (mds2-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (mds2,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (mds2-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (mds2,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d1-d3)
(pid=26438) File ecoliproteins.csv was not processed for columns (d1,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d1-d4)
(pid=26454) File ionosphere.csv was not processed for columns (umap2,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26443) File bbdm13.csv was not processed for columns (mds2,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (mds2-V7)
(pid=26438) File ecoliproteins.csv was not processed for columns (d1,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26451) File yeast.csv was not processed for columns (pca2,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26438) ecoliproteins.csv (len: 332): (d2-d3)
(pid=26454) ionosphere.csv (len: 351): (mds1-D1)
(pid=26454) File ionosphere.csv was not processed for columns (mds1,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (mds1-D2)
(pid=26454) File ionosphere.csv was not processed for columns (mds1,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (mds2-D1)
(pid=26454) File ionosphere.csv was not processed for columns (mds2,D1).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (mds2-D2)
(pid=26454) File ionosphere.csv was not processed for columns (mds2,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D2)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D2).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D3)
(pid=26443) File bbdm13.csv was not processed for columns (mds2,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V1-V4)
(pid=26443) File bbdm13.csv was not processed for columns (V1,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V1-V7)
(pid=26443) File bbdm13.csv was not processed for columns (V1,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V2-V4)
(pid=26443) File bbdm13.csv was not processed for columns (V2,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V2-V7)
(pid=26443) File bbdm13.csv was not processed for columns (V2,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V3-V4)
(pid=26451) yeast.csv (len: 1452): (iso1-X5)
(pid=26451) File yeast.csv was not processed for columns (iso1,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (iso2-X5)
(pid=26451) File yeast.csv was not processed for columns (iso2,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (tsn1-X5)
(pid=26444) cereal.csv (len: 77): (Fibre-Complex_carbohydrates)
(pid=26444) File cereal.csv was not processed for columns (Fibre,Complex_carbohydrates).
(pid=26444) float division by zero
(pid=26444)
(pid=26444) cereal.csv (len: 77): (Fibre-Sugars)
(pid=26438) File ecoliproteins.csv was not processed for columns (d2,d3).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d2-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (d2,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d3-d4)
(pid=26438) File ecoliproteins.csv was not processed for columns (d3,d4).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d3-d5)
(pid=26438) File ecoliproteins.csv was not processed for columns (d3,d5).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d3-d6)
(pid=26438) File ecoliproteins.csv was not processed for columns (d3,d6).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d3-d7)
(pid=26438) File ecoliproteins.csv was not processed for columns (d3,d7).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d4-d5)
(pid=26438) File ecoliproteins.csv was not processed for columns (d4,d5).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d4-d6)
(pid=26451) File yeast.csv was not processed for columns (tsn1,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26438) File ecoliproteins.csv was not processed for columns (d4,d6).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) ecoliproteins.csv (len: 332): (d4-d7)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D3).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D4)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D4).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D5)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D5).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D6)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D6).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D7)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D7).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D8)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D8).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D9)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D9).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D10)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D10).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D11)
(pid=26442) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.89574880341997398 0.0052853429831662933 at 0.89574880341997398 0.0052853429831662933
(pid=26442) File musicnetgroups.csv was not processed for columns (lle1,x7).
(pid=26442) No Shapely geometry can be created from null value
(pid=26442)
(pid=26443) File bbdm13.csv was not processed for columns (V3,V4).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V3-V7)
(pid=26443) File bbdm13.csv was not processed for columns (V3,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V5)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V5).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V6)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V6).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V7)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V8)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V8).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V9)
(pid=26455) world_11d.csv (len: 151): (d10-d11)
(pid=26455) File world_11d.csv was not processed for columns (d10,d11).
(pid=26455) float division by zero
(pid=26455)
(pid=26455) world_11d.csv (len: 151): (d10-d12)
(pid=26451) yeast.csv (len: 1452): (tsn2-X5)
(pid=26451) File yeast.csv was not processed for columns (tsn2,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (lle1-X5)
(pid=26451) File yeast.csv was not processed for columns (lle1,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (lle2-X5)
(pid=26451) File yeast.csv was not processed for columns (lle2,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (umap1-X5)
(pid=26451) File yeast.csv was not processed for columns (umap1,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (umap2-X5)
(pid=26444) File cereal.csv was not processed for columns (Fibre,Sugars).
(pid=26444) float division by zero
(pid=26444)
(pid=26444) cereal.csv (len: 77): (Fibre-Display_shelf)
(pid=26444) File cereal.csv was not processed for columns (Fibre,Display_shelf).
(pid=26444) float division by zero
(pid=26444)
(pid=26444) cereal.csv (len: 77): (Fibre-Potassium)
(pid=26444) File cereal.csv was not processed for columns (Fibre,Potassium).
(pid=26444) float division by zero
(pid=26444)
(pid=26444) cereal.csv (len: 77): (Sugars-Display_shelf)
(pid=26438) File ecoliproteins.csv was not processed for columns (d4,d7).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26438) UnEvenDensity-noName.csv (len: 905): (lle1-Col1)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V9).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V10)

(pid=26454) File ionosphere.csv was not processed for columns (D1,D11).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D12)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D12).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D13)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D13).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D1-D14)
(pid=26454) File ionosphere.csv was not processed for columns (D1,D14).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D3)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D3).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D4)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D4).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D5)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V10).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V11)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V11).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V12)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V12).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V4-V13)
(pid=26443) File bbdm13.csv was not processed for columns (V4,V13).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V5-V7)
(pid=26443) File bbdm13.csv was not processed for columns (V5,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V6-V7)
(pid=26443) File bbdm13.csv was not processed for columns (V6,V7).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26455) File world_11d.csv was not processed for columns (d10,d12).
(pid=26455) float division by zero
(pid=26455)
(pid=26455) efashion.csv (len: 3272): (iso1-d2)
(pid=26451) File yeast.csv was not processed for columns (umap2,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (mds1-X5)
(pid=26451) File yeast.csv was not processed for columns (mds1,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (mds2-X5)
(pid=26451) File yeast.csv was not processed for columns (mds2,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (X1-X5)
(pid=26451) File yeast.csv was not processed for columns (X1,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (X2-X5)
(pid=26444) File cereal.csv was not processed for columns (Sugars,Display_shelf).
(pid=26444) float division by zero
(pid=26444)
(pid=26444) cereal.csv (len: 77): (Sugars-Potassium)
(pid=26444) File cereal.csv was not processed for columns (Sugars,Potassium).
(pid=26444) float division by zero
(pid=26444)
(pid=26453) swanson.csv (len: 1875): (pca1-b_combat)
(pid=26438) File UnEvenDensity-noName.csv was not processed for columns (lle1,Col1).
(pid=26438) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26438)
(pid=26443) bbdm13.csv (len: 200): (V7-V8)
(pid=26451) File yeast.csv was not processed for columns (X2,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D5).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D6)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D6).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D7)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D7).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D8)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D8).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D9)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D9).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D10)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D10).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D11)
(pid=26442) spambase.csv (len: 4601): (pca1-lle1)
(pid=26443) File bbdm13.csv was not processed for columns (V7,V8).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V7-V9)
(pid=26443) File bbdm13.csv was not processed for columns (V7,V9).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V7-V10)
(pid=26443) File bbdm13.csv was not processed for columns (V7,V10).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V7-V11)
(pid=26443) File bbdm13.csv was not processed for columns (V7,V11).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V7-V12)
(pid=26443) File bbdm13.csv was not processed for columns (V7,V12).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V7-V13)
(pid=26451) yeast.csv (len: 1452): (X3-X5)
(pid=26451) File yeast.csv was not processed for columns (X3,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (X4-X5)
(pid=26451) File yeast.csv was not processed for columns (X4,X5).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (X5-X7)
(pid=26451) File yeast.csv was not processed for columns (X5,X7).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26451) yeast.csv (len: 1452): (X5-X8)
(pid=26451) File yeast.csv was not processed for columns (X5,X8).
(pid=26451) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26451)
(pid=26446) grid6_5d.csv (len: 7776): (pca1-d1)
(pid=26446) Classes: 32
(pid=26443) File bbdm13.csv was not processed for columns (V7,V13).
(pid=26443) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26443)
(pid=26450) grid10_4d.csv (len: 10000): (pca1-d2)
(pid=26450) Classes: 16
(pid=26454) File ionosphere.csv was not processed for columns (D2,D11).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D12)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D12).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D13)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D13).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26454) ionosphere.csv (len: 351): (D2-D14)
(pid=26454) File ionosphere.csv was not processed for columns (D2,D14).
(pid=26454) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26454)
(pid=26443) bbdm13.csv (len: 200): (V10-V11)
(pid=26443) File bbdm13.csv was not processed for columns (V10,V11).
(pid=26443) float division by zero
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V10-V12)
(pid=26443) File bbdm13.csv was not processed for columns (V10,V12).
(pid=26443) float division by zero
(pid=26443)
(pid=26443) bbdm13.csv (len: 200): (V10-V13)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (pca1-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (pca1,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (pca2-d1)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (pca1-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (pca1,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26443) File bbdm13.csv was not processed for columns (V10,V13).
(pid=26443) float division by zero
(pid=26443)
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (pca2,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (iso1-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (iso1,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (iso1-d2)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (pca2-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (pca2,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (iso1-d1)
(pid=26448) Classes: 12

(pid=26441) cars03Cropped_d1.csv (len: 7404): (d6-d11)
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (iso1,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (iso2-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (iso2,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (tsn1-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (tsn1,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (tsn2-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (tsn2,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (lle1-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (lle1,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (lle2-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (lle2,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (umap1-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (umap1,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (umap2-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (umap2,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (mds1-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (mds1,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (mds2-d1)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (mds2,d1).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d2)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d2).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d3)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d3).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d4)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d4).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d5)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d5).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d6)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d6).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d7)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d7).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d8)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d8).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d9)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d9).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d19)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d19).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d11)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d11).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d12)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d12).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d13)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d13).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d1-d14)
(pid=26448) Classes: 12
(pid=26448) File cars03Cropped_d3.csv was not processed for columns (d1,d14).
(pid=26448) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26448)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d8-d9)
(pid=26448) Classes: 12
(pid=26442) TopologyException: Input geom 1 is invalid: Self-intersection at or near point -0.0031925322636061435 0.6057310318527972 at -0.0031925322636061435 0.6057310318527972
(pid=26442) File spambase.csv was not processed for columns (pca1,lle1).
(pid=26442) No Shapely geometry can be created from null value
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (pca1-lle2)
(pid=26442) TopologyException: Input geom 1 is invalid: Self-intersection at or near point -0.0031916978289502386 0.5559819066970707 at -0.0031916978289502386 0.5559819066970707
(pid=26442) File spambase.csv was not processed for columns (pca1,lle2).
(pid=26442) No Shapely geometry can be created from null value
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (pca1-d4)
(pid=26442) File spambase.csv was not processed for columns (pca1,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (pca2-d4)
(pid=26442) File spambase.csv was not processed for columns (pca2,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (iso1-d4)
(pid=26442) File spambase.csv was not processed for columns (iso1,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (iso2-d4)
(pid=26442) File spambase.csv was not processed for columns (iso2,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (tsn1-d4)
(pid=26442) File spambase.csv was not processed for columns (tsn1,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (tsn2-d4)
(pid=26442) File spambase.csv was not processed for columns (tsn2,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (lle1-d4)
(pid=26442) File spambase.csv was not processed for columns (lle1,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (lle2-d4)
(pid=26442) File spambase.csv was not processed for columns (lle2,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (umap1-d4)
(pid=26442) File spambase.csv was not processed for columns (umap1,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (umap2-d4)
(pid=26442) File spambase.csv was not processed for columns (umap2,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (mds1-d4)
(pid=26442) File spambase.csv was not processed for columns (mds1,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (mds2-d4)

(pid=26442) File spambase.csv was not processed for columns (mds2,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d1-d4)
(pid=26442) File spambase.csv was not processed for columns (d1,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d2-d4)
(pid=26442) File spambase.csv was not processed for columns (d2,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d3-d4)
(pid=26442) File spambase.csv was not processed for columns (d3,d4).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d5)
(pid=26442) File spambase.csv was not processed for columns (d4,d5).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d6)
(pid=26442) File spambase.csv was not processed for columns (d4,d6).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d7)
(pid=26442) File spambase.csv was not processed for columns (d4,d7).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d8)
(pid=26442) File spambase.csv was not processed for columns (d4,d8).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d9)
(pid=26442) File spambase.csv was not processed for columns (d4,d9).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d10)
(pid=26442) File spambase.csv was not processed for columns (d4,d10).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d11)
(pid=26442) File spambase.csv was not processed for columns (d4,d11).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d12)
(pid=26442) File spambase.csv was not processed for columns (d4,d12).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d13)
(pid=26442) File spambase.csv was not processed for columns (d4,d13).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26442) spambase.csv (len: 4601): (d4-d14)
(pid=26442) File spambase.csv was not processed for columns (d4,d14).
(pid=26442) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26442)
(pid=26456) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.99999999999999989 -0.020833333333333332 at 0.99999999999999989 -0.020833333333333332
(pid=26456) File grid6_3d.csv was not processed for columns (pca1,d2).
(pid=26456) No Shapely geometry can be created from null value
(pid=26456)
(pid=26445) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.64114344053088324 -0.012938729237669141 at 0.64114344053088324 -0.012938729237669141
(pid=26445) File grid6_4d.csv was not processed for columns (pca1,d3).
(pid=26445) No Shapely geometry can be created from null value
(pid=26445)
(pid=26445) grid6_4d.csv (len: 1296): (pca2-d1)
(pid=26445) Classes: 16
(pid=26446) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.31313131313131337 -0.0054957223290051493 at 0.31313131313131337 -0.0054957223290051493
(pid=26446) File grid6_5d.csv was not processed for columns (pca1,d1).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (pca1-d2)
(pid=26446) Classes: 32
(pid=26444) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.69623670961091577 -0.0058288590625030796 at 0.69623670961091577 -0.0058288590625030796
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (iso1,d2).
(pid=26444) No Shapely geometry can be created from null value
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (iso2-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (iso2,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (tsn1-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (tsn1,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (tsn2-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (tsn2,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (lle1-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (lle1,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (lle2-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (lle2,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (umap1-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (umap1,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (umap2-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (umap2,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (mds1-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (mds1,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (mds2-d1)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (mds2,d1).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d2)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d2).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d3)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d3).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d4)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d4).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d5)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d5).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d6)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d6).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d7)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d7).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d8)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d8).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d9)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d9).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d19)
(pid=26444) Classes: 53

(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d19).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d11)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d11).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d12)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d12).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d13)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d13).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d1-d14)
(pid=26444) Classes: 53
(pid=26444) File cars03Cropped_d2.csv was not processed for columns (d1,d14).
(pid=26444) Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required.
(pid=26444)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d7-d8)
(pid=26444) Classes: 53
(pid=26446) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.26732673267326734 -0.0054228361416626316 at 0.26732673267326734 -0.0054228361416626316
(pid=26446) File grid6_5d.csv was not processed for columns (pca1,d2).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (pca1-d3)
(pid=26446) Classes: 32
(pid=26455) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.54993991366901795 0.013137144037023384 at 0.54993991366901795 0.013137144037023384
(pid=26455) File efashion.csv was not processed for columns (iso1,d2).
(pid=26455) No Shapely geometry can be created from null value
(pid=26455)
(pid=26455) efashion.csv (len: 3272): (iso1-d4)
(pid=26452) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.99999999999999989 -0.0094551169811118597 at 0.99999999999999989 -0.0094551169811118597
(pid=26452) File swissroll.csv was not processed for columns (pca1,Col2).
(pid=26452) No Shapely geometry can be created from null value
(pid=26452)
(pid=26446) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.35353535353535387 -0.0053075485975527924 at 0.35353535353535387 -0.0053075485975527924
(pid=26446) File grid6_5d.csv was not processed for columns (pca1,d3).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (pca1-d4)
(pid=26446) Classes: 32
(pid=26445) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.99999999999999956 -0.012757759076995719 at 0.99999999999999956 -0.012757759076995719
(pid=26445) File grid6_4d.csv was not processed for columns (pca2,d1).
(pid=26445) No Shapely geometry can be created from null value
(pid=26445)
(pid=26445) grid6_4d.csv (len: 1296): (iso1-d1)
(pid=26445) Classes: 16
(pid=26446) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.287128712871287 0.0054251055856379595 at 0.287128712871287 0.0054251055856379595
(pid=26446) File grid6_5d.csv was not processed for columns (pca1,d4).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (pca1-d5)
(pid=26446) Classes: 32
(pid=26445) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.50000000000191791 -0.013358821872733059 at 0.50000000000191791 -0.013358821872733059
(pid=26445) File grid6_4d.csv was not processed for columns (iso1,d1).
(pid=26445) No Shapely geometry can be created from null value
(pid=26445)
(pid=26445) grid6_4d.csv (len: 1296): (iso1-d2)
(pid=26445) Classes: 16
(pid=26445) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.50000000000194256 -0.013358821872733059 at 0.50000000000194256 -0.013358821872733059
(pid=26445) File grid6_4d.csv was not processed for columns (iso1,d2).
(pid=26445) No Shapely geometry can be created from null value
(pid=26445)
(pid=26445) grid6_4d.csv (len: 1296): (iso1-d3)
(pid=26445) Classes: 16
(pid=26445) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.5000000000019359 -0.013461715474082592 at 0.5000000000019359 -0.013461715474082592
(pid=26445) File grid6_4d.csv was not processed for columns (iso1,d3).
(pid=26445) No Shapely geometry can be created from null value
(pid=26445)
(pid=26445) grid6_4d.csv (len: 1296): (iso1-d4)
(pid=26445) Classes: 16
(pid=26445) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.50000000000189848 -0.013444401363413901 at 0.50000000000189848 -0.013444401363413901
(pid=26445) File grid6_4d.csv was not processed for columns (iso1,d4).
(pid=26445) No Shapely geometry can be created from null value
(pid=26445)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d8-d19)
(pid=26448) Classes: 12
(pid=26446) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.28712871287128705 -0.0054734319768728074 at 0.28712871287128705 -0.0054734319768728074
(pid=26446) File grid6_5d.csv was not processed for columns (pca1,d5).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (pca2-d2)
(pid=26446) Classes: 32
(pid=26446) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.27188614863318422 0.0054330711356226054 at 0.27188614863318422 0.0054330711356226054
(pid=26446) File grid6_5d.csv was not processed for columns (pca2,d2).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (pca2-d3)
(pid=26446) Classes: 32
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d7-d9)
(pid=26444) Classes: 53
(pid=26455) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.54993991366901795 -0.0071713889489283533 at 0.54993991366901795 -0.0071713889489283533
(pid=26455) File efashion.csv was not processed for columns (iso1,d4).
(pid=26455) No Shapely geometry can be created from null value
(pid=26455)
(pid=26455) efashion.csv (len: 3272): (year-d2)
(pid=26453) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.99813355419739402 -0.01118033988749895 at 0.99813355419739402 -0.01118033988749895
(pid=26453) File swanson.csv was not processed for columns (pca1,b_combat).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (pca1-b_fire)
(pid=26455) File efashion.csv was not processed for columns (year,d2).
(pid=26455) float division by zero
(pid=26455)
(pid=26455) efashion.csv (len: 3272): (year-d3)
(pid=26455) File efashion.csv was not processed for columns (year,d3).
(pid=26455) float division by zero
(pid=26455)
(pid=26455) efashion.csv (len: 3272): (year-d4)

(pid=26455) File efashion.csv was not processed for columns (year,d4).
(pid=26455) float division by zero
(pid=26455)
(pid=26446) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.26003888471902009 0.0054262413766240549 at 0.26003888471902009 0.0054262413766240549
(pid=26446) File grid6_5d.csv was not processed for columns (pca2,d3).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (pca2-d4)
(pid=26446) Classes: 32
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d6-d12)
(pid=26453) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.49959827543151342 -0.011656310103003923 at 0.49959827543151342 -0.011656310103003923
(pid=26453) File swanson.csv was not processed for columns (pca1,b_fire).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (pca1-r_fitness)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d8-d11)
(pid=26448) Classes: 12
(pid=26446) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.30898285745638127 -0.0054676110329981657 at 0.30898285745638127 -0.0054676110329981657
(pid=26446) File grid6_5d.csv was not processed for columns (pca2,d4).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (pca2-d5)
(pid=26446) Classes: 32
(pid=26446) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.25638254645264152 -0.0052948358880459843 at 0.25638254645264152 -0.0052948358880459843
(pid=26446) File grid6_5d.csv was not processed for columns (pca2,d5).
(pid=26446) No Shapely geometry can be created from null value
(pid=26446)
(pid=26446) grid6_5d.csv (len: 7776): (lle1-d2)
(pid=26446) Classes: 32
(pid=26453) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.75035051696002852 0.009800782002924684 at 0.75035051696002852 0.009800782002924684
(pid=26453) File swanson.csv was not processed for columns (pca1,r_fitness).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle1-b_combat)
(pid=26453) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.58204808005846354 -0.012160208158603528 at 0.58204808005846354 -0.012160208158603528
(pid=26453) File swanson.csv was not processed for columns (lle1,b_combat).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle1-b_sensor)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d8-d12)
(pid=26448) Classes: 12
(pid=26453) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.58204808005846298 -0.011948493522696866 at 0.58204808005846298 -0.011948493522696866
(pid=26453) File swanson.csv was not processed for columns (lle1,b_sensor).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle1-b_fire)
(pid=26453) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.58204808005846354 -0.011707322644771177 at 0.58204808005846354 -0.011707322644771177
(pid=26453) File swanson.csv was not processed for columns (lle1,b_fire).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle1-b_commr)
(pid=26453) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.5820480800584642 0.011846700442623061 at 0.5820480800584642 0.011846700442623061
(pid=26453) File swanson.csv was not processed for columns (lle1,b_commr).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle1-b_fitness)
(pid=26453) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.57818553520267424 0.012098534494631278 at 0.57818553520267424 0.012098534494631278
(pid=26453) File swanson.csv was not processed for columns (lle1,b_fitness).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle2-b_sensor)
(pid=26453) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.81769659688723073 -0.011942432911846539 at 0.81769659688723073 -0.011942432911846539
(pid=26453) File swanson.csv was not processed for columns (lle2,b_sensor).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle2-b_fire)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d7-d19)
(pid=26444) Classes: 53
(pid=26453) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.86067714300319975 -0.01185261639826901 at 0.86067714300319975 -0.01185261639826901
(pid=26453) File swanson.csv was not processed for columns (lle2,b_fire).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle2-b_commr)
(pid=26453) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.92368702583038209 -0.011799689541141613 at 0.92368702583038209 -0.011799689541141613
(pid=26453) File swanson.csv was not processed for columns (lle2,b_commr).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26453) swanson.csv (len: 1875): (lle2-b_fitness)
(pid=26453) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.86974055123997118 -0.0012906359848266265 at 0.86974055123997118 -0.0012906359848266265
(pid=26453) File swanson.csv was not processed for columns (lle2,b_fitness).
(pid=26453) No Shapely geometry can be created from null value
(pid=26453)
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d6-d13)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d8-d13)
(pid=26448) Classes: 12
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d7-d11)
(pid=26444) Classes: 53
(pid=26450) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.77777777777777779 0.0044840294238751204 at 0.77777777777777779 0.0044840294238751204
(pid=26450) File grid10_4d.csv was not processed for columns (pca1,d2).
(pid=26450) No Shapely geometry can be created from null value
(pid=26450)
(pid=26450) grid10_4d.csv (len: 10000): (pca1-d3)
(pid=26450) Classes: 16
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d8-d14)
(pid=26448) Classes: 12
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d7-d12)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d9-d19)
(pid=26448) Classes: 12
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d6-d14)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d7-d13)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d9-d11)
(pid=26448) Classes: 12
(pid=26450) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.44444444444444442 0.0044827477232847321 at 0.44444444444444442 0.0044827477232847321
(pid=26450) File grid10_4d.csv was not processed for columns (pca1,d3).
(pid=26450) No Shapely geometry can be created from null value
(pid=26450)
(pid=26450) grid10_4d.csv (len: 10000): (pca1-d4)
(pid=26450) Classes: 16

(pid=26448) cars03Cropped_d3.csv (len: 7404): (d9-d12)
(pid=26448) Classes: 12
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d7-d14)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d9-d13)
(pid=26448) Classes: 12
(pid=26450) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.3333333333333332 -0.0044779511162935269 at 0.3333333333333332 -0.0044779511162935269
(pid=26450) File grid10_4d.csv was not processed for columns (pca1,d4).
(pid=26450) No Shapely geometry can be created from null value
(pid=26450)
(pid=26450) grid10_4d.csv (len: 10000): (pca2-d2)
(pid=26450) Classes: 16
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d7-d8)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d9-d14)
(pid=26448) Classes: 12
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d8-d9)
(pid=26444) Classes: 53
(pid=26450) TopologyException: Input geom 0 is invalid: Self-intersection at or near point 0.61938444539869753 0.0043417204185702083 at 0.61938444539869753 0.0043417204185702083
(pid=26450) File grid10_4d.csv was not processed for columns (pca2,d2).
(pid=26450) No Shapely geometry can be created from null value
(pid=26450)
(pid=26450) grid10_4d.csv (len: 10000): (pca2-d3)
(pid=26450) Classes: 16
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d19-d11)
(pid=26448) Classes: 12
(pid=26450) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.44152137238024747 -0.0043651893485598635 at 0.44152137238024747 -0.0043651893485598635
(pid=26450) File grid10_4d.csv was not processed for columns (pca2,d3).
(pid=26450) No Shapely geometry can be created from null value
(pid=26450)
(pid=26450) grid10_4d.csv (len: 10000): (pca2-d4)
(pid=26450) Classes: 16
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d7-d9)
(pid=26450) TopologyException: Input geom 1 is invalid: Self-intersection at or near point 0.34351394649818878 0.0043770674367719113 at 0.34351394649818878 0.0043770674367719113
(pid=26450) File grid10_4d.csv was not processed for columns (pca2,d4).
(pid=26450) No Shapely geometry can be created from null value
(pid=26450)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d8-d19)
(pid=26444) Classes: 53
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d8-d11)
(pid=26444) Classes: 53
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d7-d19)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d8-d12)
(pid=26444) Classes: 53
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d7-d11)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d19-d12)
(pid=26448) Classes: 12
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d8-d13)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d19-d13)
(pid=26448) Classes: 12
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d7-d12)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d8-d14)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d19-d14)
(pid=26448) Classes: 12
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d7-d13)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d11-d12)
(pid=26448) Classes: 12
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d9-d19)
(pid=26444) Classes: 53
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d7-d14)
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d11-d13)
(pid=26448) Classes: 12
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d9-d11)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d11-d14)
(pid=26448) Classes: 12
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d9-d12)
(pid=26444) Classes: 53
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d9-d13)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d12-d13)
(pid=26448) Classes: 12
(pid=26441) cars03Cropped_d1.csv (len: 7404): (d8-d9)
(pid=26444) cars03Cropped_d2.csv (len: 7404): (d9-d14)
(pid=26444) Classes: 53
(pid=26448) cars03Cropped_d3.csv (len: 7404): (d12-d14)
(pid=26448) Classes: 12

## Data Aquisition

In [24]:
from pydataset import data

def rename_and_save(name, col, folder='/home/morarica/Developer/SepMe/data/orig_data/input_data/Orig_data/'):
    df = data(name)
    
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    df2 = df.select_dtypes(exclude = numerics)
    cols = df2.columns
    
    le = LabelEncoder()
    df['class'] = le.fit_transform(df[col])
    for c in cols:
        df[c] = le.fit_transform(df[c])
    
    
    df.drop(col,axis=1,inplace=True)
    df.to_csv(folder + name+'.csv', index=False)

In [25]:
for i,item in data().iterrows():
    if len(data(item['dataset_id']).columns)>3:
        print(i)
        print(item)
        print('')
        print(data(item['dataset_id']).head(3))
        print('-------------')
        print('')

4
dataset_id                                 HairEyeColor
title         Hair and Eye Color of Statistics Students
Name: 4, dtype: object

    Hair    Eye   Sex  Freq
1  Black  Brown  Male    32
2  Brown  Brown  Male    53
3    Red  Brown  Male    10
-------------

8
dataset_id                        LifeCycleSavings
title         Intercountry Life-Cycle Savings Data
Name: 8, dtype: object

              sr  pop15  pop75      dpi  ddpi
Australia  11.43  29.35   2.87  2329.68  2.87
Austria    12.07  23.32   4.41  1507.99  3.93
Belgium    13.17  23.80   4.43  2108.47  3.82
-------------

10
dataset_id                OrchardSprays
title         Potency of Orchard Sprays
Name: 10, dtype: object

   decrease  rowpos  colpos treatment
1        57       1       1         D
2        95       2       1         E
3         8       3       1         B
-------------

13
dataset_id                                  Titanic
title         Survival of passengers on the Titanic
Name: 13, dtype: object

  Class   Sex    Age Survived  Freq
1   1st  Male  Child       No     0
2   2nd  Male  Child       No     0
3   3rd  Male  Child       No    35
-------------

15
dataset_id                        UCBAdmissions
title         Student Admissions at UC Berkeley
Name: 15, dtype: object

      Admit  Gender Dept  Freq
1  Admitted    Male    A   512
2  Rejected    Male    A   313
3  Admitted  Female    A    89
-------------

19
dataset_id                          USArrests
title         Violent Crime Rates by US State
Name: 19, dtype: object

         Murder  Assault  UrbanPop  Rape
Alabama    13.2      236        58  21.2
Alaska     10.0      263        48  44.5
Arizona     8.1      294        80  31.0
-------------

20
dataset_id                                               USJudgeRatings
title         Lawyers' Ratings of State Judges in the US Superior Court
Name: 20, dtype: object

                CONT  INTG  DMNR  DILG  CFMG  DECI  PREP  FAMI  ORAL  WRIT  \
AARONSON,L.H.    5.7   7.9   7.7   7.3   7.1   7.4   7.1   7.1   7.1   7.0
ALEXANDER,J.M.   6.8   8.9   8.8   8.5   7.8   8.1   8.0   8.0   7.8   7.9
ARMENTANO,A.J.   7.2   8.1   7.8   7.8   7.5   7.6   7.5   7.5   7.3   7.4

                PHYS  RTEN
AARONSON,L.H.    8.3   7.8
ALEXANDER,J.M.   8.5   8.7
ARMENTANO,A.J.   7.9   7.8
-------------

21
dataset_id        USPersonalExpenditure
title         Personal Expenditure Data
Name: 21, dtype: object

                      1940   1945   1950  1955  1960
Food and Tobacco     22.20  44.50  59.60  73.2  86.8
Household Operation  10.50  15.50  29.00  36.5  46.2
Medical and Health    3.53   5.76   9.71  14.0  21.1
-------------

22
dataset_id                          VADeaths
title         Death Rates in Virginia (1940)
Name: 22, dtype: object

       Rural Male  Rural Female  Urban Male  Urban Female
50-54        11.7           8.7        15.4           8.4
55-59        18.1          11.7        24.3          13.6
60-64        26.9          20.3        37.0          19.3
-------------

24
dataset_id               WorldPhones
title         The World's Telephones
Name: 24, dtype: object

      N.Amer  Europe  Asia  S.Amer  Oceania  Africa  Mid.Amer
1951   45939   21574  2876    1815     1646      89       555
1956   60423   29990  4708    2568     2366    1411       733
1957   64721   32510  5230    2695     2526    1546       773
-------------

26
dataset_id                           airquality
title         New York Air Quality Measurements
Name: 26, dtype: object

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
-------------

27
dataset_id                                                       anscombe
title         Anscombe's Quartet of 'Identical' Simple Linear Regressions
Name: 27, dtype: object

   x1  x2  x3  x4    y1    y2     y3    y4
1  10  10  10   8  8.04  9.14   7.46  6.58
2   8   8   8   8  6.95  8.14   6.77  5.76
3  13  13  13   8  7.58  8.74  12.74  7.71
-------------

28
dataset_id                               attenu
title         The Joyner-Boore Attenuation Data
Name: 28, dtype: object

   event  mag station   dist  accel
1      1  7.0     117   12.0  0.359
2      2  7.4    1083  148.0  0.014
3      2  7.4    1095   42.0  0.196
-------------

29
dataset_id                              attitude
title         The Chatterjee-Price Attitude Data
Name: 29, dtype: object

   rating  complaints  privileges  learning  raises  critical  advance
1      43          51          30        39      61        92       45
2      63          64          51        54      63        73       47
3      71          70          68        69      76        86       48
-------------

34
dataset_id                          crimtab
title         Student's 3000 Criminals Data
Name: 34, dtype: object

     142.24  144.78  147.32  149.86  152.4  154.94  157.48  160.02  162.56  \
9.4       0       0       0       0      0       0       0       0       0
9.5       0       0       0       0      0       1       0       0       0
9.6       0       0       0       0      0       0       0       0       0

     165.1  ...  172.72  175.26  177.8  180.34  182.88  185.42  187.96  190.5  \
9.4      0  ...       0       0      0       0       0       0       0      0
9.5      0  ...       0       0      0       0       0       0       0      0
9.6      0  ...       0       0      0       0       0       0       0      0

     193.04  195.58
9.4       0       0
9.5       0       0
9.6       0       0

[3 rows x 22 columns]
-------------

36
dataset_id                                        esoph
title         Smoking, Alcohol and (O)esophageal Cancer
Name: 36, dtype: object

   agegp      alcgp     tobgp  ncases  ncontrols
1  25-34  0-39g/day  0-9g/day       0         40
2  25-34  0-39g/day     10-19       0         10
3  25-34  0-39g/day     20-29       0          6
-------------

39
dataset_id                   freeny
title         Freeny's Revenue Data
Name: 39, dtype: object

               y  lag.quarterly.revenue  price.index  income.level  \
1962.25  8.79236                8.79636      4.70997       5.82110
1962.50  8.79137                8.79236      4.70217       5.82558
1962.75  8.81486                8.79137      4.68944       5.83112

         market.potential
1962.25           12.9699
1962.50           12.9733
1962.75           12.9774
-------------

40
dataset_id                                                infert
title         Infertility after Spontaneous and Induced Abortion
Name: 40, dtype: object

  education  age  parity  induced  case  spontaneous  stratum  pooled.stratum
1    0-5yrs   26       6        1     1            2        1               3
2    0-5yrs   42       1        1     1            0        2               1
3    0-5yrs   39       6        2     1            0        3               4
-------------

41
dataset_id                          iris
title         Edgar Anderson's Iris Data
Name: 41, dtype: object

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
-------------

44
dataset_id                               longley
title         Longley's Economic Regression Data
Name: 44, dtype: object

      GNP.deflator      GNP  Unemployed  Armed.Forces  Population  Year  \
1947          83.0  234.289       235.6         159.0     107.608  1947
1948          88.5  259.426       232.5         145.6     108.632  1948
1949          88.2  258.054       368.2         161.6     109.773  1949

      Employed
1947    60.323
1948    61.122
1949    60.171
-------------

47
dataset_id                        mtcars
title         Motor Trend Car Road Tests
Name: 47, dtype: object

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
-------------

50
dataset_id                                       npk
title         Classical N, P, K Factorial Experiment
Name: 50, dtype: object

   block  N  P  K  yield
1      1  0  1  1   49.5
2      1  1  1  0   62.8
3      1  0  0  0   46.8
-------------

51
dataset_id                               occupationalStatus
title         Occupational Status of Fathers and their Sons
Name: 51, dtype: object

    1   2   3   4   5   6   7   8
1  50  19  26   8   7  11   6   2
2  16  40  34  18  11  20   8   3
3  12  35  65  66  35  88  23  21
-------------

55
dataset_id                               quakes
title         Locations of Earthquakes off Fiji
Name: 55, dtype: object

     lat    long  depth  mag  stations
1 -20.42  181.62    562  4.8        41
2 -20.62  181.03    650  4.2        15
3 -26.00  184.10     42  5.4        43
-------------

58
dataset_id                                      rock
title         Measurements on Petroleum Rock Samples
Name: 58, dtype: object

   area     peri     shape  perm
1  4990  2791.90  0.090330   6.3
2  7002  3892.60  0.148622   6.3
3  7558  3930.66  0.183312   6.3
-------------

60
dataset_id                           stackloss
title         Brownlee's Stack Loss Plant Data
Name: 60, dtype: object

   Air.Flow  Water.Temp  Acid.Conc.  stack.loss
1        80          27          89          42
2        80          27          88          37
3        75          25          90          37
-------------

64
dataset_id                                                       swiss
title         Swiss Fertility and Socioeconomic Indicators (1888) Data
Name: 64, dtype: object

              Fertility  Agriculture  Examination  Education  Catholic  \
Courtelary         80.2         17.0           15         12      9.96
Delemont           83.1         45.1            6          9     84.84
Franches-Mnt       92.5         39.7            5          5     93.40

              Infant.Mortality
Courtelary                22.2
Delemont                  22.2
Franches-Mnt              20.2
-------------

68
dataset_id                                                      volcano
title         Topographic Information on Auckland's Maunga Whau Volcano
Name: 68, dtype: object

    V1   V2   V3   V4   V5   V6   V7   V8   V9  V10  ...  V52  V53  V54  V55  \
1  100  100  101  101  101  101  101  100  100  100  ...  107  107  107  106
2  101  101  102  102  102  102  102  101  101  101  ...  108  108  107  107
3  102  102  103  103  103  103  103  102  102  102  ...  109  108  108  107

   V56  V57  V58  V59  V60  V61
1  106  105  105  104  104  103
2  106  106  105  105  104  104
3  107  106  106  105  105  104

[3 rows x 61 columns]
-------------

75
dataset_id                              amis
title         Car Speeding and Warning Signs
Name: 75, dtype: object

   speed  period  warning  pair
1     26       1        1     1
2     26       1        1     1
3     26       1        1     1
-------------

79
dataset_id                         breslow
title         Smoking Deaths Among Doctors
Name: 79, dtype: object

   age  smoke      n   y  ns
1   40      0  18790   2   0
2   50      0  10673  12   0
3   60      0   5710  28   0
-------------

81
dataset_id                       cane
title         Sugar-cane Disease Data
Name: 81, dtype: object

     n   r   x  var block
1   87  76  19    1     A
2  119   8  14    2     A
3   94  74   9    3     A
-------------

86
dataset_id               channing
title         Channing House Data
Name: 86, dtype: object

   obs  death  ageentry   age  time  gender
1    1      1      1042  1172   130       2
2    2      1       921  1040   119       2
3    3      1       885  1003   118       2
-------------

97
dataset_id                          frets
title         Head Dimensions in Brothers
Name: 97, dtype: object

    l1   b1   l2   b2
1  191  155  179  145
2  195  149  201  152
3  181  148  185  149
-------------

104
dataset_id                                        motor
title         Data from a Simulated Motorcycle Accident
Name: 104, dtype: object

   times  accel  strata    v
1    2.4    0.0       1  3.7
2    2.6   -1.3       1  3.7
3    3.2   -2.7       1  3.7
-------------

105
dataset_id                                    neuro
title         Neurophysiological Point Process Data
Name: 105, dtype: object

   V1     V2    V3    V4     V5  V6
1 NaN -203.7 -84.1  18.5    NaN NaN
2 NaN -203.0 -97.8  25.8  134.7 NaN
3 NaN -249.0 -92.1  27.8  177.1 NaN
-------------

106
dataset_id                                   nitrofen
title         Toxicity of Nitrofen in Aquatic Systems
Name: 106, dtype: object

   conc  brood1  brood2  brood3  total
1     0       3      14      10     27
2     0       5      12      15     32
3     0       6      11      17     34
-------------

107
dataset_id                                   nodal
title         Nodal Involvement in Prostate Cancer
Name: 107, dtype: object

   m  r  aged  stage  grade  xray  acid
1  1  1     0      1      1     1     1
2  1  1     0      1      1     1     1
3  1  1     0      1      1     1     1
-------------

108
dataset_id                                    nuclear
title         Nuclear Power Station Construction Data
Name: 108, dtype: object

     cost   date  t1  t2   cap  pr  ne  ct  bw  cum.n  pt
1  460.05  68.58  14  46   687   0   1   0   0     14   0
2  452.99  67.33  10  73  1065   0   0   1   0      1   0
3  443.22  67.33  10  85  1065   1   0   1   0      1   0
-------------

113
dataset_id                              salinity
title         Water Salinity and River Discharge
Name: 113, dtype: object

    X1  X2      X3    Y
1  8.2   4  23.005  7.6
2  7.6   5  23.873  7.7
3  4.6   0  26.417  4.3
-------------

117
dataset_id                  urine
title         Urine Analysis Data
Name: 117, dtype: object

   r  gravity    ph   osmo  cond  urea  calc
1  0    1.021  4.91  725.0   NaN   443  2.45
2  0    1.017  5.74  577.0  20.0   296  4.49
3  0    1.008  7.20  321.0  14.9   101  2.36
-------------

121
dataset_id                        allograft
title         data from Exercise 13.1, p418
Name: 121, dtype: object

   patient  time  rejection  match
1        1    29          1      0
2        1    37          1      1
3        2     3          1      0
-------------

122
dataset_id                             azt
title         data from Exercise 4.7, p122
Name: 122, dtype: object

   patient  ageentry  age  death
1        1       241  464      0
2        2       421  668      0
3        3       375  727      0
-------------

125
dataset_id                     bfeed
title         data from Section 1.14
Name: 125, dtype: object

   duration  delta  race  poverty  smoke  alcohol  agemth  ybirth  yschool  \
1        16      1     1        0      0        1      24      82       14
2         1      1     1        0      1        0      26      85       12
3         4      0     1        0      0        0      25      85       12

   pc3mth
1       0
2       0
3       0
-------------

126
dataset_id                      bmt
title         data from Section 1.3
Name: 126, dtype: object

   group    t1    t2  d1  d2  d3    ta  da   tc  dc  ...  z1  z2  z3  z4  z5  \
1      1  2081  2081   0   0   0    67   1  121   1  ...  26  33   1   0   1
2      1  1602  1602   0   0   0  1602   0  139   1  ...  21  37   1   1   0
3      1  1496  1496   0   0   0  1496   0  307   1  ...  26  35   1   1   1

   z6    z7  z8  z9  z10
1   1    98   0   1    0
2   0  1720   0   1    0
3   0   127   0   1    0

[3 rows x 22 columns]
-------------

129
dataset_id                     burn
title         data from Section 1.6
Name: 129, dtype: object

   Obs  Z1  Z2  Z3  Z4  Z5  Z6  Z7  Z8  Z9  Z10  Z11  T1  D1  T2  D2  T3  D3
1    1   0   0   0  15   0   0   1   1   0    0    2  12   0  12   0  12   0
2    2   0   0   1  20   0   0   1   0   0    0    4   9   0   9   0   9   0
3    3   0   0   1  15   0   0   0   1   1    0    2  13   0  13   0   7   1
-------------

130
dataset_id                  channing
title         data from Section 1.16
Name: 130, dtype: object

   obs  death  ageentry   age  time  gender
1    1      1      1042  1172   130       2
2    2      1       921  1040   119       2
3    3      1       885  1003   118       2
-------------

131
dataset_id                  drug6mp
title         data from Section 1.2
Name: 131, dtype: object

   pair  remstat  t1  t2  relapse
1     1        1   1  10        1
2     2        2  22   7        1
3     3        2   3  32        0
-------------

133
dataset_id                      hodg
title         data from Section 1.10
Name: 133, dtype: object

   gtype  dtype  time  delta  score  wtime
1      1      1    28      1     90     24
2      1      1    32      1     30      7
3      1      1    49      1     40      8
-------------

134
dataset_id                   kidney
title         data from Section 1.4
Name: 134, dtype: object

   id  time  status  age  sex disease  frail
1   1     8       1   28    1   Other    2.3
2   1    16       1   28    1   Other    2.3
3   2    23       1   48    2      GN    1.9
-------------

135
dataset_id                                                 kidrecurr
title         Data on 38 individuals using a kidney dialysis machine
Name: 135, dtype: object

   patient  time1  infect1  time2  infect2   age  gender  gn  an  pkd
1        1     16        1      8        1  28.0       0   0   0    0
2        2     13        0     23        1  48.0       1   1   0    0
3        3     22        1     28        1  32.0       0   0   0    0
-------------

136
dataset_id                  kidtran
title         data from Section 1.7
Name: 136, dtype: object

   obs  time  delta  gender  race  age
1    1     1      0       1     1   46
2    2     5      0       1     1   51
3    3     7      1       1     1   55
-------------

137
dataset_id                   larynx
title         data from Section 1.8
Name: 137, dtype: object

   stage  time  age  diagyr  delta
1      1   0.6   77      76      1
2      1   1.3   53      71      1
3      1   2.4   45      71      1
-------------

138
dataset_id                            lung
title         data from Exercise 4.4, p120
Name: 138, dtype: object

   inst  time  status  age  sex  ph.ecog  ph.karno  pat.karno  meal.cal  \
1   3.0   306       2   74    1      1.0      90.0      100.0    1175.0
2   3.0   455       2   68    1      0.0      90.0       90.0    1225.0
3   3.0  1010       1   56    1      0.0      90.0       90.0       NaN

   wt.loss
1      NaN
2     15.0
3     15.0
-------------

139
dataset_id                   pneumon
title         data from Section 1.13
Name: 139, dtype: object

   chldage  hospital  mthage  urban  alcohol  smoke  region  poverty  bweight  \
1     12.0         0      22      1        0      0       1        1        1
2     12.0         0      20      1        1      0       1        1        0
3      3.0         0      24      1        3      0       1        1        0

   race  education  nsibs  wmonth  sfmonth  agepn
1     1         10      1       1        1      1
2     1         12      1       2        2     12
3     1         12      2       1        0      3
-------------

140
dataset_id                     psych
title         data from Section 1.15
Name: 140, dtype: object

   sex  age  time  death
1    2   51     1      1
2    2   58     1      1
3    2   55     2      1
-------------

141
dataset_id                             rats
title         data from Exercise 7.13, p225
Name: 141, dtype: object

   litter  rx  time  status
1       1   1   101       0
2       1   0    49       1
3       1   0   104       0
-------------

142
dataset_id                       std
title         data from Section 1.12
Name: 142, dtype: object

   obs race marital  age  yschool  iinfct  npartner  os12m  os30d  rs12m  ...  \
1    1    B       S   19       14       3         1      0      0      0  ...
2    2    B       S   23       16       2         2      1      0      0  ...
3    3    W       D   33       12       2         3      1      1      1  ...

   condom  itch  lesion  rash  lymph  vagina  dchexam  abnode  rinfct  time
1       3     0       0     0      0       0        1       0       0   984
2       2     0       0     0      0       0        1       0       0   984
3       1     0       0     0      0       0        0       0       0    42

[3 rows x 24 columns]
-------------

145
dataset_id                            twins
title         data from Exercise 7.14, p225
Name: 145, dtype: object

   id  age  death  gender
1   1   50      1       1
2   1   63      0       2
3   2   49      0       1
-------------

147
dataset_id                                 CrohnD
title         Crohn's Disease Adverse Events Data
Name: 147, dtype: object

      ID  nrAdvE    BMI  height country sex  age  weight    treat
1  19908       4  25.22     163      c1   F   47      67  placebo
2  19909       4  23.80     164      c1   F   53      64       d1
3  19910       1  23.05     164      c1   F   68      62  placebo
-------------

148
dataset_id              NOxEmissions
title         NOx Air Pollution Data
Name: 148, dtype: object

     julday      LNOx    LNOxEm    sqrtWS
193     373  4.457250  5.536489  0.856446
194     373  4.151827  5.513000  1.016612
195     373  3.834061  4.886994  1.095445
-------------

150
dataset_id         aircraft
title         Aircraft Data
Name: 150, dtype: object

    X1   X2    X3    X4     Y
1  6.3  1.7  8176  4500  2.76
2  6.0  1.9  6699  3120  4.76
3  5.9  1.5  9663  6300  8.75
-------------

151
dataset_id              airmay
title         Air Quality Data
Name: 151, dtype: object

      X1    X2  X3     Y
1  190.0   7.4  67  41.0
2  118.0   8.0  72  36.0
3  149.0  12.6  74  12.0
-------------

152
dataset_id                             alcohol
title         Alcohol Solubility in Water Data
Name: 152, dtype: object

      SAG       V  logPC      P     RM   Mass  logSolubility
1  251.94  348.23   0.94   8.75  22.13  74.12        0.09531
2  247.55  344.91   0.96   8.75  21.95  74.12        0.06579
3  281.60  401.41   1.34  10.59  26.74  88.15       -1.34707
-------------

153
dataset_id                                        ambientNOxCH
title         Daily Means of NOx (mono-nitrogen oxides) in air
Name: 153, dtype: object

         date         ad         ba         ef        la         lu  \
1  2004-01-01  11.980009  14.662142  17.332767  7.729787  22.724384
2  2004-01-02  16.991053  18.711749  40.353465  8.014681  21.209295
3  2004-01-03  12.320727   8.746081  35.066020  6.832766  26.765677

          re         ri         se         si         st         su  \
1  20.128474   6.315106  11.340373  13.461901  13.403823  27.046782
2  45.235159   8.725957  15.386788  15.762092  19.340053  35.819629
3   8.404435  10.310625  11.038316   9.815012  16.507350  34.882952

          sz         zg
1  16.228219  25.494337
2  21.168657  34.469548
3  16.371493  29.057676
-------------

154
dataset_id                  bushfire
title         Campbell Bushfire Data
Name: 154, dtype: object

    V1   V2   V3   V4   V5
1  111  145  188  190  260
2  113  147  187  190  259
3  113  150  195  192  259
-------------

155
dataset_id                      carrots
title         Insect Damages on Carrots
Name: 155, dtype: object

   success  total  logdose block
1       10     35     1.52    B1
2       16     42     1.64    B1
3        8     50     1.76    B1
-------------

157
dataset_id             coleman
title         Coleman Data Set
Name: 157, dtype: object

   salaryP  fatherWc  sstatus  teacherSc  motherLev      Y
1     3.83     28.87     7.20       26.6       6.19  37.01
2     2.89     20.10   -11.71       24.4       5.17  26.51
3     2.86     69.05    12.32       25.7       7.04  36.51
-------------

159
dataset_id                                           cushny
title         Cushny and Peebles Prolongation of Sleep Data
Name: 159, dtype: object

   Control  drug1  drug2L  drug2R  delta1  delta2L  delta2R
1      0.6    1.3     2.5     2.1     0.7      1.9      1.5
2      3.0    1.4     3.8     4.4    -1.6      0.8      1.4
3      4.7    4.5     5.8     4.7    -0.2      1.1      0.0
-------------

161
dataset_id                     education
title         Education Expenditure Data
Name: 161, dtype: object

  State  Region   X1    X2   X3    Y
1    ME       1  508  3944  325  235
2    NH       1  564  4578  323  231
3    VT       1  322  4011  328  270
-------------

162
dataset_id                     epilepsy
title         Epilepsy Attacks Data Set
Name: 162, dtype: object

    treatment  base  age  seizure.rate  period  subject
1     placebo    11   31             5       1        1
110   placebo    11   31             3       2        1
112   placebo    11   31             3       3        1
-------------

164
dataset_id                           foodstamp
title         Food Stamp Program Participation
Name: 164, dtype: object

   participation  tenancy  suppl.income  income
1              0        1             0     271
2              0        1             0     287
3              0        1             1     714
-------------

165
dataset_id                                       hbk
title         Hawkins, Bradu, Kass's Artificial Data
Name: 165, dtype: object

     X1    X2    X3     Y
1  10.1  19.6  28.3   9.7
2   9.5  20.5  28.9  10.1
3  10.7  20.2  31.0  10.3
-------------

166
dataset_id                       heart
title         Heart Catherization Data
Name: 166, dtype: object

   start  stop  event        age      year  surgery  transplant  id
1    0.0  50.0      1 -17.155373  0.123203        0           0   1
2    0.0   6.0      1   3.835729  0.254620        0           0   2
3    0.0   1.0      0   6.297057  0.265572        0           0   3
-------------

169
dataset_id                              milk
title         Daudin's Milk Composition Data
Name: 169, dtype: object

       X1    X2    X3    X4    X5    X6     X7     X8
1  1.0318  37.7  35.7  26.5  27.1  27.4  127.1  15.35
2  1.0316  37.5  35.3  26.0  27.2  27.2  128.7  14.72
3  1.0314  37.0  32.8  25.3  24.8  23.9  124.1  14.61
-------------

173
dataset_id                possumDiv
title         Possum Diversity Data
Name: 173, dtype: object

   Diversity  Shrubs  Stumps  Stags  Bark  Habitat  BAcacia eucalyptus aspect
1          3       6       1     12    29        9       31    regnans  SW-NW
2          2       5       0     15    12        2        4    regnans  SE-SW
3          1       7       0      6    26        2        8    regnans  NW-NE
-------------

174
dataset_id                    pulpfiber
title         Pulp Fiber and Paper Data
Name: 174, dtype: object

      X1      X2      X3     X4      Y1     Y2     Y3     Y4
1 -0.030  35.239  36.991  1.057  21.312  7.039  5.326  0.932
2  0.015  35.713  36.851  1.064  21.206  6.979  5.237  0.871
3  0.025  39.220  30.586  1.053  20.709  6.779  5.060  0.742
-------------

175
dataset_id                                     radarImage
title         Satellite Radar Image Data from near Munich
Name: 175, dtype: object

   X.coord  Y.coord  Band.1  Band.2  Band.3
1       59        1  157.20 -150.50  30.020
2       60        1   52.12  -72.61  -6.376
3       61        1 -188.10  -82.81 -55.630
-------------

176
dataset_id         salinity
title         Salinity Data
Name: 176, dtype: object

    X1  X2      X3    Y
1  8.2   4  23.005  7.6
2  7.6   5  23.873  7.7
3  4.6   0  26.417  4.3
-------------

179
dataset_id                             toxicity
title         Toxicity of Carboxylic Acids Data
Name: 179, dtype: object

   toxicity  logKow   pKa  ELUMO    Ecarb    Emet     RM     IR    Ts      P
1     -0.15    1.68  1.00   4.81  17.8635  1.4838  31.36  1.425  31.3  12.43
2     -0.33    0.94  0.98   4.68  16.9491  0.0000  22.10  1.408  30.4   8.76
3     -0.34    1.16  0.96   4.86  17.1806  0.2778  26.73  1.418  30.9  10.59
-------------

181
dataset_id                                wagnerGrowth
title         Wagner's Hannover Employment Growth Data
Name: 181, dtype: object

   Region     PA   GPA    HS   GHS     y  Period
1       1  46.84 -2.60  1.68  0.20  0.97       1
2       2  35.54 -1.42  1.67  0.63  2.14       1
3       3  28.42 -1.48  1.71  0.12  6.13       1
-------------

182
dataset_id                                      wood
title         Modified Data on Wood Specific Gravity

Name: 182, dtype: object

      x1      x2     x3     x4     x5      y
1  0.573  0.1059  0.465  0.538  0.841  0.534
2  0.651  0.1356  0.527  0.545  0.887  0.535
3  0.606  0.1273  0.494  0.521  0.920  0.570
-------------

183
dataset_id                            AMSsurvey
title         American Math Society Survey Data
Name: 183, dtype: object

    type     sex citizen  count  count11
1  I(Pu)    Male      US    132      148
2  I(Pu)  Female      US     35       40
3  I(Pr)    Male      US     87       63
-------------

185
dataset_id                                  Angell
title         Moral Integration of American Cities
Name: 185, dtype: object

           moral  hetero  mobility region
Rochester   19.0    20.6      15.0      E
Syracuse    17.0    15.6      20.2      E
Worcester   16.4    22.1      13.6      E
-------------

186
dataset_id                                  Anscombe
title         U. S. State Public-School Expenditures
Name: 186, dtype: object

    education  income  young  urban
ME        189    2824  350.7    508
NH        169    3259  345.9    564
VT        230    3072  348.5    322
-------------

187
dataset_id                                      Baumann
title         Methods of Teaching Reading Comprehension
Name: 187, dtype: object

   group  pretest.1  pretest.2  post.test.1  post.test.2  post.test.3
1  Basal          4          3            5            4           41
2  Basal          6          5            9            5           41
3  Basal          9          4            5            3           43
-------------

188
dataset_id                                           Bfox
title         Canadian Women's Labour-Force Participation
Name: 188, dtype: object

      partic   tfr  menwage  womwage   debt  parttime
1946    25.3  3748    25.35    14.05  18.18     10.28
1947    24.4  3996    26.14    14.61  28.33      9.28
1948    24.2  3725    25.11    14.23  30.55      9.51
-------------

189
dataset_id                                                       Blackmoor
title         Exercise Histories of Eating-Disordered and Control Subjects
Name: 189, dtype: object

  subject   age  exercise    group
1     100   8.0      2.71  patient
2     100  10.0      1.94  patient
3     100  12.0      2.36  patient
-------------

192
dataset_id                                               Chile
title         Voting Intentions in the 1988 Chilean Plebiscite
Name: 192, dtype: object

  region  population sex   age education   income  statusquo vote
1      N      175000   M  65.0         P  35000.0    1.00820    Y
2      N      175000   M  29.0        PS   7500.0   -1.29617    N
3      N      175000   F  38.0         P  15000.0    1.23072    Y
-------------

193
dataset_id                                 Chirot
title         The 1907 Romanian Peasant Rebellion
Name: 193, dtype: object

   intensity  commerce  tradition  midpeasant  inequality
1      -1.39      13.8       86.2         6.2        0.60
2       0.65      20.4       86.7         2.9        0.72
3       1.89      27.6       79.3        16.9        0.66
-------------

194
dataset_id                                     Cowles
title         Cowles and Davis's Data on Volunteering
Name: 194, dtype: object

   neuroticism  extraversion     sex volunteer
1           16            13  female        no
2            8            14    male        no
3            5            16    male        no
-------------

195
dataset_id                                Davis
title         Self-Reports of Height and Weight
Name: 195, dtype: object

  sex  weight  height  repwt  repht
1   M      77     182   77.0  180.0
2   F      58     161   51.0  159.0
3   F      53     161   54.0  158.0
-------------

196
dataset_id                             DavisThin
title         Davis's Data on Drive for Thinness
Name: 196, dtype: object

   DT1  DT2  DT3  DT4  DT5  DT6  DT7
1    0    0    0    0    0    0    0
2    0    0    0    0    0    0    0
3    0    0    0    0    0    0    0
-------------

197
dataset_id                       Depredations
title         Minnesota Wolf Depredation Data
Name: 197, dtype: object

   longitude  latitude  number  early  late
1      -94.5      46.1       1      0     1
2      -93.0      46.6       2      0     2
3      -94.6      48.5       1      1     0
-------------

198
dataset_id                                 Duncan
title         Duncan's Occupational Prestige Data
Name: 198, dtype: object

            type  income  education  prestige
accountant  prof      62         86        82
pilot       prof      72         76        83
architect   prof      75         92        90
-------------

199
dataset_id                           Ericksen
title         The 1980 U.S. Census Undercount
Name: 199, dtype: object

         minority  crime  poverty  language  highschool  housing   city  \
Alabama      26.1     49     18.9       0.2        43.5      7.6  state
Alaska        5.7     62     10.7       1.7        17.5     23.6  state
Arizona      18.9     81     13.2       3.2        27.6      8.1  state

         conventional  undercount
Alabama             0       -0.04
Alaska            100        3.35
Arizona            18        2.48
-------------

200
dataset_id                  Florida
title         Florida County Voting
Name: 200, dtype: object

          GORE   BUSH  BUCHANAN  NADER  BROWNE  HAGELIN  HARRIS  MCREYNOLDS  \
ALACHUA  47300  34062       262   3215     658       42       4         658
BAKER     2392   5610        73     53      17        3       0           0
BAY      18850  38637       248    828     171       18       5           3

         MOOREHEAD  PHILLIPS  Total
ALACHUA         21        20  86242
BAKER            3         3   8154
BAY             37        18  58815
-------------

201
dataset_id                                          Freedman
title         Crowding and Crime in U. S. Metropolitan Areas
Name: 201, dtype: object

             population  nonwhite  density  crime
Akron             675.0       7.3    746.0   2602
Albany            713.0       2.6    322.0   1388
Albuquerque         NaN       3.3      NaN   5018
-------------

203
dataset_id              Ginzberg
title         Data on Depression
Name: 203, dtype: object

   simplicity  fatalism  depression  adjsimp  adjfatal   adjdep
1     0.92983   0.35589     0.59870  0.75934   0.10673  0.41865
2     0.91097   1.18439     0.72787  0.72717   0.99915  0.51688
3     0.53366  -0.05837     0.53411  0.62176   0.03811  0.70699
-------------

204
dataset_id             Greene
title         Refugee Appeals
Name: 204, dtype: object

    judge       nation rater decision language location  success
13  Heald      Lebanon    no       no  English  Toronto -1.09861
15  Heald    Sri.Lanka    no       no  English  Toronto -0.75377
19  Heald  El.Salvador    no      yes  English  Toronto -1.04597
-------------

206
dataset_id                           Hartnagel
title         Canadian Crime-Rates Time Series
Name: 206, dtype: object

   year   tfr  partic  degrees  fconvict  ftheft  mconvict  mtheft
1  1931  3200     234     12.4      77.1     NaN     778.7     NaN
2  1932  3084     234     12.9      92.9     NaN     745.7     NaN
3  1933  2864     235     13.9      98.3     NaN     768.3     NaN
-------------

207
dataset_id             Highway1
title         Highway Accidents
Name: 207, dtype: object

   rate    len  ADT  trks     sigs1  slim  shld  lane  acpt   itg  lwid  hwy
1  4.58   4.99   69     8  0.200401    55    10     8   4.6  1.20    12  FAI
2  2.86  16.11   73     8  0.062073    60    10     4   4.4  1.43    12  FAI
3  3.02   9.75   49    10  0.102564    60    10     4   4.7  1.54    12  FAI
-------------

208
dataset_id                   Leinhardt
title         Data on Infant-Mortality
Name: 208, dtype: object

           income  infant  region oil
Australia    3426    26.7    Asia  no
Austria      3350    23.7  Europe  no
Belgium      3346    17.0  Europe  no
-------------

210
dataset_id                                  Migration
title         Canadian Interprovincial Migration Data
Name: 210, dtype: object

  source destination  migrants  distance  pops66  pops71  popd66  popd71
1    PEI        NFLD       255       924  108535  111641  493396  522104
2     NS        NFLD      2380       952  756039  788960  493396  522104
3     NB        NFLD      1140      1119  616788  534557  493396  522104
-------------

211
dataset_id                                       Moore
title         Status, Authoritarianism, and Conformity
Name: 211, dtype: object

  partner.status  conformity fcategory  fscore
1            low           8       low      37
2            low           4      high      57
3            low           8      high      65
-------------

212
dataset_id                                      Mroz
title         U.S. Women's Labor-Force Participation
Name: 212, dtype: object

  work  hoursw  child6  child618  agew  educw  hearnw  wagew  hoursh  ageh  \
1   no    1610       1         0    32     12  3.3540   2.65    2708    34
2   no    1656       0         2    30     12  1.3889   2.65    2310    30
3   no    1980       1         3    35     12  4.5455   4.04    3072    40

   educh   wageh  income  educwm  educwf  unemprate city  experience
1     12  4.0288   16310      12       7        5.0   no          14
2      9  8.4416   21800       7       7       11.0  yes           5
3     12  3.5807   21040      12       7        5.0   no          15
-------------

213
dataset_id                                   OBrienKaiser
title         O'Brien and Kaiser's Repeated-Measures Data
Name: 213, dtype: object

  treatment gender  pre.1  pre.2  pre.3  pre.4  pre.5  post.1  post.2  post.3  \
1   control      M      1      2      4      2      1       3       2       5
2   control      M      4      4      5      3      4       2       2       3
3   control      M      5      6      5      7      7       4       5       7

   post.4  post.5  fup.1  fup.2  fup.3  fup.4  fup.5
1       3       2      2      3      2      4      4
2       5       3      4      5      6      4      1
3       5       4      7      6      9      7      6
-------------

214
dataset_id                                                Ornstein
title         Interlocking Directorates Among Major Canadian Firms
Name: 214, dtype: object

   assets sector nation  interlocks
1  147670    BNK    CAN          87
2  133000    BNK    CAN         107
3  113230    BNK    CAN          94
-------------

215
dataset_id                            Pottery
title         Chemical Composition of Pottery
Name: 215, dtype: object

        Site    Al    Fe    Mg    Ca    Na
1  Llanedyrn  14.4  7.00  4.30  0.15  0.51
2  Llanedyrn  13.8  7.08  3.43  0.12  0.17
3  Llanedyrn  14.6  7.09  3.88  0.13  0.20
-------------

216
dataset_id                            Prestige
title         Prestige of Canadian Occupations
Name: 216, dtype: object

                    education  income  women  prestige  census  type
gov.administrators      13.11   12351  11.16      68.8    1113  prof
general.managers        12.26   25879   4.02      69.1    1130  prof
accountants             12.77    9271  15.70      63.4    1171  prof
-------------

217
dataset_id                     Quartet
title         Four Regression Datasets
Name: 217, dtype: object

    x    y1    y2     y3  x4    y4
1  10  8.04  9.14   7.46   8  6.58
2   8  6.95  8.14   6.77   8  5.76
3  13  7.58  8.74  12.74   8  7.71
-------------

219
dataset_id                                    SLID
title         Survey of Labour and Income Dynamics
Name: 219, dtype: object

   wages  education  age   sex language
1  10.56       15.0   40  Male  English
2  11.00       13.2   19  Male  English
3    NaN       16.0   49  Male    Other
-------------

221
dataset_id                   Salaries
title         Salaries for Professors
Name: 221, dtype: object

       rank discipline  yrs.since.phd  yrs.service   sex  salary
1      Prof          B             19           18  Male  139750
2      Prof          B             20           16  Male  173200
3  AsstProf          B              4            3  Male   79750
-------------

222
dataset_id                                                         Soils
title         Soil Compositions of Physical and Chemical Characteristics
Name: 222, dtype: object

   Group Contour Depth  Gp  Block    pH      N  Dens    P     Ca    Mg     K  \
1      1     Top  0-10  T0      1  5.40  0.188  0.92  215  16.35  7.65  0.72
2      1     Top  0-10  T0      2  5.65  0.165  1.04  208  12.25  5.15  0.71
3      1     Top  0-10  T0      3  5.14  0.260  0.95  300  13.02  5.68  0.68

     Na  Conduc
1  1.14    1.09
2  0.94    1.35
3  0.60    1.41
-------------

223
dataset_id                                                  States
title         Education and Related Statistics for the U.S. States
Name: 223, dtype: object

   region   pop  SATV  SATM  percent  dollars  pay
AL    ESC  4041   470   514        8    3.648   27
AK    PAC   550   438   476       42    7.887   43
AZ    MTN  3665   445   497       25    4.231   30
-------------

227
dataset_id                       Vocab
title         Vocabulary and Education
Name: 227, dtype: object

          year     sex  education  vocabulary
20040001  2004  Female          9           3
20040002  2004  Female         14           6
20040003  2004    Male         14           9
-------------

228
dataset_id          WeightLoss
title         Weight Loss Data
Name: 228, dtype: object

     group  wl1  wl2  wl3  se1  se2  se3
1  Control    4    3    3   14   13   15
2  Control    4    4    3   13   14   17
3  Control    4    3    1   17   12   16
-------------

229
dataset_id                                        Womenlf
title         Canadian Women's Labour-Force Participation
Name: 229, dtype: object

     partic  hincome children   region
1  not.work       15  present  Ontario
2  not.work       13  present  Ontario
3  not.work       45  present  Ontario
-------------

230
dataset_id         Wool
title         Wool data
Name: 230, dtype: object

   len  amp  load  cycles
1  250    8    40     674
2  250    8    45     370
3  250    8    50     292
-------------

232
dataset_id                  animals
title         Attributes of Animals
Name: 232, dtype: object

     war  fly  ver  end  gro  hai
ant    1    1    1  1.0  2.0    1
bee    1    2    1  1.0  2.0    2
cat    2    1    2  1.0  1.0    2
-------------

233
dataset_id                             chorSub
title         Subset of C-horizon of Kola Data
Name: 233, dtype: object

      Al   Ca  Fe   K  Mg  Mn  Na   P  Si  Ti
190  101   11 -22 -17 -34 -41  27 -36 -58 -28
191   50  129  23 -82  47  33  61  90 -24   9
192    5   65 -22 -96 -33   7  47  49  30 -39
-------------

234
dataset_id                    flower
title         Flower Characteristics
Name: 234, dtype: object

   V1  V2  V3  V4  V5  V6   V7  V8
1   0   1   1   4   3  15   25  15
2   1   0   0   2   1   3  150  50
3   0   1   0   3   3   1  150  50
-------------

235
dataset_id                  plantTraits
title         Plant Species Traits Data
Name: 235, dtype: object

        pdias  longindex  durflow  height  begflow  mycor  vegaer  vegsout  \
Aceca   96.84   0.000000        2       7        5    2.0     0.0      0.0
Aceps  110.72   0.000000        3       8        4    2.0     0.0      0.0
Agrca    0.06   0.666667        3       2        6    2.0     0.0      1.0

       autopoll  insects  ...  seashiv  seasver  everalw  everparti  elaio  \
Aceca         0        4  ...      0.0      0.0      0.0        0.0    0.0
Aceps         0        4  ...      0.0      0.0      0.0        0.0    0.0
Agrca         0        0  ...      0.0      0.0      1.0        0.0    0.0

       endozoo  epizoo  aquat  windgl  unsp
Aceca      0.0     0.0    0.0     1.0   0.0
Aceps      0.0     0.0    0.0     1.0   0.0
Agrca      0.0     0.0    0.0     0.0   1.0

[3 rows x 31 columns]
-------------

236
dataset_id                                    pluton
title         Isotopic Composition Plutonium Batches
Name: 236, dtype: object

   Pu238   Pu239   Pu240  Pu241
1  0.126  75.804  21.204  2.180
2  0.133  75.515  21.408  2.240
3  0.127  75.175  21.668  2.305
-------------

238
dataset_id                                                 votes.repub
title         Votes for Republican Candidate in Presidential Elections
Name: 238, dtype: object

         X1856  X1860  X1864  X1868  X1872  X1876  X1880  X1884  X1888  X1892  \
Alabama    NaN    NaN    NaN  51.44  53.19  40.02  36.98  38.44  32.28   3.95
Alaska     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Arizona    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

         ...  X1940  X1944  X1948  X1952  X1956  X1960  X1964  X1968  X1972  \
Alabama  ...  14.34   18.2  19.04  35.02  39.39  41.75   69.5   14.0   72.4
Alaska   ...    NaN    NaN    NaN    NaN    NaN  50.94   34.1   45.3   58.1
Arizona  ...  36.01   40.9  43.82  58.35  60.99  55.52   50.4   54.8   64.7

         X1976
Alabama  43.48
Alaska   62.91
Arizona  58.62

[3 rows x 31 columns]
-------------

240
dataset_id    affairs
title         affairs
Name: 240, dtype: object

   naffairs  kids  vryunhap  unhap  avgmarr  hapavg  vryhap  antirel  notrel  \
1         0     0         0      0        0       1       0        0       0
2         0     0         0      0        0       1       0        0       0
3         3     0         0      0        0       1       0        0       0

   slghtrel  smerel  vryrel  yrsmarr1  yrsmarr2  yrsmarr3  yrsmarr4  yrsmarr5  \
1         1       0       0         0         0         0         0         1
2         0       1       0         0         0         1         0         0
3         1       0       0         0         1         0         0         0

   yrsmarr6
1         0
2         0
3         0
-------------

241
dataset_id    azcabgptca
title         azcabgptca
Name: 241, dtype: object

   died  procedure  age  gender  los  type
1     0          1   73       0   51     0
2     0          0   67       0   30     1
3     0          1   69       0   43     0
-------------

242
dataset_id    azdrg112
title         azdrg112
Name: 242, dtype: object

   los  gender  type1  age75
1   53       0      1      0
2   30       0      1      0
3   28       0      1      1
-------------

243
dataset_id    azpro
title         azpro
Name: 243, dtype: object

   los  procedure  sex  age75  admit  hospital
1   67          1    0      0      1       3.6
2   53          0    0      0      1       6.7
3   51          1    0      0      0       2.5
-------------

244
dataset_id    azprocedure
title         azprocedure
Name: 244, dtype: object

   los  procedure  sex  admit  age75  hospital
1   67          1    0      1      0       3.6
2   53          0    0      1      0       6.7
3   51          1    0      0      0       2.5
-------------

246
dataset_id    fasttrakg
title         fasttrakg
Name: 246, dtype: object

   die  cases  anterior  hcabg  killip  kk1  kk2  kk3  kk4
1    5     19         0      0       4    0    0    0    1
2   10     83         0      0       3    0    0    1    0
3   15    412         0      0       2    0    1    0    0
-------------

247
dataset_id    fishing
title         fishing
Name: 247, dtype: object

   site  totabund   density  meandepth  year     period     sweptarea
1     1        76  0.002070        804  1978  1977-1989  36710.000000
2     2       161  0.003520        808  2001  2000-2002  45741.253906
3     3        39  0.000981        809  2001  2000-2002  39775.000000
-------------

248
dataset_id    lbw
title         lbw
Name: 248, dtype: object

   low  smoke  race  age  lwt  ptl  ht  ui  ftv   bwt
1    0      0     2   19  182    0   0   1    0  2523
2    0      0     3   33  155    0   0   0    3  2551
3    0      1     1   20  105    0   0   0    1  2557
-------------

249
dataset_id    lbwgrp
title         lbwgrp
Name: 249, dtype: object

   lowbw  cases  smoke  race1  race2  race3  low
1     60    165      0      0      0      1    0
2     15     48      0      0      1      0    0
3     12    132      0      1      0      0    0
-------------

250
dataset_id    loomis
title         loomis
Name: 250, dtype: object

   anvisits  gender  income  income1  income2  income3  income4  travel  \
1       NaN     1.0     4.0      0.0      0.0      0.0      1.0     NaN
2       NaN     1.0     2.0      0.0      1.0      0.0      0.0     NaN
3       NaN     1.0     4.0      0.0      0.0      0.0      1.0     NaN

   travel1  travel2  travel3
1      NaN      NaN      NaN
2      NaN      NaN      NaN
3      NaN      NaN      NaN
-------------

251
dataset_id    mdvis
title         mdvis
Name: 251, dtype: object

   numvisit  reform  badh  age  educ  educ1  educ2  educ3  agegrp  age1  age2  \
1        30       1     0   58     2      0      1      0       3     0     0
2        25       0     0   24     2      0      1      0       1     1     0
3        25       0     0   50     3      0      0      1       3     0     0

   age3    loginc
1     1  7.870875
2     0  7.672544
3     1  7.194270
-------------

252
dataset_id    medpar
title         medpar
Name: 252, dtype: object

   los  hmo  white  died  age80  type  type1  type2  type3  provnum
1    4    0      1     0      0     1      1      0      0    30001
2    9    1      1     0      0     1      1      0      0    30001
3    3    1      1     1      1     1      1      0      0    30001
-------------

253
dataset_id    nuts
title         nuts
Name: 253, dtype: object

   cones  ntrees   dbh  height      cover   sntrees   sheight    scover
1     61      32  0.23   20.42  91.300003  1.004007  0.417350  0.514497
2      4       4  0.27   15.20  61.500000 -1.015101 -0.864886 -3.121000
3     15      34  0.17   15.97  91.400002  1.148229 -0.675744  0.526696
-------------

254
dataset_id    rwm
title         rwm
Name: 254, dtype: object

   docvis  age  educ   hhninc
1       1   54  15.0  3.05000
2       0   55  15.0  4.51005
3       0   56  15.0  3.50000
-------------

255
dataset_id    rwm1984
title         rwm1984
Name: 255, dtype: object

   docvis  hospvis  edlevel  age  outwork  female  married  kids  hhninc  \
1       1        0        3   54        0       0        1     0   3.050
2       0        0        1   44        1       1        1     0   3.050
3       0        0        1   58        1       1        0     0   1.434

   educ  self  edlevel1  edlevel2  edlevel3  edlevel4
1  15.0     0         0         0         1         0
2   9.0     0         1         0         0         0
3  11.0     0         1         0         0         0
-------------

256
dataset_id    rwm5yr
title         rwm5yr
Name: 256, dtype: object

   id  docvis  hospvis  year  edlevel  age  outwork  female  married  kids  \
1   1       1        0  1984        3   54        0       0        1     0
2   1       0        0  1985        3   55        0       0        1     0
3   1       0        0  1986        3   56        0       0        1     0

    hhninc  educ  self  edlevel1  edlevel2  edlevel3  edlevel4
1  3.05000  15.0     0         0         0         1         0
2  4.51005  15.0     0         0         0         1         0
3  3.50000  15.0     0         0         0         1         0
-------------

257
dataset_id    ships
title         ships
Name: 257, dtype: object

   accident  op  co.65.69  co.70.74  co.75.79  service  ship
1       0.0   0         0         0         0    127.0     1
2       0.0   1         0         0         0     63.0     1
3       3.0   0         1         0         0   1095.0     1
-------------

258
dataset_id    smoking
title         smoking
Name: 258, dtype: object

              qt   tt  qc   tc
Blondal89     37   92  24   90
Campbell91    21  107  21  105
Fagerstrom82  30   50  23   50
-------------

259
dataset_id    titanic
title         titanic
Name: 259, dtype: object

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
-------------

260
dataset_id    titanicgrp
title         titanicgrp
Name: 260, dtype: object

   survive  cases  age  sex  class
1        1      1    0    0      1
2       13     13    0    0      2
3       14     31    0    0      3
-------------

261
dataset_id          Accident
title         Ship Accidents
Name: 261, dtype: object

  type constr operate  months  acc
1    A  C6064   O6074   127.0  0.0
2    A  C6064   O7579    63.0  0.0
3    A  C6569   O6074  1095.0  3.0
-------------

262
dataset_id                   Airline
title         Cost for U.S. Airlines
Name: 262, dtype: object

   airline  year     cost    output      pf        lf
1        1     1  1140640  0.952757  106650  0.534487
2        1     2  1215690  0.986757  110307  0.532328
3        1     3  1309570  1.091980  110574  0.547736
-------------

263
dataset_id                                              Airq
title         Air Quality for Californian Metropolitan Areas
Name: 263, dtype: object

   airq    vala   rain coas     dens   medi
1   104  2734.4  12.63  yes  1815.86   4397
2    85  2479.2  47.14  yes   804.86   5667
3   127  4845.0  42.77  yes  1907.86  15817
-------------

264
dataset_id                                Benefits
title         Unemployement of Blue Collar Workers
Name: 264, dtype: object

   stateur  statemb  state  age  tenure     joblost nwhite school12     sex  \
1      4.5      167     42   49      21       other     no       no    male
2     10.5      251     55   26       2  slack_work     no       no    male
3      7.2      260     21   40      19       other     no      yes  female

  bluecol smsa married dkids dykids  yrdispl        rr head   ui
1     yes  yes      no    no     no        7  0.290631  yes  yes
2     yes  yes      no   yes    yes       10  0.520202  yes   no
3     yes  yes     yes    no     no       10  0.432490  yes  yes
-------------

265
dataset_id                           Bids
title         Bids Received By U.S. Firms
Name: 265, dtype: object

   docno      weeks  numbids  takeover   bidprem  insthold      size  \
1  78001  23.570999        2         1  1.190497     0.136  0.766760
2  78005  13.571000        0         1  1.036000     0.134  0.162503
3  78015   5.000000        1         1  1.403412     0.002  0.120489

   leglrest  rearest  finrest  regulatn  whtknght
1         1        0        0         0         1
2         0        0        0         0         0
3         1        0        0         1         1
-------------

266
dataset_id                                     BudgetFood
title         Budget Share of Food for Spanish Households
Name: 266, dtype: object

      wfood   totexp  age  size  town  sex
1  0.467699  1290941   43     5     2  man
2  0.313023  1277978   40     3     2  man
3  0.376482   845852   28     3     2  man
-------------

267
dataset_id                             BudgetItaly
title         Budget Shares for Italian Households
Name: 267, dtype: object

      wfood    whouse     wmisc   pfood    phouse     pmisc    totexp  year  \
1  1.334811  0.737739  0.192004  0.1946  0.158281  0.176277  0.037848    73
2  1.111856  0.664423  0.290967  0.1946  0.156717  0.176102  0.062401    73
3  1.180340  0.734448  0.462126  0.1946  0.154560  0.176453  0.086384    73

   income  size   pct
1       1     1  19.5
2       2     1  23.4
3       3     1  17.7
-------------

268
dataset_id                               BudgetUK
title         Budget Shares of British Households
Name: 268, dtype: object

    wfood   wfuel  wcloth    walc  wtrans  wother  totexp  income  age  \
1  0.4272  0.1342  0.0000  0.0106  0.1458  0.2822      50     130   25
2  0.3739  0.1686  0.0091  0.0825  0.1215  0.2444      90     150   39
3  0.1941  0.4056  0.0012  0.0513  0.2063  0.1415     180     230   47

   children
1         2
2         2
3         2
-------------

269
dataset_id              Bwages
title         Wages in Belgium
Name: 269, dtype: object

        wage  educ  exper  sex
1   7.780208     1     23  NaN
2   4.818505     1     15  NaN
3  10.563645     1     31  NaN
-------------

271
dataset_id      CRANpackages
title         Growth of CRAN
Name: 271, dtype: object

   Version        Date  Packages     Source
1      1.3  2001-06-21       110  John Fox
2      1.4  2001-12-17       129  John Fox
3      1.5  2002-05-29       162  John Fox
-------------

272
dataset_id                 Capm
title         Stock Market Data
Name: 272, dtype: object

   rfood  rdur  rcon  rmrf    rf
1  -4.59  0.87 -6.84 -6.99  0.33
2   2.62  3.46  2.78  0.99  0.29
3  -1.67 -2.28 -0.48 -1.46  0.35
-------------

273
dataset_id                                  Car
title         Stated Preferences for Car Choice
Name: 273, dtype: object

    choice  college  hsg2  coml5   type1   type2   type3    type4   type5  \
1  choice1        0     0      0     van  regcar     van  stwagon     van
2  choice2        1     1      1  regcar     van  regcar  stwagon  regcar
3  choice5        0     1      0  regcar   truck  regcar      van  regcar

     type6  ... cost3 cost4 cost5 cost6 station1 station2  station3  station4  \
1    truck  ...     6     6     8     8      0.1      0.1       0.3       0.3
2    truck  ...     8     8     4     4      0.0      0.0       0.1       0.1
3  stwagon  ...     8     8     2     2      0.1      0.1       0.3       0.3

   station5  station6
1       1.0       1.0
2       1.0       1.0
3       1.0       1.0

[3 rows x 70 columns]
-------------

274
dataset_id                              Caschool
title         The California Test Score Data Set
Name: 274, dtype: object

   distcod   county                     district grspan  enrltot   teachers  \
1    75119  Alameda           Sunol Glen Unified  KK-08      195  10.900000
2    61499    Butte         Manzanita Elementary  KK-08      240  11.150000
3    61549    Butte  Thermalito Union Elementary  KK-08     1550  82.900002

     calwpct    mealpct  computer     testscr   compstu      expnstu  \
1   0.510200   2.040800        67  690.799988  0.343590  6384.911133
2  15.416700  47.916698       101  661.200012  0.420833  5099.380859
3  55.032299  76.322601       169  643.599976  0.109032  5501.954590

         str     avginc      elpct     readscr     mathscr
1  17.889910  22.690001   0.000000  691.599976  690.000000
2  21.524664   9.824000   4.583333  660.500000  661.900024
3  18.697226   8.978000  30.000002  636.299988  650.900024
-------------

275
dataset_id                        Catsup
title         Choice of Brand for Catsup
Name: 275, dtype: object

   id  disp.heinz41  disp.heinz32  disp.heinz28  disp.hunts32  feat.heinz41  \
1   1             0             0             0             0             0
2   1             0             0             0             0             0
3   1             0             0             0             0             0

   feat.heinz32  feat.heinz28  feat.hunts32  price.heinz41  price.heinz32  \
1             0             0             0            4.6            3.7
2             0             0             0            4.6            4.3
3             1             0             0            4.6            2.5

   price.heinz28  price.hunts32   choice
1            5.2            3.4  heinz28
2            5.2            4.4  heinz28
3            4.6            4.8  heinz28
-------------

276
dataset_id                    Cigar
title         Cigarette Consumption
Name: 276, dtype: object

   state  year  price     pop   pop16   cpi          ndi  sales  pimin
1      1    63   28.6  3383.0  2236.5  30.6  1558.304530   93.9   26.1
2      1    64   29.8  3431.0  2276.7  31.0  1684.073202   95.4   27.5
3      1    65   29.8  3486.0  2327.5  31.5  1809.841875   98.5   28.9
-------------

277
dataset_id                                   Cigarette
title         The Cigarette Consumption Panel Data Set
Name: 277, dtype: object

  state  year    cpi      pop      packpc    income        tax      avgprs  \
1    AL  1985  1.076  3973000  116.486282  46014968  32.500004  102.181671
2    AR  1985  1.076  2327000  128.534592  26210736  37.000000  101.474998
3    AZ  1985  1.076  3184000  104.522614  43956936  31.000000  108.578751

        taxs
1  33.348335
2  37.000000
3  36.170418
-------------

278
dataset_id                              Clothing
title         Sales Data of Men's Fashion Stores
Name: 278, dtype: object

    tsales     sales  margin  nown  nfull   npart    naux  hoursw   hourspw  \
1   750000  4411.765    41.0   1.0    1.0  1.0000  1.5357      76  16.75596
2  1926395  4280.878    39.0   2.0    2.0  3.0000  1.5357     192  22.49376
3  1250000  4166.667    40.0   1.0    2.0  2.2222  1.4091     114  17.19120

        inv1      inv2  ssize  start
1   17166.67  27177.04    170   41.0
2   17166.67  27177.04    450   39.0
3  292857.20  71570.55    300   40.0
-------------

279
dataset_id                       Computers
title         Prices of Personal Computers
Name: 279, dtype: object

   price  speed   hd  ram  screen  cd multi premium  ads  trend
1   1499     25   80    4      14  no    no     yes   94      1
2   1795     33   85    2      14  no    no     yes   94      1
3   1595     25  170    4      15  no    no     yes   94      1
-------------

280
dataset_id                        Cracker
title         Choice of Brand for Crakers
Name: 280, dtype: object

   id  disp.sunshine  disp.kleebler  disp.nabisco  disp.private  \
1   1              0              0             0             0
2   1              0              0             0             0
3   1              1              0             0             0

   feat.sunshine  feat.kleebler  feat.nabisco  feat.private  price.sunshine  \
1              0              0             0             0       98.000002
2              0              0             0             0       99.000001
3              0              0             0             0       49.000001

   price.kleebler  price.nabisco  price.private    choice
1            88.0     120.000000      70.999998   nabisco
2           109.0      99.000001      70.999998   nabisco
3           109.0     109.000000      77.999997  sunshine
-------------

281
dataset_id                      Crime
title         Crime in North Carolina
Name: 281, dtype: object

   county  year    crmrte    prbarr   prbconv   prbpris  avgsen     polpc  \
1       1    81  0.039885  0.289696  0.402062  0.472222    5.61  0.001787
2       1    82  0.038345  0.338111  0.433005  0.506993    5.59  0.001767
3       1    83  0.030305  0.330449  0.525703  0.479705    5.80  0.001836

    density     taxpc  ...       wtuc      wtrd      wfir      wser    wmfg  \
1  2.307159  25.69763  ...   333.6209  182.3330  272.4492  215.7335  229.12
2  2.330254  24.87425  ...   369.2964  189.5414  300.8788  231.5767  240.33
3  2.341801  26.45144  ...  1394.8030  196.6395  309.9696  240.1568  269.70

     wfed    wsta    wloc       mix   pctymle
1  409.37  236.24  231.47  0.099918  0.087697
2  419.70  253.88  236.79  0.103049  0.086377
3  438.85  250.36  248.58  0.080679  0.085091

[3 rows x 24 columns]
-------------

282
dataset_id                         DM
title         DM Dollar Exchange Rate
Name: 282, dtype: object

       date       s      f    s30
1  19750103  2.4005  2.394  2.389
2  19750110  2.3770  2.373  2.348
3  19750117  2.3780  2.377  2.314
-------------

283
dataset_id                              Diamond
title         Pricing the C's of Diamond Stones
Name: 283, dtype: object

   carat colour clarity certification  price
1    0.3      D     VS2           GIA   1302
2    0.3      E     VS1           GIA   1510
3    0.3      G    VVS1           GIA   1510
-------------

284
dataset_id                     Doctor
title         Number of Doctor Visits
Name: 284, dtype: object

   doctor  children  access  health
1       0         1    0.50   0.495
2       1         3    0.17   0.520
3       0         4    0.42  -1.227
-------------

285
dataset_id                     DoctorAUS
title         Doctor Visits in Australia
Name: 285, dtype: object

   sex   age  income insurance  illness  actdays  hscore chcond  doctorco  \
1    1  0.19    0.55  levyplus        1        4       1     np         1
2    1  0.19    0.45  levyplus        1        2       1     np         1
3    0  0.19    0.90   medlevy        3        0       0     np         1

   nondocco  hospadmi  hospdays  medecine  prescrib  nonpresc
1         0         0         0         1         1         0
2         0         0         0         2         1         1
3         0         1         4         2         1         1
-------------

286
dataset_id                  DoctorContacts
title         Contacts With Medical Doctor
Name: 286, dtype: object

   mdu   lc   idp       lpi  fmde  physlim  ndisease health      linc  \
1    0  0.0  True  6.907755   0.0    False  13.73189   good  9.528776
2    2  0.0  True  6.907755   0.0    False  13.73189   good  9.528776
3    0  0.0  True  6.907755   0.0    False  13.73189   good  9.528776

       lfam  educdec       age   sex  child  black
1  1.386294     12.0  42.87748  male  False   True
2  1.386294     12.0  43.87748  male  False   True
3  1.386294     12.0  44.87748  male  False   True
-------------

288
dataset_id                                Electricity
title         Cost Function for Electricity Producers
Name: 288, dtype: object

     cost       q       pl      sl      pk      sk      pf      sf
1  0.2130     8.0  6869.47  0.3291  64.945  0.4197  18.000  0.2512
2  3.0427   869.0  8372.96  0.1030  68.227  0.2913  21.067  0.6057
3  9.4059  1412.0  7960.90  0.0891  40.692  0.1567  41.530  0.7542
-------------

289
dataset_id                         Fair
title         Extramarital Affairs Data
Name: 289, dtype: object

      sex   age    ym child  religious  education  occupation  rate  nbaffairs
1    male  37.0  10.0    no          3         18           7     4          0
2  female  27.0   4.0    no          4         14           6     4          0
3  female  32.0  15.0   yes          1         12           1     4          0
-------------

290
dataset_id                                 Fatality
title         Drunk Driving Laws and Traffic Deaths
Name: 290, dtype: object

   state  year    mrall   beertax  mlda jaild comserd    vmiles  unrate  \
1      1  1982  2.12836  1.539379  19.0    no      no  7.233887    14.4
2      1  1983  2.34848  1.788991  19.0    no      no  7.836348    13.7
3      1  1984  2.33643  1.714286  19.0    no      no  8.262990    11.1

         perinc
1  10544.152344
2  10732.797852
3  11108.791016
-------------

291
dataset_id                   Fishing
title         Choice of Fishing Mode
Name: 291, dtype: object

      mode    price   catch   pbeach    ppier    pboat  pcharter  cbeach  \
1  charter  182.930  0.5391  157.930  157.930  157.930   182.930  0.0678
2  charter   34.534  0.4671   15.114   15.114   10.534    34.534  0.1049
3     boat   24.334  0.2413  161.874  161.874   24.334    59.334  0.5333

    cpier   cboat  ccharter     income
1  0.0503  0.2601    0.5391  7083.3317
2  0.0451  0.1574    0.4671  1249.9998
3  0.4522  0.2413    1.0266  3749.9999
-------------

292
dataset_id                                                 Forward
title         Exchange Rates of US Dollar Against Other Currencies
Name: 292, dtype: object

    usdbp   usdeuro    eurobp  usdbp1  usdeuro1   eurobp1  usdbp3  usdeuro3  \
1  2.0415  1.074785  0.455752  2.0397  1.083166  0.452625  2.0372  1.099955
2  1.9810  1.038044  0.486295  1.9762  1.045747  0.483885  1.9660  1.064056
3  2.0235  1.053964  0.468890  2.0193  1.062091  0.466270  2.0153  1.075808

    eurobp3
1  0.446264
2  0.478027
3  0.461238
-------------

293
dataset_id                                             FriendFoe
title         Data from the Television Game Show Friend Or Foe ?
Name: 293, dtype: object

      sex white  age play  round  season  cash    sex1 white1  age1   play1  \
1    male   yes   20  foe      1       1   1.2    male    yes    32  friend
2    male   yes   40  foe      3       1   7.7  female    yes    31     foe
3  female    no   35  foe      2       1   3.2  female     no    24     foe

   win  win1
1  1.2   0.0
2  0.0   0.0
3  0.0   0.0
-------------

294
dataset_id                                                                             Garch
title         Daily Observations on Exchange Rates of the US Dollar Against Other Currencies
Name: 294, dtype: object

     date        day      dm       ddm      bp      cd        dy      sf
1  800102  wednesday  0.5861       NaN  2.2490  0.8547  0.004206  0.6365
2  800103   thursday  0.5837 -0.004103  2.2365  0.8552  0.004187  0.6357
3  800104     friday  0.5842  0.000856  2.2410  0.8566  0.004269  0.6355
-------------

295
dataset_id                Gasoline
title         Gasoline Consumption
Name: 295, dtype: object

   country  year  lgaspcar  lincomep     lrpmg  lcarpcap
1  AUSTRIA  1960  4.173244 -6.474277 -0.334548 -9.766840
2  AUSTRIA  1961  4.100989 -6.426006 -0.351328 -9.608622
3  AUSTRIA  1962  4.073177 -6.407308 -0.379518 -9.457257
-------------

296
dataset_id     Griliches
title         Wage Datas
Name: 296, dtype: object

  rns rns80 mrt mrt80 smsa smsa80  med   iq  kww  year  age  age80  school  \
1  no    no  no   yes  yes    yes    8   93   35    68   19     31      12
2  no    no  no   yes  yes    yes   14  119   41    66   23     37      16
3  no    no  no   yes  yes    yes   14  108   46    67   20     33      14

   school80   expr  expr80  tenure  tenure80     lw   lw80
1        12  0.462  10.635       0         2  5.900  6.645
2        18  0.000  11.367       2        16  5.438  6.694
3        14  0.423  11.035       1         9  5.710  6.715
-------------

297
dataset_id                    Grunfeld
title         Grunfeld Investment Data
Name: 297, dtype: object

   firm  year    inv   value  capital
1     1  1935  317.6  3078.5      2.8
2     1  1936  391.8  4661.7     52.6
3     1  1937  410.6  5387.1    156.9
-------------

298
dataset_id                                                                       HC
title         Heating and Cooling System Choice in Newly Built Houses in California
Name: 298, dtype: object

  depvar  ich.gcc  ich.ecc  ich.erc  ich.hpc  ich.gc  ich.ec  ich.er  icca  \
1    erc      970      786      879     1136    2408    2450     737  2728
2    hpc      877      869      709      937    2800    3271     933  2649
3    gcc      743      886      694     1170    2571    3168     814  2263

   och.gcc  och.ecc  och.erc  och.hpc  och.gc  och.ec  och.er  occa  income
1      226      409      385      173     226     409     385   295      20
2      230      269      345      165     230     269     345   163      50
3      228      525      435      144     228     525     435   218      50
-------------

299
dataset_id                                            HI
title         Health Insurance and Hours Worked By Wives
Name: 299, dtype: object

   whrswk  hhi  whi hhi2   education   race hispanic  experience  kidslt6  \
1       0   no   no   no  13-15years  white       no        13.0        2
2      50   no  yes   no  13-15years  white       no        24.0        0
3      40  yes   no  yes     12years  white       no        43.0        0

   kids618   husby        region    wght
1        1  11.960  northcentral  214986
2        1   1.200  northcentral  210119
3        0  31.275  northcentral  219955
-------------

300
dataset_id                        Hdma
title         The Boston HDMA Data Set
Name: 300, dtype: object

     dir    hir       lvr  ccs  mcs pbcr dmi self single  uria  comdominiom  \
1  0.221  0.221  0.800000  5.0  2.0   no  no   no     no   3.9            0
2  0.265  0.265  0.921875  2.0  2.0   no  no   no    yes   3.2            0
3  0.372  0.248  0.920398  1.0  2.0   no  no   no     no   3.2            0

  black deny
1    no   no
2    no   no
3    no   no
-------------

301
dataset_id                                       Heating
title         Heating System Choice in California Houses
Name: 301, dtype: object

   idcase depvar   ic.gc   ic.gr   ic.ec   ic.er   ic.hp   oc.gc   oc.gr  \
1       1     gc  866.00  962.64  859.90  995.76  1135.5  199.69  151.72
2       2     gc  727.93  758.89  796.82  894.69   968.9  168.66  168.66
3       3     gc  599.48  783.05  719.86  900.11  1048.3  165.58  137.80

    oc.ec  ...   oc.hp  income  agehed  rooms  region     pb.gc     pb.gr  \
1  553.34  ...  237.88       7      25      6  ncostl  4.336722  6.344846
2  520.24  ...  199.19       5      60      5  scostl  4.315961  4.499526
3  439.06  ...  171.47       4      65      2  ncostl  3.620486  5.682511

      pb.ec     pb.er     pb.hp
1  1.554017  1.969462  4.773415
2  1.531639  1.839072  4.864200
3  1.639548  2.223922  6.113606

[3 rows x 21 columns]
-------------

302
dataset_id                                      Hedonic
title         Hedonic Prices of Cencus Tracts in Boston
Name: 302, dtype: object

         mv     crim    zn     indus chas        nox         rm        age  \
1  10.08580  0.00632  18.0  2.309999   no  28.944401  43.230598  65.199951
2   9.98045  0.02731   0.0  7.070000   no  21.996099  41.229198  78.899963
3  10.45450  0.02730   0.0  7.070000   no  21.996099  51.624199  61.099976

       dis      rad  tax    ptratio   blacks    lstat  townid
1  1.40854  0.00000  296  15.299995  0.39690 -3.00074       1
2  1.60283  0.69315  242  17.799988  0.39690 -2.39251       2
3  1.60283  0.69315  242  17.799988  0.39283 -3.21165       2
-------------

303
dataset_id                                          Housing
title         Sales Prices of Houses in the City of Windsor
Name: 303, dtype: object

     price  lotsize  bedrooms  bathrms  stories driveway recroom fullbase  \
1  42000.0     5850         3        1        2      yes      no      yes
2  38500.0     4000         2        1        1      yes      no       no
3  49500.0     3060         3        1        1      yes      no       no

  gashw airco  garagepl prefarea
1    no    no         1       no
2    no    no         0       no
3    no    no         0       no
-------------

304
dataset_id                 Icecream
title         Ice Cream Consumption
Name: 304, dtype: object

    cons  income  price  temp
1  0.386      78  0.270    41
2  0.374      79  0.282    56
3  0.393      81  0.277    63
-------------

305
dataset_id                     Journals
title         Economic Journals Dat Set
Name: 305, dtype: object

                                       title                     pub society  \
1          Asian-Pacific Economic Literature               Blackwell      no
2  South African Journal of Economic History  So Afr ec history assn      no
3                    Computational Economics                  Kluwer      no

   libprice  pages  charpp  citestot  date1  oclc        field
1       123    440    3822        21   1986    14      General
2        20    309    1782        22   1986    59   Ec History
3       443    567    2924        22   1987    17  Specialized
-------------

306
dataset_id                                                                 Kakadu
title         Willingness to Pay for the Preservation of the Kakadu National Park
Name: 306, dtype: object

   lower  upper answer  recparks  jobs  lowrisk  wildlife  future  aboriginal  \
1      0      2     nn         3     1        5         5       1           1
2      0      2     nn         5     5        3         5       5           1
3      0      2     nn         4     4        5         3       5           1

   finben  ...  gov  envcon  vparks tvenv conservation     sex age schooling  \
1       1  ...    1     yes     yes     1           no    male  27         3
2       5  ...    2      no     yes     3           no  female  32         4
3       5  ...    2      no     yes     2           no    male  32         4

   income  major
1      25     no
2       9     no
3      25    yes

[3 rows x 22 columns]
-------------

307
dataset_id                        Ketchup
title         Choice of Brand for Ketchup
Name: 307, dtype: object

   Ketchup.hid  Ketchup.id Ketchup.choice  price.heinz  price.hunts  \
1            1           1          heinz         1.19         1.39
2            1           2          heinz         0.99         1.36
3            1           3          hunts         1.46         1.43

   price.delmonte  price.stb
1            1.49       0.89
2            1.39       0.95
3            1.49       0.99
-------------

308
dataset_id              Klein
title         Klein's Model I
Name: 308, dtype: object

   Year     C     P    Wp    I  K.lag     X   Wg    G    T
1  1920  39.8  12.7  28.8  2.7  180.1  44.9  2.2  2.4  3.4
2  1921  41.9  12.4  25.5 -0.2  182.8  45.6  2.7  3.9  7.7
3  1922  45.0  16.9  29.3  1.9  182.6  50.1  2.9  3.2  3.9
-------------

309
dataset_id               LaborSupply
title         Wages and Hours Worked
Name: 309, dtype: object

   lnhr  lnwg  kids  age  disab  id  year
1  7.58  1.91     2   27      0   1  1979
2  7.75  1.89     2   28      0   1  1980
3  7.65  1.91     2   29      0   1  1981
-------------

310
dataset_id           Labour
title         Belgian Firms
Name: 310, dtype: object

     capital  labour     output       wage
1   2.606563     184   9.250759  43.080307
2   1.323237      91   3.664310  27.780016
3  22.093692     426  28.781516  44.467748
-------------

311
dataset_id                                    MCAS
title         The Massashusets Test Score Data Set
Name: 311, dtype: object

   code  municipa  district  regday     specneed  bilingua  occupday  totday  \
1     1  ABINGTON  Abington    4201  7375.689941         0         0    4646
2     2     ACTON     Acton    4129  8573.990234         0         0    4930
3     3  ACUSHNET  Acushnet    3627  8081.720215         0         0    4281

    spc  speced  lnchpct   tchratio  percap  totsc4  totsc8  avgsalary  \
1  16.6    14.6     11.8  19.000000  16.379     714   691.0  34.360001
2   5.7    17.4      2.5  22.600000  25.792     731     NaN  38.063000
3   7.5    12.1     14.1  19.299999  14.040     704   693.0  32.491001

      pctel
1  0.000000
2  1.246106
3  0.000000
-------------

312
dataset_id                                 Males
title         Wages and Education of Young Males
Name: 312, dtype: object

   nr  year  school  exper union   ethn married health      wage  \
1  13  1980      14      1    no  other      no     no  1.197540
2  13  1981      14      2   yes  other      no     no  1.853060
3  13  1982      14      3    no  other      no     no  1.344462

                      industry       occupation   residence
1  Business_and_Repair_Service  Service_Workers  north_east
2             Personal_Service  Service_Workers  north_east
3  Business_and_Repair_Service  Service_Workers  north_east
-------------

313
dataset_id                                                                  Mathlevel
title         Level of Calculus Attained for Students Taking Advanced Micro-economics
Name: 313, dtype: object

  mathlevel  sat language     sex  major  mathcourse  physiccourse  \
1       170  670       no    male     ns           1             2
2       170  660       no    male  other           1             1
3       170  610       no  female    eco           1             0

   chemistcourse
1              1
2              1
3              1
-------------

314
dataset_id                                  MedExp
title         Structure of Demand for Medical Care
Name: 314, dtype: object

        med   lc  idp       lpi  fmde physlim  ndisease     health      linc  \
1  62.07547  0.0  yes  6.907755   0.0      no  13.73189       good  9.528776
2   0.00000  0.0  yes  6.907755   0.0      no  13.73189  excellent  9.528776
3  27.76280  0.0  yes  6.907755   0.0      no  13.73189  excellent  9.528776

       lfam  educdec       age     sex child black
1  1.386294     12.0  43.87748    male    no    no
2  1.386294     12.0  17.59138    male   yes    no
3  1.386294     12.0  15.49966  female   yes    no
-------------

316
dataset_id           Mode
title         Mode Choice
Name: 316, dtype: object

  choice  cost.car  cost.carpool  cost.bus  cost.rail   time.car  \
1    car  1.507010      2.335612  1.800512   2.358920  18.503200
2   rail  6.056998      2.896919  2.237128   1.855451  31.311107
3    car  5.794677      2.137454  2.576385   2.747479  22.547429

   time.carpool   time.bus  time.rail
1     26.338233  20.867794  30.033469
2     34.256956  67.181889  60.293126
3     23.255171  63.309057  49.171643
-------------

317
dataset_id                          ModeChoice
title         Data to Study Travel Mode Choice
Name: 317, dtype: object

   mode  ttme  invc  invt  gc  hinc  psize
1     0    69    59   100  70    35      1
2     0    34    31   372  71    35      1
3     0    35    25   417  70    35      1
-------------

318
dataset_id                                                                                         Mofa
title         International Expansion of U.S. Mofa's (majority-owned Foreign Affiliates in Fire (fin...
Name: 318, dtype: object

         capexp     gdp  sales  nbaf netinc
Belgium     2.0  0.8524   2.12  4.82   11.5
Denmark     3.0  0.5700   0.15  1.24    0.1
France      3.0  5.3726   2.70  9.08    0.4
-------------

319
dataset_id                 Mroz
title         Labor Supply Data
Name: 319, dtype: object

  work  hoursw  child6  child618  agew  educw  hearnw  wagew  hoursh  ageh  \
1   no    1610       1         0    32     12  3.3540   2.65    2708    34
2   no    1656       0         2    30     12  1.3889   2.65    2310    30
3   no    1980       1         3    35     12  4.5455   4.04    3072    40

   educh   wageh  income  educwm  educwf  unemprate city  experience
1     12  4.0288   16310      12       7        5.0   no          14
2      9  8.4416   21800       7       7       11.0  yes           5
3     12  3.5807   21040      12       7        5.0   no          15
-------------

320
dataset_id                        MunExp
title         Municipal Expenditure Data
Name: 320, dtype: object

    id  year    expend   revenue    grants
1  114  1979  0.022974  0.018177  0.005443
2  114  1980  0.026631  0.020914  0.005730
3  114  1981  0.027325  0.021084  0.005665
-------------

321
dataset_id                                                             NaturalPark
title         Willingness to Pay for the Preservation of the Alentejo Natural Park
Name: 321, dtype: object

   bid1  bidh  bidl answers  age     sex  income
1     6    18     3      yy    1  female       2
2    48   120    24      yn    2    male       1
3    48   120    24      yn    2  female       3
-------------

322
dataset_id                                          Nerlove
title         Cost Function for Electricity Producers, 1955
Name: 322, dtype: object

    cost  output    pl      sl     pk      sk    pf      sf
1  0.082       2  2.09  0.3164  183.0  0.4521  17.9  0.2315
2  0.661       3  2.05  0.2073  174.0  0.6676  35.1  0.1251
3  0.990       4  2.05  0.2349  171.0  0.5799  35.1  0.1852
-------------

323
dataset_id                           OFP
title         Visits to Physician Office
Name: 323, dtype: object

   ofp  ofnp  opp  opnp  emr  hosp  numchron  adldiff  age black     sex  \
1    5     0    0     0    0     1         2        0  6.9   yes    male
2    1     0    2     0    2     0         2        0  7.4    no  female
3   13     0    0     0    3     3         4        1  6.6   yes  female

  maried  school  faminc employed privins medicaid region   hlth
1    yes       6  2.8810      yes     yes       no  other  other
2    yes      10  2.7478       no     yes       no  other  other
3     no      10  0.6532       no      no      yes  other   poor
-------------

324
dataset_id               Oil
title         Oil Investment
Name: 324, dtype: object

   dur  size  waterd  gasres  operator       p  vardp     p97  varp97     p98  \
1   86   235     126    1140    2576.0  2.1834  1.870  2.0480   3.298  2.2091
2  227   105      91       0   16000.0  1.3894  2.400  2.0047   4.622  2.0542
3   17    70      76       0     584.0  0.9321  0.007  0.9076   0.178  0.9056

   varp98
1   3.905
2   4.818
3   0.179
-------------

325
dataset_id                               PSID
title         Panel Survey of Income Dynamics
Name: 325, dtype: object

   intnum  persnum  age  educatn  earnings  hours  kids   married
1       4        4   39     12.0     77250   2940     2   married
2       4        6   35     12.0     12000   2040     2  divorced
3       4        7   33     12.0      8000    693     1   married
-------------

326
dataset_id                Participation
title         Labor Force Participation
Name: 326, dtype: object

   lfp    lnnlinc  age  educ  nyc  noc foreign
1   no  10.787497  3.0     8    1    1      no
2  yes  10.524251  4.5     8    0    1      no
3   no  10.968578  4.6     9    0    0      no
-------------

327
dataset_id                                  PatentsHGH
title         Dynamic Relation Between Patents and R&D
Name: 327, dtype: object

   obsno  year  cusip  ardsic scisect    logk  sumpat  logr  logr1  logr2  \
1      1     1    800      15      no  6.0836     354    32     31     34
2      1     2    800      15      no  6.0836     354    41     32     31
3      1     3    800      15      no  6.0836     354    60     41     32

   logr3  logr4    logr5      pat     pat1     pat2     pat3     pat4
1     22     28  0.92327  1.02901  1.06678  0.94196  0.88311  0.99684
2     34     22  1.02309  0.92327  1.02901  1.06678  0.94196  0.88311
3     31     34  0.97240  1.02309  0.92327  1.02901  1.06678  0.94196
-------------

328
dataset_id                                                         PatentsRD
title         Patents, R&D and Technological Spillovers for a Panel of Firms
Name: 328, dtype: object

   year  fi  sector  geo  patent     rdexp       spil
1  1983   1       4    3      18  5.290220   8.984630
2  1983   2       5    3       4  4.313897  10.418267
3  1983   3       2    3      29  3.758947   9.645684
-------------

329
dataset_id                         Pound
title         Pound-dollar Exchange Rate
Name: 329, dtype: object

       date       s       f     s30
1  19750103  0.4270  0.4299  0.4216
2  19750110  0.4247  0.4270  0.4199
3  19750117  0.4248  0.4259  0.4175
-------------

330
dataset_id                  Produc
title         Us States Production
Name: 330, dtype: object

     state  year      pcap      hwy    water     util        pc    gsp  \
1  ALABAMA  1970  15032.67  7325.80  1655.68  6051.20  35793.80  28418
2  ALABAMA  1971  15501.94  7525.94  1721.02  6254.98  37299.91  29375
3  ALABAMA  1972  15972.41  7765.42  1764.75  6442.23  38670.30  31303

      emp  unemp
1  1010.5    4.7
2  1021.9    5.2
3  1072.3    4.7
-------------

331
dataset_id              RetSchool
title         Return to Schooling
Name: 331, dtype: object

   wage76  grade76  exp76  black  south76  smsa76  region  smsa66  momdad14  \
1     NaN      NaN    NaN      1      NaN       0       1       1         0
2  1.7011      7.0   16.0      1      0.0       1       1       1         1
3  1.5707     12.0    9.0      0      0.0       1       1       1         1

   sinmom14  nodaded  nomomed   daded   momed  famed  age76  col4
1         1        1        0  9.9372  11.000      9     28     0
2         0        1        1  9.9372  10.251      9     29     0
3         0        0        0  8.0000   8.000      8     27     0
-------------

333
dataset_id              Schooling
title         Wages and Schooling
Name: 333, dtype: object

  smsa66 smsa76 nearc2 nearc4 nearc4a nearc4b  ed76  ed66  age76  daded  ...  \
1    yes    yes     no     no      no      no     7     5     29   9.94  ...
2    yes    yes     no     no      no      no    12    11     27   8.00  ...
3    yes    yes     no     no      no      no    12    12     34  14.00  ...

    lwage76  famed black wage76 enroll76   kww iqscore mar76  libcrd14  exp76
1  6.306275      9   yes    548       no  15.0     NaN   yes        no     16
2  6.175867      8    no    481       no  35.0    93.0   yes       yes      9
3  6.580639      2    no    721       no  42.0   103.0   yes       yes     16

[3 rows x 28 columns]
-------------

334
dataset_id                   Somerville
title         Visits to Lake Somerville
Name: 334, dtype: object

   visits  quality  ski  income feeSom  costCon  costSom  costHoust
1       0        0  yes       4     no    67.59   68.620      76.80
2       0        0   no       9     no    68.86   70.936      84.78
3       0        0  yes       5     no    58.12   59.465      72.11
-------------

335
dataset_id                                        Star
title         Effects on Learning of Small Class Sizes
Name: 335, dtype: object

   tmathssk  treadssk             classk  totexpk   sex freelunk   race  \
2       473       447        small.class        7  girl       no  white
3       536       450        small.class       21  girl       no  black
5       463       439  regular.with.aide        0   boy      yes  black

   schidkn
2       63
3       20
5       19
-------------

339
dataset_id            SumHes
title         The Penn Table
Name: 339, dtype: object

   year  country opec com    pop   gdp    sr
1  1960  ALGERIA   no  no  10800  1723  19.9
2  1961  ALGERIA   no  no  11016  1599  21.1
3  1962  ALGERIA   no  no  11236  1275  15.0
-------------

340
dataset_id                            Tobacco
title         Households Tobacco Budget Share
Name: 340, dtype: object

  occupation    region  nkids  nkids2  nadults       lnx  stobacco  salcohol  \
1    bluecol  flanders      1       0        2  14.19054       0.0  0.000000
2  inactself  flanders      0       0        3  13.90857       0.0  0.002285
3   whitecol  flanders      0       0        1  13.97461       0.0  0.012875

   age
1    2
2    3
3    2
-------------

341
dataset_id                                     Train
title         Stated Preferences for Train Traveling
Name: 341, dtype: object

   id  choiceid   choice  price1  time1  change1  comfort1  price2  time2  \
1   1         1  choice1    2400    150        0         1    4000    150
2   1         2  choice1    2400    150        0         1    3200    130
3   1         3  choice1    2400    115        0         1    4000    115

   change2  comfort2
1        0         1
2        0         1
3        0         0
-------------

342
dataset_id                                                    TranspEq
title         Statewide Data on Transportation Equipment Manufacturing
Name: 342, dtype: object

         state        va  capital    labor  nfirm
1      Alabama   126.148    3.804   31.551     68
2   California  3201.486  185.446  452.844   1372
3  Connecticut   690.670   39.712  124.074    154
-------------

343
dataset_id                                              Treatment
title         Evaluating Treatment Effect of Training on Earnings
Name: 343, dtype: object

   treat  age  educ   ethn  married  re74  re75      re78   u74   u75
1   True   37    11  black     True   0.0   0.0   9930.05  True  True
2   True   30    12  black    False   0.0   0.0  24909.50  True  True
3   True   27    11  black    False   0.0   0.0   7506.15  True  True
-------------

344
dataset_id                        Tuna
title         Choice of Brand for Tuna
Name: 344, dtype: object

   Tuna.hid  Tuna.id Tuna.choice  price.skw  price.cosw  price.sko  \
1         1        1         skw       0.59        0.59       0.59
2         1        2         skw       0.69        0.84       0.69
3         1        3         skw       0.69        0.89       0.69

   price.coso  price.pw
1        0.59      0.59
2        0.89      0.59
3        0.89      0.59
-------------

345
dataset_id              USFinanceIndustry
title         US Finance Industry Profits
Name: 345, dtype: object

     year  CorporateProfitsAdj  Domestic  Financial  Nonfinancial  \
NaN  1929                 10.7      10.4        1.6           8.9
NaN  1930                  7.4       7.2        0.7           6.6
NaN  1931                  2.8       2.8        0.5           2.3

     restOfWorld  FinanceProportion
NaN          0.2           0.153846
NaN          0.1           0.097222
NaN          0.0           0.178571
-------------

346
dataset_id                               USclassifiedDocuments
title         Official Secrecy of the United States Government
Name: 346, dtype: object

   year  OCAuthorities  OCActivity  TenYrDeclass  DerivClassActivity
1  1980         7149.0         NaN           NaN                 NaN
2  1982         6943.0         NaN           NaN                 NaN
3  1984         6900.0         NaN           NaN                 NaN
-------------

347
dataset_id                                      USstateAbbreviations
title         Standard abbreviations for states of the United States
Name: 347, dtype: object

            Name         Status      ISO ANSI.letters  ANSI.digits USPS USCG  \
2  United States  Federal state  US\nUSA           US          0.0  NaN  NaN
3        Alabama          State    US-AL           AL          1.0   AL   AL
4         Alaska          State    US-AK           AK          2.0   AK   AK

  Old.GPO      AP   Other
2    U.S.    U.S.  U.S.A.
3    Ala.    Ala.     NaN
4  Alaska  Alaska   Alas.
-------------

348
dataset_id                       UStaxWords
title         Number of Words in US Tax Law
Name: 348, dtype: object

   year  IncomeTaxCode  otherTaxCode  EntireTaxCode  IncomeTaxRegulations  \
1  1955            172           237            409                   547
2  1965            243           305            548                  1638
3  1975            395           363            758                  2456

   otherTaxRegulations  EntireTaxRegulations  IncomeTaxCodeAndRegs  \
1                  440                   987                   718
2                  565                  2203                  1881
3                  692                  3148                  2851

   otherTaxCodeAndRegs  EntireTaxCodeAndRegs
1                  678                  1396
2                  870                  2751
3                 1055                  3906
-------------

349
dataset_id                 UnempDur
title         Unemployment Duration
Name: 349, dtype: object

   spell  censor1  censor2  censor3  censor4  age   ui  reprate  disrate  \
1      5        1        0        0        0   41   no    0.179    0.045
2     13        1        0        0        0   30  yes    0.520    0.130
3     21        1        0        0        0   36  yes    0.204    0.051

   logwage  tenure
1  6.89568       3
2  5.28827       6
3  6.76734       1
-------------

350
dataset_id             Unemployment
title         Unemployment Duration
Name: 350, dtype: object

   duration  spell      race   sex  reason search pubemp  ftp1  ftp2  ftp3  \
1         4      1     white  male  reentr    yes    yes     1     0     0
2         7      0     white  male    lose     no     no     1     1     1
3         1      0  nonwhite  male    lose     no     no     0     0     0

   ftp4  nobs
1     0     1
2     1     2
3     0     1
-------------

351
dataset_id                                       University
title         Provision of University Teaching and Research
Name: 351, dtype: object

   undstudents  poststudents    nassets  acnumbers  acrelnum  clernum  compop  \
1           17          1190    3669.71      183.0      50.0    127.0     1.0
2            0           392   12156.00       83.0      62.0     32.0     4.0
3         9752          3975  185203.00     2030.0     658.0    845.5    27.5

   techn  stfees  acpay  acrelpay  secrpay  admpay  agresrk  furneq  \
1   15.0    2821   4889         0      683     954   915.00     143
2   15.0    4037    993       110      457    1001   410.00     392
3  633.5   17296  30705      9273     8667    4705  9147.09    6229

   landbuild  resgr
1     2674.0   2176
2     9063.0   1502
3    44888.0  40746
-------------

352
dataset_id                                          VietNamH
title         Medical Expenses in Viet-nam (household Level)
Name: 352, dtype: object

      sex  age  educyr farm urban  hhsize   lntotal      lnmed   lnrlfood  \
1  female   68     4.0   no   yes       6  10.13649  11.233210   8.639339
2  female   57     8.0   no   yes       6  10.25206   8.505120   9.345752
3    male   42    14.0   no   yes       6  10.93231   8.713418  10.226330

    lnexp12m  commune
1  11.233210        1
2   8.505120        1
3   8.713418        1
-------------

353
dataset_id                                           VietNamI
title         Medical Expenses in Viet-nam (individual Level)
Name: 353, dtype: object

   pharvis   lnhhexp       age     sex  married  educ  illness  injury  \
1        0  2.730363  3.761200    male        1     2        1       0
2        0  2.737248  2.944439  female        0     0        1       0
3        0  2.266935  2.564950    male        0     4        0       0

   illdays  actdays  insurance  commune
1        7        0          0      192
2        4        0          0      167
3        0        0          1       76
-------------

354
dataset_id                              Wages
title         Panel Datas of Individual Wages
Name: 354, dtype: object

   exp  wks bluecol  ind south smsa married   sex union  ed black    lwage
1    3   32      no    0   yes   no     yes  male    no   9    no  5.56068
2    4   43      no    0   yes   no     yes  male    no   9    no  5.72031
3    5   40      no    0   yes   no     yes  male    no   9    no  5.99645
-------------

355
dataset_id                             Wages1
title         Wages, Experience and Schooling
Name: 355, dtype: object

   exper     sex  school      wage
1      9  female      13  6.315296
2     12  female      12  5.479770
3     11  female      11  3.642170
-------------

356
dataset_id          Workinghours
title         Wife Working Hours
Name: 356, dtype: object

   hours  income  age  education  child5  child13  child17  nonwhite  owned  \
1   2000     350   26         12       0        1        0         0      1
2    390     241   29          8       0        1        1         0      1
3   1900     160   33         10       0        2        0         0      1

   mortgage occupation  unemp
1         1       swcc      7
2         1      other      4
3         0       swcc      7
-------------

357
dataset_id                         Yen
title         Yen-dollar Exchange Rate
Name: 357, dtype: object

       date      s       f     s30
1  19750103  300.6  301.30  297.30
2  19750110  300.6  300.60  295.45
3  19750117  300.7  300.45  293.20
-------------

358
dataset_id                         Yogurt
title         Choice of Brand for Yogurts
Name: 358, dtype: object

   id  feat.yoplait  feat.dannon  feat.hiland  feat.weight  price.yoplait  \
1   1             0            0            0            0           10.8
2   1             0            0            0            0           10.8
3   1             0            0            0            0           10.8

   price.dannon  price.hiland  price.weight  choice
1           8.1           6.1           7.9  weight
2           9.8           6.4           7.5  dannon
3           9.8           6.1           8.6  dannon
-------------

359
dataset_id                  bankingCrises
title         Countries in Banking Crises
Name: 359, dtype: object

   year  Algeria  Angola  Argentina  Australia  Austria  Belgium  Bolivia  \
1  1800        0       0          0          0        0        0        0
2  1801        0       0          0          0        0        0        0
3  1802        0       0          0          0        0        0        0

   Brazil  Canada  ...  Taiwan  Thailand  Tunisia  Turkey  UK  Uruguay  US  \
1       0       0  ...       0         0        0       0   0        0   0
2       0       0  ...       0         0        0       0   0        0   0
3       0       0  ...       0         0        0       0   0        0   0

   Venezuela  Zambia  Zimbabwe
1          0       0         0
2          0       0         0
3          0       0         0

[3 rows x 71 columns]
-------------

360
dataset_id               incomeInequality
title         Income Inequality in the US
Name: 360, dtype: object

    Year  Number.thousands  quintile1  quintile2        median  quintile3  \
35  1947             37237      14243      22984  26764.142878      31166
36  1948             38624      13779      22655  26177.632437      30248
37  1949             39303      13007      22221  25809.279668      29977

    quintile4    p95    P90    P95  ...   P99.9   P99.99   realGDP.M  \
35      44223  72583  41477  54172  ...  479022  1584506  2034673.76
36      42196  68714  43459  58911  ...  504131  1687123  2119101.80
37      42361  67996  43923  58971  ...  467824  1539131  2107550.70

    GDP.Deflator  PopulationK  realGDPperCap  P95IRSvsCensus  \
35         12.90       144126   14117.323879        0.746346
36         13.63       146631   14451.938244        0.857336
37         13.62       149188   14126.806282        0.867272

    personsPerFamily  realGDPperFamily  mean.median
35          3.870505      54641.174675     2.041581
36          3.796370      54864.906707     2.095870
37          3.795843      53623.132473     2.077669

[3 rows x 22 columns]
-------------

362
dataset_id                          politicalKnowledge
title         Political knowledge in the US and Europe
Name: 362, dtype: object

   country  DomesticKnowledge.hs  DomesticKnowledge.sc  DomesticKnowledge.c  \
1  Denmark                  0.77                  0.79                 0.77
2  Finland                  0.74                  0.75                 0.85
3       UK                  0.62                  0.65                 0.72

   InternationalKnowledge.hs  InternationalKnowledge.sc  \
1                       0.65                       0.67
2                       0.56                       0.69
3                       0.52                       0.54

   InternationalKnowledge.c  PoliticalKnowledge.hs  PoliticalKnowledge.sc  \
1                      0.65                   0.71                  0.730
2                      0.70                   0.65                  0.720
3                      0.68                   0.57                  0.595

   PoliticalKnowledge.c  PublicMediaPerCapita  PublicMediaRel2US
1                 0.710                 101.0              74.81
2                 0.775                 101.0              74.81
3                 0.700                  80.0              59.26
-------------

363
dataset_id                                                             PD
title         A study of Parkinson's disease and APOE, LRRK2, SNCA makers
Name: 363, dtype: object

       lab apoe rs10506151 rs10784486 rs1365763 rs1388598 rs1491938 rs1491941  \
1  002-001  NaN        2/2        1/2       2/2       2/2       1/2       1/2
2  008-015  NaN        2/2        2/2       2/2       2/2       1/2       2/2
3  019-000  3/4        NaN        NaN       NaN       NaN       NaN       NaN

  m770 int4  ... diag sex race aon comments  pd apoe234  apoe2  apoe3  apoe4
1  NaN  NaN  ...  NaN   F  NaN NaN      NaN   0     NaN    NaN    NaN    NaN
2  NaN  NaN  ...  NaN   F  NaN NaN      NaN   0     NaN    NaN    NaN    NaN
3  NaN  NaN  ...  NaN   M  NaN NaN      NaN   1     1.0    0.0    0.0    1.0

[3 rows x 22 columns]
-------------

364
dataset_id                           aldh2
title         ALDH2 markers and Alcoholism
Name: 364, dtype: object

  id  y  D12S2070.a1  D12S2070.a2  D12S839.a1  D12S839.a2  D12S821.a1  \
1  2  1            4            4           3           4           3
2  4  1            4            4           4           5           5
3  6  1            4            4           3           5           3

   D12S821.a2  D12S1344.a1  D12S1344.a2  EXON12.a1  EXON12.a2  EXON1.a1  \
1           7            8           10          2          2         2
2           6            3            4          2          2         2
3           5            3            8          2          2         2

   EXON1.a2  D12S2263.a1  D12S2263.a2  D12S1341.a1  D12S1341.a2
1         2            6            8            5            8
2         2            8            9            3            5
3         2            7           10            8            8
-------------

365
dataset_id                              apoeapoc
title         APOE/APOC1 markers and Alzheimer's
Name: 365, dtype: object

   id  y  sex  age  apoe.a1  apoe.a2  apoc.a1  apoc.a2
1   1  2    2   67        3        3        1        1
2   2  2    1   64        3        3        1        1
3   3  2    2   71        3        3        1        2
-------------

366
dataset_id                      cf
title         Cystic fibrosis data
Name: 366, dtype: object

   y  loc1  loc2  loc3  loc4  loc5  loc6  loc7  loc8  loc9  ...  loc14  loc15  \
1  1     0     0     0     0     1     1     1     0     0  ...      1      0
2  1     0     0     0     0     1     1     1     0     0  ...      1      0
3  1     0     0     0     0     1     1     1     0     0  ...      1      0

   loc16  loc17  loc18  loc19  loc20  loc21  loc22  loc23
1      1      0      0      1      0      0      0      0
2      1      0      0      1      0      0      0      0
3      1      0      0      1      0      0      0      0

[3 rows x 24 columns]
-------------

367
dataset_id                   crohn
title         Crohn's disease data
Name: 367, dtype: object

      pid   id  fid  mid  sex  crohn  loc1.a1  loc1.a2  loc2.a1  loc2.a2  ...  \
1  PED054  430    0    0    1      0        1        3        3        1  ...
2  PED054  412  430  431    2      2        1        3        1        3  ...
3  PED054  431    0    0    2      0        3        3        3        3  ...

   loc99.a1  loc99.a2  loc100.a1  loc100.a2  loc101.a1  loc101.a2  loc102.a1  \
1         4         2          3          1          3          4          2
2         2         4          3          1          3          4          2
3         4         4          1          1          4          4          1

   loc102.a2  loc103.a1  loc103.a2
1          1          3          3
2          1          3          3
3          1          3          3

[3 rows x 212 columns]
-------------

368
dataset_id                        fa
title         Friedreich Ataxia data
Name: 368, dtype: object

   y  loci1  loci2  loci3  loci4  loci5  loci6  loci7  loci8  loci9  loci10  \
1  1      2      7      8      2      5      9      2      2      2       2
2  1      3      7      8      2      5      9      2      2      2       2
3  1      3      1      8      2      5      9      2      2      2       2

   loci11  loci12
1       6       3
2       6       3
3      14       5
-------------

369
dataset_id                                                            fsnps
title         A case-control data involving four SNPs with missing genotype
Name: 369, dtype: object

   id  y site1.a1 site1.a2 site2.a1 site2.a2 site3.a1 site3.a2 site4.a1  \
1   1  1        A        C        C        T        T        T        A
2   2  2        C        C        T        T        T        T        G
3   3  1        A        C        Z        Z        G        T        A

  site4.a2
1        G
2        G
3        G
-------------

370
dataset_id             hla
title         The HLA data
Name: 370, dtype: object

    id  y  DQR.a1  DQR.a2  DQA.a1  DQA.a2  DQB.a1  DQB.a2
1  CTR  0       4       9       4       8       1       1
2  CTR  0       4       7       5       8       1       3
3  CTR  0      22      21       1       2      12       9
-------------

371
dataset_id                                                hr1420
title         An example data for Manhattan plot with annotation
Name: 371, dtype: object

        gene       P  CHR       POS  colour
2020311  NaN  0.7698   14  18416362     NaN
2020312  NaN  0.9679   14  18689850     NaN
2020313  NaN  0.7202   14  18859146     NaN
-------------

372
dataset_id                         l51
title         An example pedigree data
Name: 372, dtype: object

   id  fid  mid  sex  aff      qt
1   1    0    0    1    1 -0.9642
2   2    0    0    2    1  1.0865
3   3    0    0    1    1 -0.5363
-------------

373
dataset_id                  lukas
title         An example pedigree
Name: 373, dtype: object

   id  father  mother sex
1   2       0       0   F
2  88       0       0   F
3   8       0       0   F
-------------

/home/morarica/anaconda3/envs/SepMe/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

374
dataset_id                                            mao
title         A study of Parkinson's disease and MAO gene
Name: 374, dtype: object

         id  type  gender   age  aao  aad  updrs maoai2 ai2code maobi2  \
1   2341.00     0       0  69.0  NaN  NaN    NaN    116       7    179
2   2342.00     0       0   NaN  NaN  NaN    NaN    122      10    179
3   2343.00     0       0   NaN  NaN  NaN    NaN    112       5    175

  bi2code gtbex3 bex3code maoavntr vntrcode vntrcod2 maoa31 mao31cod mao31co2
1       6    255        4      NaN      NaN      NaN    NaN      NaN      NaN
2       6    255        4      NaN      NaN      NaN    NaN      NaN      NaN
3       4    255        4      NaN      NaN      NaN    NaN      NaN      NaN
-------------

375
dataset_id                       mfblong
title         Example data for ACEnucfam
Name: 375, dtype: object

    bwt  male  first  midage  highage  birthyr  var1  var2  var3  familyid
1  3520     0      1       0        0        5   1.0   0.0   0.0         1
2  3660     0      0       1        0        5   1.0   0.0   0.0         2
3  3790     0      0       1        0        0   1.0   0.0   0.0         3
-------------

376
dataset_id                               mhtdata
title         An example data for Manhattan plot
Name: 376, dtype: object

          rsn    gene      pos        p  chr  _freq_    start      end
1  rs10907175  TTLL10  1120590  0.04328    1       1  1104458  1123090
2   rs3813199    SDF4  1148140  0.02967    1       2  1142754  1154036
3   rs3766186    SDF4  1152298  0.02790    1       2  1142754  1154036
-------------

377
dataset_id                                                     nep499
title         A study of Alzheimer's disease with eight SNPs and APOE
Name: 377, dtype: object

   id  sex  age  APOE.a1  APOE.a2  apoe4  status  R6.a1  R6.a2  N4.a1  ...  \
1   1    1   68        2        3      0       1      1      1      1  ...
2   2    1   77        3        4      1       1      1      1      1  ...
3   3    1   71        3        3      0       1      1      1      1  ...

   N11.a1  N11.a2  N15.a1  N15.a2  N18.a1  N18.a2  N22.a1  N22.a2  N24.a1  \
1       1       1       1       1       1       2       1       2       1
2       1       2       1       1       1       1       1       1       1
3       1       1       1       1       1       1       1       1       1

   N24.a2
1       2
2       2
3       2

[3 rows x 23 columns]
-------------

378
dataset_id                               diamonds
title         Prices of 50,000 round cut diamonds
Name: 378, dtype: object

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
-------------

379
dataset_id                   economics
title         US economic time series.
Name: 379, dtype: object

         date    pce     pop  psavert  uempmed  unemploy
1  1967-06-30  507.8  198712      9.8      4.5      2944
2  1967-07-31  510.9  198911      9.8      4.7      2945
3  1967-08-31  516.7  199113      9.0      4.6      2958
-------------

380
dataset_id                  midwest
title         Midwest demographics.
Name: 380, dtype: object

   PID     county state   area  poptotal   popdensity  popwhite  popblack  \
1  561      ADAMS    IL  0.052     66090  1270.961540     63917      1702
2  562  ALEXANDER    IL  0.014     10626   759.000000      7054      3496
3  563       BOND    IL  0.022     14991   681.409091     14477       429

   popamerindian  popasian  ...  percollege  percprof  poppovertyknown  \
1             98       249  ...   19.631392  4.355859            63628
2             19        48  ...   11.243308  2.870315            10529
3             35        16  ...   17.033819  4.488572            14235

   percpovertyknown  percbelowpoverty  percchildbelowpovert  percadultpoverty  \
1         96.274777         13.151443             18.011717         11.009776
2         99.087145         32.244278             45.826514         27.385647
3         94.956974         12.068844             14.036061         10.852090

   percelderlypoverty  inmetro  category
1           12.443812        0       AAR
2           25.228976        0       LHR
3           12.697410        0       AAR

[3 rows x 28 columns]
-------------

381
dataset_id                                               movies
title         Movie information and user ratings from IMDB.com.
Name: 381, dtype: object

                    title  year  length  budget  rating  votes   r1    r2  \
1                       $  1971     121     NaN     6.4    348  4.5   4.5
2       $1000 a Touchdown  1939      71     NaN     6.0     20  0.0  14.5
3  $21 a Day Once a Month  1941       7     NaN     8.2      5  0.0   0.0

    r3    r4  ...    r9   r10  mpaa  Action  Animation  Comedy Drama  \
1  4.5   4.5  ...   4.5   4.5   NaN       0          0       1     1
2  4.5  24.5  ...   4.5  14.5   NaN       0          0       1     0
3  0.0   0.0  ...  24.5  24.5   NaN       0          1       0     0

   Documentary  Romance  Short
1            0        0      0
2            0        0      0
3            0        0      1

[3 rows x 24 columns]
-------------

382
dataset_id                                                                  mpg
title         Fuel economy data from 1999 and 2008 for 38 popular models of car
Name: 382, dtype: object

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
-------------

383
dataset_id                                                           msleep
title         An updated and expanded version of the mammals sleep dataset.
Name: 383, dtype: object

              name       genus   vore      order conservation  sleep_total  \
1          Cheetah    Acinonyx  carni  Carnivora           lc         12.1
2       Owl monkey       Aotus   omni   Primates          NaN         17.0
3  Mountain beaver  Aplodontia  herbi   Rodentia           nt         14.4

   sleep_rem  sleep_cycle  awake  brainwt  bodywt
1        NaN          NaN   11.9      NaN   50.00
2        1.8          NaN    7.0   0.0155    0.48
3        2.4          NaN    9.6      NaN    1.35
-------------

384
dataset_id                                         presidential
title         Terms of 10 presidents from Eisenhower to Bush W.
Name: 384, dtype: object

         name       start         end       party
1  Eisenhower  1953-01-20  1961-01-20  Republican
2     Kennedy  1961-01-20  1963-11-22  Democratic
3      Johson  1963-11-22  1969-01-20  Democratic
-------------

385
dataset_id                              seals
title         Vector field of seal movements.
Name: 385, dtype: object

    lat   long  delta_long  delta_lat
1  29.7 -172.8   -0.915046   0.143475
2  30.7 -172.8   -0.867013   0.128389
3  31.7 -172.8   -0.818925   0.113232
-------------

386
dataset_id                                                                     Arbuthnot
title         Arbuthnot's data on male and female birth ratios in London from 1629-1710.
Name: 386, dtype: object

   Year  Males  Females  Plague  Mortality     Ratio  Total
1  1629   5218     4683       0       8771  1.114243  9.901
2  1630   4858     4457    1317      10554  1.089971  9.315
3  1631   4422     4102     274       8562  1.078011  8.524
-------------

390
dataset_id                                                        CushnyPeebles
title         Cushny-Peebles Data: Soporific Effects of Scopolamine Derivatives
Name: 390, dtype: object

   Control  L_hyoscyamine  L_hyoscine  DL_hyoscine
1      0.6            1.3         2.5          2.1
2      3.0            1.4         3.8          4.4
3      4.7            4.5         5.8          4.7
-------------

391
dataset_id                                                       CushnyPeeblesN
title         Cushny-Peebles Data: Soporific Effects of Scopolamine Derivatives
Name: 391, dtype: object

   Control  L_hyoscyamine  L_hyoscine  DL_hyoscine
1        9              6           6            6
2        9              6           6            6
3        8              6           6            6
-------------

393
dataset_id                                                 DrinksWages
title         Elderton and Pearson's (1910) data on drinking and wages
Name: 393, dtype: object

  class        trade  sober  drinks       wage   n
1     A  papercutter      1       1  24.000000   2
2     A       cabmen      1      10  18.416667  11
3     A   goldbeater      2       1  21.500000   3
-------------

396
dataset_id                                                          GaltonFamilies
title         Galton's data on the heights of parents and their children, by child
Name: 396, dtype: object

  family  father  mother  midparentHeight  children  childNum  gender  \
1    001    78.5    67.0            75.43         4         1    male
2    001    78.5    67.0            75.43         4         2  female
3    001    78.5    67.0            75.43         4         3  female

   childHeight
1         73.2
2         69.2
3         69.0
-------------

397
dataset_id                                                               Guerry
title         Data from A.-M. Guerry, "Essay on the Moral Statistics of France"
Name: 397, dtype: object

   dept Region Department  Crime_pers  Crime_prop  Literacy  Donations  \
1     1      E        Ain       28870       15890        37       5098
2     2      N      Aisne       26226        5521        51       8901
3     3      C     Allier       26747        7925        13      10973

   Infants  Suicides MainCity  ...  Crime_parents  Infanticide  \
1    33120     35039    2:Med  ...             71           60
2    14572     12831    2:Med  ...              4           82
3    17044    114121    2:Med  ...             46           42

   Donation_clergy  Lottery  Desertion  Instruction  Prostitutes  Distance  \
1               69       41         55           46           13   218.372
2               36       38         82           24          327    65.945
3               76       66         16           85           34   161.927

   Area  Pop1831
1  5762   346.03
2  7369   513.00
3  7340   298.26

[3 rows x 23 columns]
-------------

398
dataset_id                                                 Jevons
title         W. Stanley Jevons' data on numerical discrimination
Name: 398, dtype: object

   actual  estimated  frequency  error
1       3          3         23      0
2       4          4         65      0
3       5          5        102      0
-------------

399
dataset_id                                                         Langren.all
title         van Langren's Data on Longitude Distance between Toledo and Rome
Name: 399, dtype: object

    Author  Year       Name  Longitude
1  Langren  1628    Langren    17.6907
2  Langren  1628   Mercator    19.6701
3  Langren  1628  Schonerus    20.7835
-------------

400
dataset_id                                                         Langren1644
title         van Langren's Data on Longitude Distance between Toledo and Rome
Name: 400, dtype: object

           Name  Longitude  Year           Longname       City   Country  \
1  G. Jansonius     17.736  1605        Jan Jansson  Amsterdam  Flanders
2   G. Mercator     19.872  1567  Gerardus Mercator     Leuven  Flanders
3  I. Schonerus     20.638  1536     Johann Schoner    Bamberg   Germany

    Latitude  Source  Gap
1  52.373056     Map    0
2  50.883333     Map    0
3  49.891667  Astron    0
-------------

404
dataset_id                                          MichelsonSets
title         Michelson's Determinations of the Velocity of Light
Name: 404, dtype: object

   ds12  ds13  ds14  ds15  ds16
1   850   740   900  1070   930
2   850   950   980   980   880
3  1000   980   930   650   760
-------------

406
dataset_id                                                            Minard.temp
title         Data from Minard's famous graphic map of Napoleon's march on Moscow
Name: 406, dtype: object

   long  temp  days   date
1  37.6     0     6  Oct18
2  36.0     0     6  Oct24
3  33.2    -9    16  Nov09
-------------

407
dataset_id                                                          Minard.troops
title         Data from Minard's famous graphic map of Napoleon's march on Moscow
Name: 407, dtype: object

   long   lat  survivors direction  group
1  24.0  54.9     340000         A      1
2  24.5  55.0     340000         A      1
3  25.5  54.5     340000         A      1
-------------

408
dataset_id                                                                     Nightingale
title         Florence Nightingale's data on deaths from various causes in the Crimean War
Name: 408, dtype: object

         Date Month  Year   Army  Disease  Wounds  Other  Disease.rate  \
1  1854-04-01   Apr  1854   8571        1       0      5           1.4
2  1854-05-01   May  1854  23333       12       0      9           6.2
3  1854-06-01   Jun  1854  28333       11       0      6           4.7

   Wounds.rate  Other.rate
1          0.0         7.0
2          0.0         4.6
3          0.0         2.5
-------------

409
dataset_id                                                 OldMaps
title         Latitudes and Longitudes of 39 Points in 11 Old Maps
Name: 409, dtype: object

   point  col       name    year    lat   long
1      1    1     Actual     NaN  41.68  82.85
2      1    2  Coronelli  1688.0  41.62  87.67
3      1    3   Del'Isle  1703.0 -41.12 -83.03
-------------

410
dataset_id                                                                            PearsonLee
title         Pearson and Lee's data on the heights of parents and children classified by gender
Name: 410, dtype: object

   child  parent  frequency  gp     par  chl
1   59.5    62.5        0.5  fs  Father  Son
2   59.5    63.5        0.5  fs  Father  Son
3   59.5    64.5        1.0  fs  Father  Son
-------------

411
dataset_id                PolioTrials
title         Polio Field Trials Data
Name: 411, dtype: object

          Experiment          Group  Population  Paralytic  NonParalytic  \
1  RandomizedControl     Vaccinated      200745         33            24
2  RandomizedControl        Placebo      201229        115            27
3  RandomizedControl  NotInoculated      338778        121            36

   FalseReports
1            25
2            20
3            25
-------------

412
dataset_id                                                                   Prostitutes
title         Parent-Duchatelet's time-series data on the number of prostitutes in Paris
Name: 412, dtype: object

   Year month  count  mon        date
1  1812   Jan   1110    1  1812-01-01
2  1812   Feb   1124    2  1812-02-01
3  1812   Mar   1180    3  1812-03-01
-------------

413
dataset_id                 Pyx
title         Trial of the Pyx
Name: 413, dtype: object

      Bags     Group Deviation  count
1  1 and 2  near std  Below -R     34
2        3  near std  Below -R     11
3        4  near std  Below -R     20
-------------

414
dataset_id                         Quarrels
title         Statistics of Deadly Quarrels
Name: 414, dtype: object

   ID  year  international  colonial  revolution  nat.grp  grp.grpSame  \
1   1  1914              1         0           0        0            0
2   2  1914              1         0           0        0            0
3   3  1914              1         0           0        0            0

   grp.grpDif  numGroups  months  ...  propadanda  orderedObey  commerceOther  \
1           0         16      52  ...           0            0              0
2           0         17      43  ...           0            0              0
3           0         17      52  ...           0            0              0

   feltStronger  competeIntellect  insecureGovt  prepWar  RegionalError  \
1             0                 0             0        0              3
2             0                 0             0        2              3
3             0                 0             0        2              3

   CasualtyError  Auxiliaries
1              3            2
2              3            2
3              3            2

[3 rows x 84 columns]
-------------

417
dataset_id                                                      Snow.pumps
title         John Snow's map and data on the 1854 London Cholera outbreak
Name: 417, dtype: object

   pump         label          x          y
1     1           NaN   8.651201  17.891600
2     2           NaN  10.984780  18.517851
3     3  Oxford St #1  13.378190  17.394541
-------------

418
dataset_id                                                    Snow.streets
title         John Snow's map and data on the 1854 London Cholera outbreak
Name: 418, dtype: object

   street  n          x          y
1       1  2  16.738001  18.695999
2       1  2  17.660000  18.712000
3       2  2  14.462000  18.655001
-------------

420
dataset_id                                     Wheat.monarchs
title         Playfair's Data on Wages and the Price of Wheat
Name: 420, dtype: object

        name  start   end  commonwealth
1  Elizabeth   1565  1603             0
2    James I   1603  1625             0
3  Charles I   1625  1649             0
-------------

422
dataset_id                            YeastD.mat
title         Student's (1906) Yeast Cell Counts
Name: 422, dtype: object

    C1  C2  C3  C4  C5  C6  C7  C8  C9  C10  C11  C12  C13  C14  C15  C16  \
R1   2   2   4   4   4   5   2   4   7    7    4    7    5    2    8    6
R2   3   3   2   4   2   5   4   2   8    6    3    6    6   10    8    3
R3   7   9   5   2   7   4   4   2   4    4    4    3    5    6    5    4

    C17  C18  C19  C20
R1    7    4    3    4
R2    5    6    4    4
R3    1    4    2    6
-------------

423
dataset_id                                                         ZeaMays
title         Darwin's Heights of Cross- and Self-fertilized Zea May Pairs
Name: 423, dtype: object

   pair  pot  cross    self   diff
1     1    1   23.5  17.375  6.125
2     2    1   12.0  20.375 -8.375
3     3    1   21.0  20.000  1.000
-------------

425
dataset_id                                            environmental
title         Atmospheric environmental conditions in New York City
Name: 425, dtype: object

   ozone  radiation  temperature  wind
1     41        190           67   7.4
2     36        118           72   8.0
3     12        149           74  12.6
-------------

429
dataset_id                            Aids2
title         Australian AIDS Survival Data
Name: 429, dtype: object

  state sex   diag  death status T.categ  age
1   NSW   M  10905  11081      D      hs   35
2   NSW   M  11029  11096      D      hs   53
3   NSW   M   9551   9983      D      hs   42
-------------

431
dataset_id                                 Boston
title         Housing Values in Suburbs of Boston
Name: 431, dtype: object

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
1  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
2  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
3  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8

    black  lstat  medv
1  396.90   4.98  24.0
2  396.90   9.14  21.6
3  392.83   4.03  34.7
-------------

432
dataset_id                                          Cars93
title         Data from 93 Cars on Sale in the USA in 1993
Name: 432, dtype: object

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
1        Acura  Integra    Small       12.9   15.9       18.8        25
2        Acura   Legend  Midsize       29.2   33.9       38.7        18
3         Audi       90  Compact       25.9   29.1       32.3        20

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
1           31                None      Front  ...          5     177
2           25  Driver & Passenger      Front  ...          5     195
3           26         Driver only      Front  ...          5     180

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
1        102     68           37           26.5          11.0    2705
2        115     71           38           30.0          15.0    3560
3        102     67           37           28.0          14.0    3375

    Origin           Make
1  non-USA  Acura Integra
2  non-USA   Acura Legend
3  non-USA        Audi 90

[3 rows x 27 columns]
-------------

436
dataset_id                          Insurance
title         Numbers of Car Insurance claims
Name: 436, dtype: object

   District Group    Age  Holders  Claims
1         1   <1l    <25      197      38
2         1   <1l  25-29      264      35
3         1   <1l  30-35      246      20
-------------

437
dataset_id                            Melanoma
title         Survival from Malignant Melanoma
Name: 437, dtype: object

   time  status  sex  age  year  thickness  ulcer
1    10       3    1   76  1972       6.76      1
2    30       3    1   56  1968       0.65      0
3    35       2    1   41  1977       1.34      0
-------------

438
dataset_id                                                  OME
title         Tests of Auditory Perception in Children with OME
Name: 438, dtype: object

   ID  Age  OME  Loud       Noise  Correct  Trials
1   1   30  low    35    coherent        1       4
2   1   30  low    35  incoherent        4       5
3   1   30  low    40    coherent        0       3
-------------

439
dataset_id                          Pima.te
title         Diabetes in Pima Indian Women
Name: 439, dtype: object

   npreg  glu  bp  skin   bmi    ped  age type
1      6  148  72    35  33.6  0.627   50  Yes
2      1   85  66    29  26.6  0.351   31   No
3      1   89  66    23  28.1  0.167   21   No
-------------

440
dataset_id                          Pima.tr
title         Diabetes in Pima Indian Women
Name: 440, dtype: object

   npreg  glu  bp  skin   bmi    ped  age type
1      5   86  68    28  30.2  0.364   24   No
2      7  195  70    33  25.1  0.163   55  Yes
3      5   77  82    41  35.8  0.156   35   No
-------------

441
dataset_id                         Pima.tr2
title         Diabetes in Pima Indian Women
Name: 441, dtype: object

   npreg  glu    bp  skin   bmi    ped  age type
1      5   86  68.0  28.0  30.2  0.364   24   No
2      7  195  70.0  33.0  25.1  0.163   55  Yes
3      5   77  82.0  41.0  35.8  0.156   35   No
-------------

442
dataset_id                       Rabbit
title         Blood Pressure in Rabbits
Name: 442, dtype: object

   BPchange   Dose Run Treatment Animal
1       0.5   6.25  C1   Control     R1
2       4.5  12.50  C1   Control     R1
3      10.0  25.00  C1   Control     R1
-------------

445
dataset_id                                           Sitka
title         Growth Curves for Sitka Spruce Trees in 1988
Name: 445, dtype: object

   size  Time  tree  treat
1  4.51   152     1  ozone
2  4.98   174     1  ozone
3  5.41   201     1  ozone
-------------

446
dataset_id                                         Sitka89
title         Growth Curves for Sitka Spruce Trees in 1989
Name: 446, dtype: object

   size  Time  tree  treat
1  6.16   469     1  ozone
2  6.18   496     1  ozone
3  6.48   528     1  ozone
-------------

448
dataset_id                                        Traffic
title         Effect of Swedish Speed Limits on Accidents
Name: 448, dtype: object

   year  day limit   y
1  1961    1    no   9
2  1961    2    no  11
3  1961    3    no   9
-------------

449
dataset_id                                               UScereal
title         Nutritional and Marketing Information on US Cereals
Name: 449, dtype: object

                          mfr   calories    protein       fat     sodium  \
100% Bran                   N  212.12121  12.121212  3.030303  393.93939
All-Bran                    K  212.12121  12.121212  3.030303  787.87879
All-Bran with Extra Fiber   K  100.00000   8.000000  0.000000  280.00000

                               fibre     carbo     sugars  shelf  potassium  \
100% Bran                  30.303030  15.15152  18.181818      3  848.48485
All-Bran                   27.272727  21.21212  15.151515      3  969.69697
All-Bran with Extra Fiber  28.000000  16.00000   0.000000      3  660.00000

                           vitamins
100% Bran                  enriched
All-Bran                   enriched
All-Bran with Extra Fiber  enriched
-------------

450
dataset_id                                            UScrime
title         The Effect of Punishment Regimes on Crime Rates
Name: 450, dtype: object

     M  So   Ed  Po1  Po2   LF   M.F  Pop   NW   U1  U2  GDP  Ineq      Prob  \
1  151   1   91   58   56  510   950   33  301  108  41  394   261  0.084602
2  143   0  113  103   95  583  1012   13  102   96  36  557   194  0.029599
3  142   1   89   45   44  533   969   18  219   94  33  318   250  0.083401

      Time     y
1  26.2011   791
2  25.2999  1635
3  24.3006   578
-------------

451
dataset_id                                            VA
title         Veteran's Administration Lung Cancer Trial
Name: 451, dtype: object

   stime  status  treat  age  Karn  diag.time  cell  prior
1     72       1      1   69    60          7     1      0
2    411       1      1   64    70          5     1     10
3    228       1      1   38    60          3     1      0
-------------

455
dataset_id                                      bacteria
title         Presence of Bacteria after Drug Treatments
Name: 455, dtype: object

   y ap hilo  week   ID      trt
1  y  p   hi     0  X01  placebo
2  y  p   hi     2  X01  placebo
3  y  p   hi     4  X01  placebo
-------------

456
dataset_id                                  beav1
title         Body Temperature Series of Beaver 1
Name: 456, dtype: object

   day  time   temp  activ
1  346   840  36.33      0
2  346   850  36.34      0
3  346   900  36.35      0
-------------

457
dataset_id                                  beav2
title         Body Temperature Series of Beaver 2
Name: 457, dtype: object

   day  time   temp  activ
1  307   930  36.58      0
2  307   940  36.73      0
3  307   950  36.93      0
-------------

458
dataset_id                                   biopsy
title         Biopsy Data on Breast Cancer Patients
Name: 458, dtype: object

        ID  V1  V2  V3  V4  V5    V6  V7  V8  V9   class
1  1000025   5   1   1   1   2   1.0   3   1   1  benign
2  1002945   5   4   4   5   7  10.0   3   2   1  benign
3  1015425   3   1   1   1   2   2.0   3   1   1  benign
-------------

459
dataset_id                                                 birthwt
title         Risk Factors Associated with Low Infant Birth Weight
Name: 459, dtype: object

    low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
85    0   19  182     2      0    0   0   1    0  2523
86    0   33  155     3      0    0   0   0    3  2551
87    0   20  105     1      1    0   0   0    1  2557
-------------

460
dataset_id                           cabbages
title         Data from a cabbage field trial
Name: 460, dtype: object

  Cult Date  HeadWt  VitC
1  c39  d16     2.5    51
2  c39  d16     2.2    55
3  c39  d16     3.1    45
-------------

461
dataset_id                                              caith
title         Colours of Eyes and Hair of People in Caithness
Name: 461, dtype: object

        fair  red  medium  dark  black
blue     326   38     241   110      3
light    688  116     584   188      4
medium   343   84     909   412     26
-------------

463
dataset_id                             cement
title         Heat Evolved by Setting Cements
Name: 463, dtype: object

   x1  x2  x3  x4      y
1   7  26   6  60   78.5
2   1  29  15  52   74.3
3  11  56   8  20  104.3
-------------

465
dataset_id                                          coop
title         Co-operative Trial in Analytical Chemistry
Name: 465, dtype: object

  Lab Spc Bat  Conc
1  L1  S1  B1  0.29
2  L1  S1  B1  0.33
3  L1  S1  B2  0.33
-------------

466
dataset_id                            cpus
title         Performance of Computer CPUs
Name: 466, dtype: object

            name  syct  mmin   mmax  cach  chmin  chmax  perf  estperf
1  ADVISOR 32/60   125   256   6000   256     16    128   198      199
2  AMDAHL 470V/7    29  8000  32000    32      8     32   269      253
3  AMDAHL 470/7A    29  8000  32000    32      8     32   220      253
-------------

467
dataset_id                                               crabs
title         Morphological Measurements on Leptograpsus Crabs
Name: 467, dtype: object

  sp sex  index   FL   RW    CL    CW   BD
1  B   M      1  8.1  6.7  16.1  19.0  7.0
2  B   M      2  8.8  7.7  18.1  20.8  7.4
3  B   M      3  9.2  7.8  19.0  22.4  7.7
-------------

470
dataset_id                             eagles
title         Foraging Ecology of Bald Eagles
Name: 470, dtype: object

    y   n  P  A  V
1  17  24  L  A  L
2  29  29  L  A  S
3  17  27  L  I  L
-------------

471
dataset_id                             epil
title         Seizure Counts for Epileptics
Name: 471, dtype: object

   y      trt  base  age  V4  subject  period     lbase      lage
1  5  placebo    11   31   0        1       1 -0.756354  0.114204
2  3  placebo    11   31   0        1       2 -0.756354  0.114204
3  3  placebo    11   31   0        1       3 -0.756354  0.114204
-------------

472
dataset_id                                    farms
title         Ecological Factors in Farm Management
Name: 472, dtype: object

  Mois Manag Use Manure
1   M1    SF  U2     C4
2   M1    BF  U2     C2
3   M2    SF  U2     C4
-------------

473
dataset_id                                         fgl
title         Measurements of Forensic Glass Fragments
Name: 473, dtype: object

     RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  type
1  3.01  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0  WinF
2 -0.39  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0  WinF
3 -1.82  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0  WinF
-------------

476
dataset_id                                    gehan
title         Remission Times of Leukaemia Patients
Name: 476, dtype: object

   pair  time  cens    treat
1     1     1     1  control
2     1    10     1     6-MP
3     2    22     1  control
-------------

479
dataset_id                                      gilgais
title         Line Transect of Soil in Gilgai Territory
Name: 479, dtype: object

   pH00  pH30  pH80  e00  e30  e80  c00  c30   c80
1   7.0   9.4   7.9   20   37  370   60   60   505
2   6.7   9.2   9.2   12   27   80   45   38   450
3   7.8   9.3   8.0   11   44  350   20  155  1325
-------------

481
dataset_id                                                        housing
title         Frequency Table from a Copenhagen Housing Conditions Survey
Name: 481, dtype: object

   id    y  time  sec
1   1  1.0     0    1
2   1  2.0     6    1
3   1  2.0    12    1
-------------

482
dataset_id                               immer
title         Yields from a Barley Field Trial
Name: 482, dtype: object

  Loc Var     Y1    Y2
1  UF   M   81.0  80.7
2  UF   S  105.4  82.3
3  UF   V  119.7  80.4
-------------

488
dataset_id                                     minn38
title         Minnesota High School Graduates of 1938
Name: 488, dtype: object

  hs phs fol sex   f
1  L   C  F1   M  87
2  L   C  F2   M  72
3  L   C  F3   M  52
-------------

492
dataset_id                                 nlschools
title         Eighth-Grade Pupils in the Netherlands
Name: 492, dtype: object

   lang    IQ  class  GS  SES  COMB
1    46  15.0    180  29   23     0
2    45  14.5    180  29   10     0
3    33   9.5    180  29   15     0
-------------

493
dataset_id                                       npk
title         Classical N, P, K Factorial Experiment
Name: 493, dtype: object

   block  N  P  K  yield
1      1  0  1  1   49.5
2      1  1  1  0   62.8
3      1  0  0  0   46.8
-------------

494
dataset_id                                     npr1
title         US Naval Petroleum Reserve No. 1 data
Name: 494, dtype: object

           x     y  perm  por
86-1B   8.00  2.38   327   33
15-1G  13.13  2.50  3369   34
70-1G  13.88  3.13  4770   40
-------------

495
dataset_id                             oats
title         Data from an Oats Field Trial
Name: 495, dtype: object

   B        V       N    Y
1  I  Victory  0.0cwt  111
2  I  Victory  0.2cwt  130
3  I  Victory  0.4cwt  157
-------------

496
dataset_id                          painters
title         The Painter's Data of de Piles
Name: 496, dtype: object

            Composition  Drawing  Colour  Expression School
Da Udine             10        8      16           3      A
Da Vinci             15       16       4          14      A
Del Piombo            8       13      16           7      A
-------------

497
dataset_id                                 petrol
title         N. L. Prater's Petrol Refinery Data
Name: 497, dtype: object

  No    SG   VP  V10   EP     Y
1  A  50.8  8.6  190  205  12.2
2  A  50.8  8.6  190  275  22.3
3  A  50.8  8.6  190  345  34.7
-------------

498
dataset_id                                               quine
title         Absenteeism from School in Rural New South Wales
Name: 498, dtype: object

  Eth Sex Age Lrn  Days
1   A   M  F0  SL     2
2   A   M  F0  SL    11
3   A   M  F0  SL    14
-------------

499
dataset_id                                 road
title         Road Accident Deaths in US States
Name: 499, dtype: object

         deaths  drivers  popden  rural  temp   fuel
Alabama     968      158    64.0   66.0    62  119.0
Alaska       43       11     0.4    5.9    30    6.2
Arizona     588       91    12.0   33.0    64   65.0
-------------

500
dataset_id                                 rotifer
title         Numbers of Rotifers by Fluid Density
Name: 500, dtype: object

   density  pm.y  pm.tot  kc.y  kc.tot
1    1.019    11      58    13     161
2    1.020     7      86    14     248
3    1.021    10      76    30     234
-------------

501
dataset_id                ships
title         Ships Damage Data
Name: 501, dtype: object

   accident  op  co.65.69  co.70.74  co.75.79  service  ship
1       0.0   0         0         0         0    127.0     1
2       0.0   1         0         0         0     63.0     1
3       3.0   0         1         0         0   1095.0     1
-------------

503
dataset_id                             shuttle
title         Space Shuttle Autolander Problem
Name: 503, dtype: object

  stability error sign  wind    magn vis   use
1     xstab    LX   pp  head   Light  no  auto
2     xstab    LX   pp  head  Medium  no  auto
3     xstab    LX   pp  head  Strong  no  auto
-------------

504
dataset_id                  snails
title         Snail Mortality Data
Name: 504, dtype: object

  Species  Exposure  Rel.Hum  Temp  Deaths   N
1       A         1     60.0    10       0  20
2       A         1     60.0    15       0  20
3       A         1     60.0    20       0  20
-------------

507
dataset_id                 survey
title         Student Survey Data
Name: 507, dtype: object

      Sex  Wr.Hnd  NW.Hnd  W.Hnd    Fold  Pulse     Clap  Exer  Smoke  Height  \
1  Female    18.5    18.0  Right  R on L   92.0     Left  Some  Never   173.0
2    Male    19.5    20.5   Left  R on L  104.0     Left  None  Regul   177.8
3    Male    18.0    13.3  Right  L on R   87.0  Neither  None  Occas     NaN

        M.I     Age
1    Metric  18.250
2  Imperial  17.583
3       NaN  16.917
-------------

511
dataset_id                                          waders
title         Counts of Waders at 15 Sites in South Africa
Name: 511, dtype: object

    S1    S2  S3  S4    S5   S6    S7   S8  S9  S10  S11   S12   S13    S14  \
A   12  2027   0   0  2070   39   219  153   0   15   51  8336  2031  14941
B   99  2112   9  87  3481  470  2063   28  17  145   31  1515  1917  17321
C  197   160   0   4   126   17     1   32   0    2    9   477     1    548

    S15    S16  S17   S18  S19
A    19   3566    0     5    0
B  3378  20164  177  1759   53
C    13    273    0     0    0
-------------

514
dataset_id                    Cigar
title         Cigarette Consumption
Name: 514, dtype: object

   state  year  price     pop   pop16   cpi          ndi  sales  pimin
1      1    63   28.6  3383.0  2236.5  30.6  1558.304530   93.9   26.1
2      1    64   29.8  3431.0  2276.7  31.0  1684.073202   95.4   27.5
3      1    65   29.8  3486.0  2327.5  31.5  1809.841875   98.5   28.9
-------------

515
dataset_id                      Crime
title         Crime in North Carolina
Name: 515, dtype: object

   county  year    crmrte    prbarr   prbconv   prbpris  avgsen     polpc  \
1       1    81  0.039885  0.289696  0.402062  0.472222    5.61  0.001787
2       1    82  0.038345  0.338111  0.433005  0.506993    5.59  0.001767
3       1    83  0.030305  0.330449  0.525703  0.479705    5.80  0.001836

    density     taxpc  ...       wtuc      wtrd      wfir      wser    wmfg  \
1  2.307159  25.69763  ...   333.6209  182.3330  272.4492  215.7335  229.12
2  2.330254  24.87425  ...   369.2964  189.5414  300.8788  231.5767  240.33
3  2.341801  26.45144  ...  1394.8030  196.6395  309.9696  240.1568  269.70

     wfed    wsta    wloc       mix   pctymle
1  409.37  236.24  231.47  0.099918  0.087697
2  419.70  253.88  236.79  0.103049  0.086377
3  438.85  250.36  248.58  0.080679  0.085091

[3 rows x 24 columns]
-------------

516
dataset_id                                        EmplUK
title         Employment and Wages in the United Kingdom
Name: 516, dtype: object

   firm  year  sector    emp     wage  capital     output
1     1  1977       7  5.041  13.1516   0.5894  95.707199
2     1  1978       7  5.600  12.3018   0.6318  97.356903
3     1  1979       7  5.015  12.8395   0.6771  99.608299
-------------

517
dataset_id                Gasoline
title         Gasoline Consumption
Name: 517, dtype: object

   country  year  lgaspcar  lincomep     lrpmg  lcarpcap
1  AUSTRIA  1960  4.173244 -6.474277 -0.334548 -9.766840
2  AUSTRIA  1961  4.100989 -6.426006 -0.351328 -9.608622
3  AUSTRIA  1962  4.073177 -6.407308 -0.379518 -9.457257
-------------

518
dataset_id                      Grunfeld
title         Grunfeld's Investment Data
Name: 518, dtype: object

   firm  year    inv   value  capital
1     1  1935  317.6  3078.5      2.8
2     1  1936  391.8  4661.7     52.6
3     1  1937  410.6  5387.1    156.9
-------------

519
dataset_id                                               Hedonic
title         Hedonic Prices of Census Tracts in the Boston Area
Name: 519, dtype: object

         mv     crim    zn     indus chas        nox         rm        age  \
1  10.08580  0.00632  18.0  2.309999   no  28.944401  43.230598  65.199951
2   9.98045  0.02731   0.0  7.070000   no  21.996099  41.229198  78.899963
3  10.45450  0.02730   0.0  7.070000   no  21.996099  51.624199  61.099976

       dis      rad  tax    ptratio   blacks    lstat  townid
1  1.40854  0.00000  296  15.299995  0.39690 -3.00074       1
2  1.60283  0.69315  242  17.799988  0.39690 -2.39251       2
3  1.60283  0.69315  242  17.799988  0.39283 -3.21165       2
-------------

520
dataset_id               LaborSupply
title         Wages and Hours Worked
Name: 520, dtype: object

   lnhr  lnwg  kids  age  disab  id  year
1  7.58  1.91     2   27      0   1  1979
2  7.75  1.89     2   28      0   1  1980
3  7.65  1.91     2   29      0   1  1981
-------------

521
dataset_id                                 Males
title         Wages and Education of Young Males
Name: 521, dtype: object

   nr  year  school  exper union   ethn married health      wage  \
1  13  1980      14      1    no  other      no     no  1.197540
2  13  1981      14      2   yes  other      no     no  1.853060
3  13  1982      14      3    no  other      no     no  1.344462

                      industry       occupation   residence
1  Business_and_Repair_Service  Service_Workers  north_east
2             Personal_Service  Service_Workers  north_east
3  Business_and_Repair_Service  Service_Workers  north_east
-------------

522
dataset_id                  Produc
title         US States Production
Name: 522, dtype: object

     state  year      pcap      hwy    water     util        pc    gsp  \
1  ALABAMA  1970  15032.67  7325.80  1655.68  6051.20  35793.80  28418
2  ALABAMA  1971  15501.94  7525.94  1721.02  6254.98  37299.91  29375
3  ALABAMA  1972  15972.41  7765.42  1764.75  6442.23  38670.30  31303

      emp  unemp
1  1010.5    4.7
2  1021.9    5.2
3  1072.3    4.7
-------------

523
dataset_id                           Snmesp
title         Employment and Wages in Spain
Name: 523, dtype: object

   firm  year         n         w         y         i         k          f
1     1  1983  4.477337 -0.813775  5.241747  4.736198  4.590571  45.000000
2     1  1984  4.510859 -0.809645  5.395336  5.015189  4.618397  20.719130
3     1  1985  4.454347 -0.272081  5.371263  4.861807  4.564537   8.853262
-------------

524
dataset_id                        SumHes
title         The Penn World Table, v. 5
Name: 524, dtype: object

   year  country opec com    pop   gdp    sr
1  1960  ALGERIA   no  no  10800  1723  19.9
2  1961  ALGERIA   no  no  11016  1599  21.1
3  1962  ALGERIA   no  no  11236  1275  15.0
-------------

525
dataset_id                             Wages
title         Panel Data of Individual Wages
Name: 525, dtype: object

   exp  wks bluecol  ind south smsa married   sex union  ed black    lwage
1    3   32      no    0   yes   no     yes  male    no   9    no  5.56068
2    4   43      no    0   yes   no     yes  male    no   9    no  5.72031
3    5   40      no    0   yes   no     yes  male    no   9    no  5.99645
-------------

526
dataset_id                                                        baseball
title         Yearly batting records for all major league baseball players
Name: 526, dtype: object

           id  year  stint team   lg   g   ab   r   h  X2b  ...   rbi   sb  \
4   ansonca01  1871      1  RC1  NaN  25  120  29  39   11  ...  16.0  6.0
44  forceda01  1871      1  WS3  NaN  32  162  45  45    9  ...  29.0  8.0
68  mathebo01  1871      1  FW1  NaN  19   89  15  24    3  ...  10.0  2.0

     cs  bb   so  ibb  hbp  sh  sf  gidp
4   2.0   2  1.0  NaN  NaN NaN NaN   NaN
44  0.0   4  0.0  NaN  NaN NaN NaN   NaN
68  1.0   2  0.0  NaN  NaN NaN NaN   NaN

[3 rows x 22 columns]
-------------

527
dataset_id                        AustralianElectionPolling
title         Political opinion polls in Australia, 2004-07
Name: 527, dtype: object

    ALP   Lib  Nat  Green  FamilyFirst  Dems  OneNation  DK   sampleSize  \
1  39.5  44.5  0.0    8.5          2.0   2.0        1.0   0  1450.542857
2  39.0  44.0  0.0    8.5          1.5   2.0        1.0   0  2090.000000
3  38.0  46.0  0.0    6.0          0.0   0.0        0.0   0  1150.000000

           org   startDate     endDate  \
1  Morgan, F2F  2004-10-30  2004-11-07
2  Morgan, F2F  2004-11-13  2004-11-21
3     Newspoll  2004-11-19  2004-11-21

                                           source        remark
1                                             NaN           NaN
2  http://www.roymorgan.com/news/polls/2004/3808/  face-to-face
3                                             NaN           NaN
-------------

528
dataset_id                                            AustralianElections
title         elections to Australian House of Representatives, 1949-2007
Name: 528, dtype: object

         date  Seats  Uncontested  ALPSeats  LPSeats  NPSeats  OtherSeats  \
1  1949-12-10    121            0        47       55       19           0
2  1951-04-28    121            3        52       52       17           0
3  1954-05-29    122            7        57       47       17           0

     ALP  ALP2PP     LP     NP  DLP  Dem  Green  Hanson  Com   AP  Informal  \
1  45.98    49.0  39.39  10.87  0.0  0.0    NaN     0.0  0.0  0.0      1.99
2  47.63    49.3  40.62   9.72  0.0  0.0    NaN     0.0  1.0  0.0      1.90
3  50.03    50.7  38.31   8.52  0.0  0.0    NaN     0.0  1.2  0.0      1.35

   Turnout
1    95.97
2    96.00
3    96.09
-------------

529
dataset_id                                                    EfronMorris
title         Batting Averages for 18 major league baseball players, 1970
Name: 529, dtype: object

               name   team league   r      y    n      p
1  Roberto Clemente  Pitts     NL  18  0.400  367  0.346
2    Frank Robinson   Balt     AL  17  0.378  426  0.298
3      Frank Howard   Wash     AL  16  0.356  521  0.276
-------------

530
dataset_id                                          RockTheVote
title         Voter turnout experiment, using Rock The Vote ads
Name: 530, dtype: object

    strata  treated    r    n         p  treatedIndex
10       1        0  220  359  0.612813             1
13       1        1  718  990  0.725253             1
31       2        0  121  244  0.495902             1
-------------

531
dataset_id                         UKHouseOfCommons
title         1992 United Kingdom electoral returns
Name: 531, dtype: object

         constituency          county      y1      y2   y1lag   y2lag  coninc  \
1    Barrow & Furness         Cumbria  1.3286  1.4732  1.1820  1.0142       1
2  Berwick-upon-Tweed  Northumberland -0.3032 -0.6634 -0.5689 -1.0906       0
3     Bishop Auckland          Durham  0.5598  1.0113  0.7052  1.0258       0

   labinc  libinc      v1      v2      v3
1       0       0  0.4131  0.4774  0.1094
2       0       1  0.3277  0.2286  0.4437
3       1       0  0.3183  0.4999  0.1818
-------------

532
dataset_id                                                           absentee
title         Absentee and Machine Ballots in Pennsylvania State Senate Races
Name: 532, dtype: object

   year  district  absdem  absrep  machdem  machrep  dabs  dmach
1    82         2     551     205    47767    21340   346  26427
2    82         4     594     312    44437    28533   282  15904
3    82         8     338     115    55662    13214   223  42448
-------------

533
dataset_id                                              admit
title         Applications to a Political Science PhD Program
Name: 533, dtype: object

   score  gre.quant  gre.verbal  ap  pt  female
1      2        630         630   0   0       1
2      1        520         490   0   0       1
3      4        670         400   0   0       0
-------------

534
dataset_id                                                               bioChemists
title         article production by graduate students in biochemistry Ph.D. programs
Name: 534, dtype: object

   art    fem      mar  kid5   phd  ment
1    0    Men  Married     0  2.52     7
2    0  Women   Single     0  2.05     6
3    0  Women   Single     0  3.75     6
-------------

535
dataset_id                                        ca2006
title         California Congressional Districts in 2006
Name: 535, dtype: object

   district         D         R   Other IncParty   IncName   open  contested  \
1         1  111650.0   49663.0  7850.0        D  Thompson  False       True
2         2   54829.0  108002.0  5613.0        R    Herger  False       True
3         3   72815.0  114155.0  5193.0        R   Lungren  False       True

   Bush2004  Kerry2004  Other2004  Bush2000  Gore2000
1    111754     173926       5508     98506    131376
2    173528     102254       3980    150196     81861
3    176512     123671       2936    142946    107690
-------------

536
dataset_id                                                    iraqVote
title         U.S. Senate vote on the use of force against Iraq, 2002.
Name: 536, dtype: object

   y state.abb              name   rep state.name  gorevote
1  1        AL   SESSIONS (R AL)  True    Alabama     41.59
2  1        AL     SHELBY (R AL)  True    Alabama     41.59
3  1        AK  MURKOWSKI (R AK)  True     Alaska     27.67
-------------

537
dataset_id                                                 politicalInformation
title         Interviewer ratings of respondent levels of political information
Name: 537, dtype: object

             y collegeDegree female   age homeOwn govt     length  id
1  Fairly High           Yes     No  49.0     Yes   No  58.400002   1
2      Average            No    Yes  35.0     Yes   No  46.150002   2
3    Very High            No    Yes  57.0     Yes   No  89.519997   3
-------------

538
dataset_id                                presidentialElections
title         elections for U.S. President, 1932-2012, by state
Name: 538, dtype: object

      state  demVote  year  south
1   Alabama    84.76  1932   True
2   Arizona    67.03  1932  False
3  Arkansas    86.27  1932   True
-------------

540
dataset_id                                   unionDensity
title         cross national rates of trade union density
Name: 540, dtype: object

         union    left      size  concen
Sweden    82.4  111.84  8.276649    1.55
Israel    80.0   73.17  6.904751    1.71
Iceland   74.3   17.25  4.394449    2.06
-------------

541
dataset_id                                                       vote92
title         Reports of voting in the 1992 U.S. Presidential election.
Name: 541, dtype: object

      vote  dem  rep  female  persfinance  natlecon  clintondis  bushdis  \
1     Bush    0    1       1            1         0      4.0804   0.1024
2     Bush    0    1       1            0        -1      4.0804   0.1024
3  Clinton    1    0       1            0        -1      1.0404   1.7424

   perotdis
1    0.2601
2    0.2601
3    0.2401
-------------

542
dataset_id                                    french_fries
title         Sensory data from a french fries experiment.
Name: 542, dtype: object

    time  treatment  subject  rep  potato  buttery  grassy  rancid  painty
61     1          1        3    1     2.9      0.0     0.0     0.0     5.5
25     1          1        3    2    14.0      0.0     0.0     1.1     0.0
62     1          1       10    1    11.0      6.4     0.0     0.0     0.0
-------------

543
dataset_id                              smiths
title         Demo data describing the Smiths.
Name: 543, dtype: object

      subject  time   age  weight  height
1  John Smith     1  33.0    90.0    1.87
2  Mary Smith     1   NaN     NaN    1.54
-------------

544
dataset_id            tips
title         Tipping data
Name: 544, dtype: object

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
-------------

545
dataset_id                                  car.test.frame
title         Automobile Data from 'Consumer Reports' 1990
Name: 545, dtype: object

                 Price Country  Reliability  Mileage   Type  Weight  Disp.  \
Eagle Summit 4    8895     USA          4.0       33  Small    2560     97
Ford Escort   4   7402     USA          2.0       33  Small    2345    114
Ford Festiva 4    6319   Korea          4.0       37  Small    1845     81

                  HP
Eagle Summit 4   113
Ford Escort   4   90
Ford Festiva 4    63
-------------

546
dataset_id                                           car90
title         Automobile Data from 'Consumer Reports' 1990
Name: 546, dtype: object

               Country   Disp  Disp2  Eng.Rev  Front.Hd  Frt.Leg.Room  \
Acura Integra    Japan  112.0    1.8   2935.0       3.5          41.5
Acura Legend     Japan  163.0    2.7   2505.0       2.0          41.5
Audi 100       Germany  141.0    2.3   2775.0       2.5          41.5

               Frt.Shld  Gear.Ratio  Gear2     HP  ...  Steering  Tank  \
Acura Integra      53.0        3.26   3.21  130.0  ...     power  13.2
Acura Legend       55.5        2.95   3.02  160.0  ...     power  18.0
Audi 100           56.5        3.27   3.25  130.0  ...     power  21.1

                Tires  Trans1  Trans2 Turning    Type  Weight  Wheel.base  \
Acura Integra  195/60   man.5  auto.4    37.0   Small  2700.0         102
Acura Legend   205/60   man.5  auto.4    42.0  Medium  3265.0         109
Audi 100       205/60   man.5  auto.3    39.0  Medium  2935.0         106

               Width
Acura Integra     67
Acura Legend      69
Audi 100          71

[3 rows x 34 columns]
-------------

547
dataset_id                                      cu.summary
title         Automobile Data from 'Consumer Reports' 1990
Name: 547, dtype: object

                 Price Country  Reliability  Mileage   Type
Acura Integra 4  11950   Japan  Much better      NaN  Small
Dodge Colt 4      6851   Japan          NaN      NaN  Small
Dodge Omni 4      6995     USA   Much worse      NaN  Small
-------------

548
dataset_id                                                   kyphosis
title         Data on Children who have had Corrective Spinal Surgery
Name: 548, dtype: object

  Kyphosis  Age  Number  Start
1   absent   71       3      5
2   absent  158       3     14
3  present  128       4      5
-------------

549
dataset_id                                               solder
title         Soldering of Components on Printed-Circuit Boards
Name: 549, dtype: object

  Opening Solder  Mask PadType  Panel  skips
1       L  Thick  A1.5      W4      1      0
2       L  Thick  A1.5      W4      2      0
3       L  Thick  A1.5      W4      3      0
-------------

550
dataset_id                     stagec
title         Stage C Prostate Cancer
Name: 550, dtype: object

   pgtime  pgstat  age  eet     g2  grade  gleason     ploidy
1     6.1       0   64  2.0  10.26      2      4.0    diploid
2     9.4       0   62  1.0    NaN      3      8.0  aneuploid
3     5.2       1   59  2.0   9.99      3      7.0    diploid
-------------

552
dataset_id                                                        Bollen
title         Bollen's Data on Industrialization and Political Democracy
Name: 552, dtype: object

     y1   y2        y3        y4    y5        y6        y7        y8  \
1  2.50  0.0  3.333333  0.000000  1.25  0.000000  3.726360  3.333333
2  1.25  0.0  3.333333  0.000000  6.25  1.100000  6.666666  0.736999
3  7.50  8.8  9.999998  9.199991  8.75  8.094061  9.999998  8.211809

         x1        x2        x3
1  4.442651  3.637586  2.557615
2  5.384495  5.062595  3.568079
3  5.961005  6.255750  5.224433
-------------

553
dataset_id                                                        CNES
title         Variables from the 1997 Canadian National Election Study
Name: 553, dtype: object

           MBSA2          MBSA7             MBSA8          MBSA9
1  StronglyAgree          Agree          Disagree       Disagree
2          Agree  StronglyAgree  StronglyDisagree  StronglyAgree
3          Agree       Disagree          Disagree          Agree
-------------

554
dataset_id                                Klein
title         Klein's Data on the U. S. Economy
Name: 554, dtype: object

   Year     C     P    Wp    I  K.lag     X   Wg    G    T
1  1920  39.8  12.7  28.8  2.7  180.1  44.9  2.2  2.4  3.4
2  1921  41.9  12.4  25.5 -0.2  182.8  45.6  2.7  3.9  7.7
3  1922  45.0  16.9  29.3  1.9  182.6  50.1  2.9  3.2  3.9
-------------

555
dataset_id                                         Kmenta
title         Partly Artificial Data on the U. S. Economy
Name: 555, dtype: object

         Q        P     D     F  A
1   98.485  100.323  87.4  98.0  1
2   99.187  104.264  97.6  99.1  2
3  102.163  103.435  96.7  99.1  3
-------------

556
dataset_id               Tests
title         Six Mental Tests
Name: 556, dtype: object

     x1    x2    x3    y1    y2    y3
1  23.0   NaN  16.0  15.0  14.0  16.0
2  29.0  26.0  23.0  22.0  18.0  19.0
3  14.0  21.0   NaN  15.0  16.0  18.0
-------------

557
dataset_id                       bladder
title         Bladder Cancer Recurrences
Name: 557, dtype: object

   id  rx  number  size  stop  event  enum
1   1   1       1     3     1      0     1
2   1   1       1     3     1      0     2
3   1   1       1     3     1      0     3
-------------

558
dataset_id                    cancer
title         NCCTG Lung Cancer Data
Name: 558, dtype: object

   inst  time  status  age  sex  ph.ecog  ph.karno  pat.karno  meal.cal  \
1   3.0   306       2   74    1      1.0      90.0      100.0    1175.0
2   3.0   455       2   68    1      0.0      90.0       90.0    1225.0
3   3.0  1010       1   56    1      0.0      90.0       90.0       NaN

   wt.loss
1      NaN
2     15.0
3     15.0
-------------

559
dataset_id                                   cgd
title         Chronic Granulotomous Disease data
Name: 559, dtype: object

   id             center      random   treat     sex  age  height  weight  \
1   1  Scripps Institute  1989-06-07  rIFN-g  female   12   147.0    62.0
2   1  Scripps Institute  1989-06-07  rIFN-g  female   12   147.0    62.0
3   1  Scripps Institute  1989-06-07  rIFN-g  female   12   147.0    62.0

     inherit  steroids  propylac   hos.cat  tstart  enum  tstop  status
1  autosomal         0         0  US:other       0     1    219       1
2  autosomal         0         0  US:other     219     2    373       1
3  autosomal         0         0  US:other     373     3    414       0
-------------

560
dataset_id                                      colon
title         Chemotherapy for Stage B/C colon cancer
Name: 560, dtype: object

   id  study       rx  sex  age  obstruct  perfor  adhere  nodes  status  \
1   1      1  Lev+5FU    1   43         0       0       0    5.0       1
2   1      1  Lev+5FU    1   43         0       0       0    5.0       1
3   2      1  Lev+5FU    1   63         0       0       0    1.0       0

   differ  extent  surg  node4  time  etype
1     2.0       3     0      1  1521      2
2     2.0       3     0      1   968      1
3     2.0       3     0      0  3087      2
-------------

561
dataset_id                                               flchain
title         Assay of serum free light chain for 7874 subjects.
Name: 561, dtype: object

   age sex  sample.yr  kappa  lambda  flc.grp  creatinine  mgus  futime  \
1   97   F       1997   5.70   4.860       10         1.7     0      85
2   92   F       2000   0.87   0.683        1         0.9     0    1281
3   94   F       1997   4.36   3.850       10         1.4     0      69

   death      chapter
1      1  Circulatory
2      1    Neoplasms
3      1  Circulatory
-------------

562
dataset_id                             heart
title         Stanford Heart Transplant data
Name: 562, dtype: object

   start  stop  event        age      year  surgery  transplant  id
1    0.0  50.0      1 -17.155373  0.123203        0           0   1
2    0.0   6.0      1   3.835729  0.254620        0           0   2
3    0.0   1.0      0   6.297057  0.265572        0           0   3
-------------

563
dataset_id                  kidney
title         Kidney catheter data
Name: 563, dtype: object

   id  time  status  age  sex disease  frail
1   1     8       1   28    1   Other    2.3
2   1    16       1   28    1   Other    2.3
3   2    23       1   48    2      GN    1.9
-------------

565
dataset_id                                           logan
title         Data from the 1972-78 GSS data used by Logan
Name: 565, dtype: object

  occupation          focc  education       race
1      sales  professional         14  non-black
2  craftsmen         sales         13  non-black
3      sales  professional         16  non-black
-------------

566
dataset_id                      lung
title         NCCTG Lung Cancer Data
Name: 566, dtype: object

   inst  time  status  age  sex  ph.ecog  ph.karno  pat.karno  meal.cal  \
1   3.0   306       2   74    1      1.0      90.0      100.0    1175.0
2   3.0   455       2   68    1      0.0      90.0       90.0    1225.0
3   3.0  1010       1   56    1      0.0      90.0       90.0       NaN

   wt.loss
1      NaN
2     15.0
3     15.0
-------------

567
dataset_id                          mgus
title         Monoclonal gammapothy data
Name: 567, dtype: object

   id  age     sex  dxyr pcdx  pctime  futime  death  alb  creat   hgb  mspike
1   1   79  female    68  NaN     NaN     760      1  2.8    1.2  11.5     2.0
2   2   76  female    69   LP  2160.0    5441      1  3.1    1.0  13.3     1.8
3   3   87    male    68  NaN     NaN     277      1  2.2    1.1  11.2     1.3
-------------

568
dataset_id                                        nwtco
title         Data from the National Wilm's Tumor Study
Name: 568, dtype: object

   seqno  instit  histol  stage  study  rel  edrel  age  in.subcohort
1      1       2       2      1      3    0   6075   25         False
2      2       1       1      2      3    0   4121   50         False
3      3       2       2      1      3    0   6069    9         False
-------------

569
dataset_id                         ovarian
title         Ovarian Cancer Survival Data
Name: 569, dtype: object

   futime  fustat      age  resid.ds  rx  ecog.ps
1      59       1  72.3315         2   1        1
2     115       1  74.4932         2   1        1
3     156       1  66.4658         2   1        2
-------------

570
dataset_id                                           pbc
title         Mayo Clinic Primary Biliary Cirrhosis Data
Name: 570, dtype: object

   id  time  status  trt        age sex  ascites  hepato  spiders  edema  \
1   1   400       2  1.0  58.765229   f      1.0     1.0      1.0    1.0
2   2  4500       0  1.0  56.446270   f      0.0     1.0      1.0    0.0
3   3  1012       2  1.0  70.072553   m      0.0     0.0      0.0    0.5

   bili   chol  albumin  copper  alk.phos     ast   trig  platelet  protime  \
1  14.5  261.0     2.60   156.0    1718.0  137.95  172.0     190.0     12.2
2   1.1  302.0     4.14    54.0    7394.8  113.52   88.0     221.0     10.6
3   1.4  176.0     3.48   210.0     516.0   96.10   55.0     151.0     12.0

   stage
1    4.0
2    3.0
3    4.0
-------------

571
dataset_id                                    rats
title         Rat treatment data from Mantel et al
Name: 571, dtype: object

   litter  rx  time  status
1       1   1   101       0
2       1   0    49       1
3       1   0   104       0
-------------

572
dataset_id                              stanford2
title         More Stanford Heart Transplant data
Name: 572, dtype: object

      id  time  status  age    t5
139  139  86.0       1   12  1.26
159  159  10.0       1   13  1.49
181  181  60.0       0   13   NaN
-------------

574
dataset_id                                       veteran
title         Veterans' Administration Lung Cancer study
Name: 574, dtype: object

   trt  celltype  time  status  karno  diagtime  age  prior
1    1  squamous    72       1     60         7   69      0
2    1  squamous   411       1     70         5   64     10
3    1  squamous   228       1     60         3   38      0
-------------

575
dataset_id                   Arthritis
title         Arthritis Treatment Data
Name: 575, dtype: object

   ID Treatment   Sex  Age Improved
1  57   Treated  Male   27     Some
2  46   Treated  Male   29     None
3  77   Treated  Male   30     None
-------------

576
dataset_id         Baseball
title         Baseball Data
Name: 576, dtype: object

  name1     name2  atbat86  hits86  homer86  runs86  rbi86  walks86  years  \
1    Al    Newman      185      37        1      23      8       21      2
2  Alan     Ashby      315      81        7      24     38       39     14
3  Alan  Trammell      574     159       21     107     75       59     10

   atbat  ...  league86  div86  team86  posit86  outs86 assist86 error86  \
1    214  ...         N      E     Mon       2B      76      127       7
2   3449  ...         N      W     Hou        C     632       43      10
3   4631  ...         A      E     Det       SS     238      445      22

     sal87 league87  team87
1   70.000        A     Min
2  475.000        N     Hou
3  517.143        A     Det

[3 rows x 25 columns]
-------------

577
dataset_id          BrokenMarriage
title         Broken Marriage Data
Name: 577, dtype: object

   Freq gender rank broken
1    14   male    I    yes
2   102   male    I     no
3    39   male   II    yes
-------------

578
dataset_id                            Bundesliga
title         Ergebnisse der Fussball-Bundesliga
Name: 578, dtype: object

            HomeTeam           AwayTeam  HomeGoals  AwayGoals  Round  Year  \
1      Werder Bremen  Borussia Dortmund          3          2      1  1963
2  Hertha BSC Berlin    1. FC Nuernberg          1          1      1  1963
3  Preussen Muenster       Hamburger SV          1          1      1  1963

                  Date
1  1963-08-24 09:30:00
2  1963-08-24 09:30:00
3  1963-08-24 09:30:00
-------------

579
dataset_id                              Bundestag2005
title         Votes in German Bundestag Election 2005
Name: 579, dtype: object

                           SPD  CDU/CSU  Gruene    FDP   Linke
Schleswig-Holstein      761302   733004   73345  65315   48634
Mecklenburg-Vorpommern  326130   316169   34904  42840  231205
Hamburg                 447335   320444   85730  32904   44503
-------------

581
dataset_id                                  CoalMiners
title         Breathlessness and Wheeze in Coal Miners
Name: 581, dtype: object

  Breathlessness Wheeze    Age  Freq
1              B      W  20-24     9
2            NoB      W  20-24    95
3              B    NoW  20-24     7
-------------

582
dataset_id                DanishWelfare
title         Danish Welfare Study Data
Name: 582, dtype: object

   Freq Alcohol Income Status          Urban
1     1      <1   0-50  Widow     Copenhagen
2     4      <1   0-50  Widow  SubCopenhagen
3     1      <1   0-50  Widow      LargeCity
-------------

583
dataset_id           Employment
title         Employment Status
Name: 583, dtype: object

  EmploymentStatus EmploymentLength LayoffCause  Freq
1           NewJob             <1Mo     Closure     8
2       Unemployed             <1Mo     Closure    10
3           NewJob            1-3Mo     Closure    35
-------------

585
dataset_id         Hitters
title         Hitters Data
Name: 585, dtype: object

  Positions   Putouts   Assists    Errors
1        1B  1.000000  0.209446  0.296296
2        1B  0.758345  0.180698  0.481481
3        1B  0.774311  0.322382  0.518519
-------------

588
dataset_id          JobSatisfaction
title         Job Satisfaction Data
Name: 588, dtype: object

   Freq management supervisor   own
1   103        bad        low   low
2    87        bad        low  high
3    32        bad       high   low
-------------

589
dataset_id                    JointSports
title         Opinions About Joint Sports
Name: 589, dtype: object

   Freq    opinion  year grade gender
1    31  very good  1983   1st    Boy
2   103  very good  1983   1st   Girl
3    23  very good  1983   3rd    Boy
-------------

590
dataset_id                   Lifeboats
title         Lifeboats on the Titanic
Name: 590, dtype: object

                launch  side boat  crew  men  women  total  cap
1  1912-04-15 00:45:00  Port    7     3    4     20     27   65
2  1912-04-15 00:55:00  Port    5     5    6     30     41   65
3  1912-04-15 01:00:00  Port    3    15   10     25     50   65
-------------

591
dataset_id                 NonResponse
title         Non-Response Survey Data
Name: 591, dtype: object

   Freq   residence response  gender
1   306  Copenhagen      yes    male
2   264  Copenhagen      yes  female
3    49  Copenhagen       no    male
-------------

592
dataset_id          OvaryCancer
title         Ovary Cancer Data
Name: 592, dtype: object

   Freq  stage operation survival xray
1    10  early   radical       no   no
2    17  early   radical       no  yes
3    41  early   radical      yes   no
-------------

593
dataset_id                         PreSex
title         Pre-marital Sex and Divorce
Name: 593, dtype: object

  MaritalStatus ExtramaritalSex PremaritalSex Gender  Freq
1      Divorced             Yes           Yes  Women    17
2       Married             Yes           Yes  Women     4
3      Divorced              No           Yes  Women    54
-------------

594
dataset_id                  Punishment
title         Corporal Punishment Data
Name: 594, dtype: object

   Freq attitude memory   education    age
1     1       no    yes  elementary  15-24
2     3       no    yes  elementary  25-39
3    20       no    yes  elementary    40-
-------------

595
dataset_id                      RepVict
title         Repeat Victimization Data
Name: 595, dtype: object

         Rape  Assault  Robbery  Pickpocket  Personal Larcency  Burglary  \
Rape       26       50       11           6                 82        39
Assault    65     2997      238          85               2553      1083
Robbery    12      279      197          36                459       197

         Household Larceny  Auto Theft
Rape                    48          11
Assault               1349         216
Robbery                221          47
-------------

597
dataset_id     SexualFun
title         Sex is Fun
Name: 597, dtype: object

              Never Fun  Fairly Often  Very Often  Always fun
Never Fun             7             7           2           3
Fairly Often          2             8           3           7
Very Often            1             5           4           9
-------------

598
dataset_id                     SpaceShuttle
title         Space Shuttle O-ring Failures
Name: 598, dtype: object

  FlightNumber  Temperature  Pressure Fail  nFailures  Damage
1            1           66        50   no        0.0     0.0
2            2           70        50  yes        1.0     4.0
3            3           69        50   no        0.0     0.0
-------------

599
dataset_id                     Suicide
title         Suicide Rates in Germany
Name: 599, dtype: object

   Freq   sex    method  age age.group method2
1     4  male    poison   10     10-20  poison
2     0  male   cookgas   10     10-20     gas
3     0  male  toxicgas   10     10-20     gas
-------------

600
dataset_id                  Trucks
title         Truck Accidents Data
Name: 600, dtype: object

   Freq  period collision parked     light
1   712  before      back    yes  daylight
2   613   after      back    yes  daylight
3   192  before   forward    yes  daylight
-------------

601
dataset_id            UKSoccer
title         UK Soccer Scores
Name: 601, dtype: object

    0   1   2   3  4
0  27  29  10   8  2
1  59  53  14  12  4
2  28  32  14  12  4
-------------

602
dataset_id                            VisualAcuity
title         Visual Acuity in Left and Right Eyes
Name: 602, dtype: object

   Freq  right  left  gender
1  1520      1     1  female
2   234      2     1  female
3   117      3     1  female
-------------

603
dataset_id                             VonBort
title         Von Bortkiewicz Horse Kicks Data
Name: 603, dtype: object

   deaths  year corps fisher
1       0  1875     G     no
2       0  1875     I     no
3       0  1875    II    yes
-------------

607
dataset_id                                                    PErisk
title         Political Economic Risk Data from 62 Countries in 1987
Name: 607, dtype: object

             country  courts     barb2  prsexp2  prscorr2     gdpw2
Argentina  Argentina       0 -0.720775        1         3   9.69017
Australia  Australia       1 -6.907755        5         4  10.30484
Austria      Austria       1 -4.910337        5         4  10.10094
-------------

608
dataset_id                      SupremeCourt
title         U.S. Supreme Court Vote Matrix
Name: 608, dtype: object

   Rehnquist  Stevens  OConnor  Scalia  Kennedy  Souter  Thomas  Ginsburg  \
1          0      1.0      1.0       0        1       1       0         1
2          0      1.0      0.0       0        0       1       0         1
3          0      1.0      0.0       0        0       1       0         1

   Breyer
1       1
2       1
3       1
-------------

609
dataset_id                       Weimar
title         1932 Weimar election data
Name: 609, dtype: object

    Nazi  Government  Communists  FarRight  Other  shareunemployed  shareblue  \
1   6710        6854        1747      1440   4024         0.075565   0.466788
2  14006       26892        3904      5046  12117         0.084139   0.378470
3   4411       15359        1620      2901   7418         0.068578   0.287830

   sharewhite  shareself  sharedomestic  shareprotestants
1    0.075189   0.145245       0.237213          0.970867
2    0.088608   0.177699       0.271084          0.491319
3    0.061648   0.210050       0.371895          0.061376
-------------

611
dataset_id                           approval
title         U.S. Presidential Approval Data
Name: 611, dtype: object

   month  year  approve  disapprove  unsure  sept.oct.2001  iraq.war  \
1      2  2001    58.67       23.67   17.67              0         0
2      3  2001    58.00       26.67   15.33              0         0
3      4  2001    60.50       29.50   10.00              0         0

   avg.price
1    144.975
2    140.925
3    155.160
-------------

612
dataset_id                                      bivariate
title         Sample data for bivariate probit regression
Name: 612, dtype: object

   x3  x2  x1  y2  y1  x4
1   1   4   3   1   1   4
2   0   2   3   0   1   3
3   0   1   3   1   0   2
-------------

613
dataset_id                                             coalition
title         Coalition Dissolution in Parliamentary Democracies
Name: 613, dtype: object

   duration  ciep12  invest  fract  polar  numst2  crisis
1       0.5       1       1    656     11       0      24
2       3.0       1       1    656     11       1      10
3       7.0       1       1    656     11       1      24
-------------

614
dataset_id                                                              coalition2
title         Coalition Dissolution in Parliamentary Democracies, Modified Version
Name: 614, dtype: object

   duration  ciep12  invest  fract  polar  numst2  crisis  country
1       0.5       1       1    656     11       0      24  belgium
2       3.0       1       1    656     11       1      10  belgium
3       7.0       1       1    656     11       1      24  belgium
-------------

615
dataset_id                                       eidat
title         Simulation Data for Ecological Inference
Name: 615, dtype: object

    x0    x1    t0    t1
1  200  3911  2850  1261
2  162  2636  1541  1257
3  206  2460  1091  1575
-------------

616
dataset_id                     free1
title         Freedom of Speech Data
Name: 616, dtype: object

        sex   age  educ   country  y  v1  v2  v3  v4  v5  v6
109276  0.0  20.0   4.0   Eurasia  1   4   3   3   5   3   4
88178   1.0  25.0   4.0    Oceana  2   3   3   5   5   5   5
111063  1.0  56.0   2.0  Eastasia  2   3   2   4   5   5   4
-------------

617
dataset_id                     free2
title         Freedom of Speech Data
Name: 617, dtype: object

        sex   age  educ   country  y  v1  v2  v3  v4  v5  v6
109276  0.0  20.0   4.0   Eurasia  1   4   3   3   5   3   4
88178   1.0  25.0   4.0    Oceana  2   3   3   5   5   5   5
111063  1.0  56.0   2.0  Eastasia  2   3   2   4   5   5   4
-------------

618
dataset_id                                                friendship
title         Simulated Example of Schoolchildren Friendship Network
Name: 618, dtype: object

Empty DataFrame
Columns: [friends, advice, prestige, authority, perpower, per, count]
Index: []
-------------

619
dataset_id                                                                                     grunfeld
title         Simulation Data for model Seemingly Unrelated Regression (sur) that corresponds to met...
Name: 619, dtype: object

   Year   Ige     Fge    Cge     Iw     Fw   Cw
1  1935  33.1  1170.6   97.8  12.93  191.5  1.8
2  1936  45.0  2015.8  104.4  25.90  516.0  0.8
3  1937  77.2  2803.3  118.0  35.05  729.0  7.4
-------------

620
dataset_id                                hoff
title         Social Security Expenditure Data
Name: 620, dtype: object

   year  L2SocSec  Just503D  Just503R  RGovDumy
1  1948      1.83       0.0      2.44         0
2  1949      3.44       0.0      2.44         0
3  1950      3.05       0.0      2.44         0
-------------

621
dataset_id                                                                 homerun
title         Sample Data on Home Runs Hit By Mark McGwire and Sammy Sosa in 1998.
Name: 621, dtype: object

   gameno  month  homeruns  playerstatus   player
1       1  March         1             0  McGwire
2       2  April         1             0  McGwire
3       3  April         1             0  McGwire
-------------

622
dataset_id                                             immi1
title         Individual Preferences Over Immigration Policy
Name: 622, dtype: object

   ipip  wage1992  prtyid  ideol  gender
1     3  0.614226     7.0    5.0       1
2     4  0.758302     5.0    5.0       1
3     4  0.267990     7.0    6.0       1
-------------

623
dataset_id                                             immi2
title         Individual Preferences Over Immigration Policy
Name: 623, dtype: object

   ipip  wage1992  prtyid  ideol  gender
1     3  0.614226     7.0    5.0       1
2     4  0.596963     5.0    5.0       1
3     4  0.267990     7.0    6.0       1
-------------

624
dataset_id                                             immi3
title         Individual Preferences Over Immigration Policy
Name: 624, dtype: object

   ipip  wage1992  prtyid  ideol  gender
1     3  0.614226     7.0    5.0       1
2     4  0.674754     5.0    5.0       1
3     4  0.267990     7.0    6.0       1
-------------

625
dataset_id                                             immi4
title         Individual Preferences Over Immigration Policy
Name: 625, dtype: object

   ipip  wage1992  prtyid  ideol  gender
1     3  0.614226     7.0    5.0       1
2     4  0.520420     5.0    5.0       1
3     4  0.267990     7.0    6.0       1
-------------

626
dataset_id                                             immi5
title         Individual Preferences Over Immigration Policy
Name: 626, dtype: object

   ipip  wage1992  prtyid  ideol  gender
1     3  0.614226     7.0    5.0       1
2     4  0.348620     5.0    5.0       1
3     4  0.267990     7.0    6.0       1
-------------

627
dataset_id                                       immigration
title         Individual Preferences Over Immigration Policy
Name: 627, dtype: object

   ipip  wage1992  prtyid  ideol  gender
1   3.0  0.614226     7.0    5.0       1
2   4.0       NaN     5.0    5.0       1
3   4.0  0.267990     7.0    6.0       1
-------------

628
dataset_id                                                                                        klein
title         Simulation Data for model Two-Stage Least Square (twosls) that corresponds to method 2...
Name: 628, dtype: object

   year     C     P    P1  Wtot    Wp   Wg    I     K1     X    G    T    X1  \
1  1921  41.9  12.4  12.7  28.2  25.5  2.7 -0.2  182.8  45.6  3.9  7.7  44.9
2  1922  45.0  16.9  12.4  32.2  29.3  2.9  1.9  182.6  50.1  3.2  3.9  45.6
3  1923  49.2  18.4  16.9  37.0  34.1  2.9  5.2  184.5  57.2  2.8  4.7  50.1

   Tm
1 -10
2  -9
3  -8
-------------

629
dataset_id                                                                                       kmenta
title         Simulation Data for model Three-Stage Least Square (threesls) that corresponds to meth...
Name: 629, dtype: object

         q        p     d     f  a
1   98.485  100.323  87.4  98.0  1
2   99.187  104.264  97.6  99.1  2
3  102.163  103.435  96.7  99.1  3
-------------

630
dataset_id                 macro
title         Macroeconomic Data
Name: 630, dtype: object

         country  year       gdp  unem  capmob      trade
1  United States  1966  5.111141   3.8       0   9.622906
2  United States  1967  2.277283   3.8       0   9.983546
3  United States  1968  4.700000   3.6       0  10.089120
-------------

631
dataset_id                                                    mexico
title         Voting Data from the 1988 Mexican Presidental Election
Name: 631, dtype: object

   vote88  pri82  pan82  novote82  deathok  forinvok  limimp  paydebt  \
1       2      0      0         0        2         3       3        3
2       2      0      0         0        3         3       3        3
3       3      1      0         0        1         3       1        3

   keepind  polint  ...  south  zmgm  religion  pristr  othcok  othsocok  \
1        3       1  ...      0     0         3       1       3         2
2        3       2  ...      0     0         1       3       3         1
3        3       1  ...      0     0         5       1       3         1

   ratemdm  traitmjc  traitccs  one
1        1         0         0    1
2        7         4         0    1
3        4         0         4    1

[3 rows x 33 columns]
-------------

632
dataset_id                                mid
title         Militarized Interstate Disputes
Name: 632, dtype: object

     conflict  major  contig     power  maxdem  mindem  years
392         1      1       0  0.476666      10      -3      0
581         1      1       0  0.081352      10      -1      0
797         1      0       1  0.286853       8      -9      0
-------------

633
dataset_id                                   newpainters
title         The Discretized Painter's Data of de Piles
Name: 633, dtype: object

            Composition  Drawing  Colour  Expression
Da Udine            200      100     400         100
Da Vinci            400      400     100         400
Del Piombo          100      200     400         300
-------------

634
dataset_id                           sanction
title         Multilateral Economic Sanctions
Name: 634, dtype: object

   mil  coop  target  import  export  cost  num          ncost
1    1     4       3       1       1     4   15     major loss
2    0     2       3       0       1     3    4    modest loss
3    0     1       3       1       0     2    1  little effect
-------------

635
dataset_id                                      sna.ex
title         Simulated Example of Social Network Data
Name: 635, dtype: object

Empty DataFrame
Columns: [Var1, Var2, Var3, Var4, Var5]
Index: []
-------------

636
dataset_id                                                       swiss
title         Swiss Fertility and Socioeconomic Indicators (1888) Data
Name: 636, dtype: object

              Fertility  Agriculture  Examination  Education  Catholic  \
Courtelary         80.2         17.0           15         12      9.96
Delemont           83.1         45.1            6          9     84.84
Franches-Mnt       92.5         39.7            5          5     93.40

              Infant.Mortality
Courtelary                22.2
Delemont                  22.2
Franches-Mnt              20.2
-------------

638
dataset_id                                               turnout
title         Turnout Data Set from the National Election Survey
Name: 638, dtype: object

    race  age  educate  income  vote
1  white   60     14.0  3.3458     1
2  white   51     10.0  1.8561     0
3  white   24     12.0  0.6304     0
-------------

639
dataset_id                                                                     voteincome
title         Sample Turnout and Demographic Data from the 2000 Current Population Survey
Name: 639, dtype: object

  state  year  vote  income  education  age  female
1    AR  2000     1       9          2   73       0
2    AR  2000     1      11          2   24       0
3    AR  2000     0      12          2   24       1
-------------

640
dataset_id                 BCG
title         BCG Vaccine Data
Name: 640, dtype: object

   Study  BCGTB  BCGVacc  NoVaccTB  NoVacc  Latitude  Year
1      1      4      123        11     139        44  1948
2      2      6      306        29     303        55  1949
3      3      3      231        11     220        42  1960
-------------

641
dataset_id                  BtheB
title         Beat the Blues Data
Name: 641, dtype: object

  drug length treatment  bdi.pre  bdi.2m  bdi.4m  bdi.6m  bdi.8m
1   No    >6m       TAU       29     2.0     2.0     NaN     NaN
2  Yes    >6m     BtheB       32    16.0    24.0    17.0    20.0
3  Yes    <6m       TAU       25    20.0     NaN     NaN     NaN
-------------

643
dataset_id                                                              Forbes2000
title         The Forbes 2000 Ranking of the World's Biggest Companies (Year 2004)
Name: 643, dtype: object

   rank                 name        country       category   sales  profits  \
1     1            Citigroup  United States        Banking   94.71    17.85
2     2     General Electric  United States  Conglomerates  134.19    15.59
3     3  American Intl Group  United States      Insurance   76.66     6.46

    assets  marketvalue
1  1264.03       255.30
2   626.93       328.54
3   647.66       194.87
-------------

644
dataset_id                             GHQ
title         General Health Questionnaire
Name: 644, dtype: object

   GHQ     sex  cases  non.cases
1    0  female      4         80
2    1  female      4         29
3    2  female      8         15
-------------

647
dataset_id         aspirin
title         Aspirin Data
Name: 647, dtype: object

                                  dp   tp   da   ta
\cite{HSAuR:Elwoodetal1974}       67  624   49  615
\cite{HSAuR:Coronary1976}         64   77   44  757
\cite{HSAuR:ElwoodSweetman1979}  126  850  102  832
-------------

650
dataset_id                clouds
title         Cloud Seeding Data
Name: 650, dtype: object

  seeding  time   sne  cloudcover  prewetness  echomotion  rainfall
1      no     0  1.75        13.4       0.274  stationary     12.85
2     yes     1  2.70        37.9       1.267      moving      5.52
3     yes     3  4.10         3.9       0.198  stationary      6.29
-------------

651
dataset_id         epilepsy
title         Epilepsy Data
Name: 651, dtype: object

    treatment  base  age  seizure.rate  period  subject
1     placebo    11   31             5       1        1
110   placebo    11   31             3       2        1
112   placebo    11   31             3       3        1
-------------

653
dataset_id                       heptathlon
title         Olympic Heptathlon Seoul 1988
Name: 653, dtype: object

                     hurdles  highjump   shot  run200m  longjump  javelin  \
Joyner-Kersee (USA)    12.69      1.86  15.80    22.56      7.27    45.66
John (GDR)             12.85      1.80  16.23    23.65      6.71    42.56
Behmer (GDR)           13.20      1.83  14.20    23.10      6.68    44.54

                     run800m  score
Joyner-Kersee (USA)   128.51   7291
John (GDR)            126.12   6897
Behmer (GDR)          124.20   6858
-------------

655
dataset_id                                       meteo
title         Meteorological Measurements for 11 Years
Name: 655, dtype: object

      year  rainNovDec  temp  rainJuly  radiation  yield
1  1920-21        87.9  19.6       1.0       1661  28.37
2  1921-22        89.9  15.2      90.1        968  23.77
3  1922-23       153.0  19.7      56.6       1353  26.04
-------------

657
dataset_id               phosphate
title         Phosphate Level Data
Name: 657, dtype: object

     group   t0  t0.5   t1  t1.5   t2   t3   t4   t5
1  control  4.3   3.3  3.0   2.6  2.2  2.5  3.4  4.4
2  control  3.7   2.6  2.6   1.9  2.9  3.2  3.1  3.9
3  control  4.0   4.1  3.1   2.3  2.9  3.1  3.9  4.0
-------------

662
dataset_id                            polyps3
title         Familial Andenomatous Polyposis
Name: 662, dtype: object

      sex treatment  baseline  age  number3m
1  female    active         7   17         6
2  female   placebo        77   20        67
3    male    active         7   16         4
-------------

663
dataset_id                        pottery
title         Romano-British Pottery Data
Name: 663, dtype: object

   Al2O3  Fe2O3   MgO   CaO  Na2O   K2O  TiO2    MnO    BaO
1   18.8   9.52  2.00  0.79   0.4  3.20  1.01  0.077  0.015
2   16.9   7.33  1.65  0.84   0.4  3.05  0.99  0.067  0.018
3   18.2   7.64  1.82  0.77   0.4  3.07  0.98  0.087  0.014
-------------

665
dataset_id                 respiratory
title         Respiratory Illness Data
Name: 665, dtype: object

   center  id treat sex  age  baseline  visit  outcome
1       1   1     P   M   46         0      1        0
2       1   1     P   M   46         0      2        0
3       1   1     P   M   46         0      3        0
-------------

668
dataset_id        schizophrenia2
title         Schizophrenia Data
Name: 668, dtype: object

    subject     onset disorder  month
1         1  < 20 yrs  present      0
45        1  < 20 yrs  present      2
89        1  < 20 yrs   absent      6
-------------

669
dataset_id                  schooldays
title         Days not Spent at School
Name: 669, dtype: object

         race   sex school learner  absent
1  aboriginal  male     F0    slow       2
2  aboriginal  male     F0    slow      11
3  aboriginal  male     F0    slow      14
-------------

670
dataset_id             skulls
title         Egyptian Skulls
Name: 670, dtype: object

     epoch   mb   bh  bl  nh
1  c4000BC  131  138  89  49
2  c4000BC  125  131  92  48
3  c4000BC  131  132  99  50
-------------

671
dataset_id                               smoking
title         Nicotine Gum and Smoking Cessation
Name: 671, dtype: object

              qt   tt  qc   tc
Blondal89     37   92  24   90
Campbell91    21  107  21  105
Fagerstrom82  30   50  23   50
-------------

674
dataset_id         toothpaste
title         Toothpaste Data
Name: 674, dtype: object

   Study   nA  meanA   sdA   nB  meanB   sdB
1      1  134   5.96  4.24  113   4.72  4.72
2      2  175   4.74  4.64  151   5.07  5.38
3      3  137   2.04  2.59  140   2.51  3.22
-------------

675
dataset_id                                  voting
title         House of Representatives Voting Data
Name: 675, dtype: object

   percentage  total  origin  destination
1          11    303       1            1
2          22     74       1            2
3          17     47       1            3
-------------

676
dataset_id                           water
title         Mortality and Water Hardness
Name: 676, dtype: object

  location        town  mortality  hardness
1    South        Bath       1247       105
2    North  Birkenhead       1668        17
3    South  Birmingham       1466         5
-------------

677
dataset_id          watervoles
title         Water Voles Data
Name: 677, dtype: object

            Surrey  Shropshire  Yorkshire  Perthshire  Aberdeen  Elean Gamhna  \
Surrey       0.000       0.099      0.033       0.183     0.148         0.198
Shropshire   0.099       0.000      0.022       0.114     0.224         0.039
Yorkshire    0.033       0.022      0.000       0.042     0.059         0.053

             Alps  Yugoslavia  Germany  Norway  Pyrenees I  Pyrenees II  \
Surrey      0.462       0.628    0.113   0.173       0.434        0.762
Shropshire  0.266       0.442    0.070   0.119       0.419        0.633
Yorkshire   0.322       0.444    0.046   0.162       0.339        0.781

            North Spain  South Spain
Surrey            0.530        0.586
Shropshire        0.389        0.435
Yorkshire         0.482        0.550
-------------

680
dataset_id                womensrole
title         Womens Role in Society
Name: 680, dtype: object

   education   sex  agree  disagree
1          0  Male      4         2
2          1  Male      2         0
3          2  Male      4         0
-------------

681
dataset_id                                       Bechtoldt
title         Seven data sets showing a bifactor solution.
Name: 681, dtype: object

             First_Names  Word_Number  Sentences  Vocabulary  Completion  \
First_Names        1.000        0.472      0.290       0.401       0.299
Word_Number        0.472        1.000      0.189       0.220       0.232
Sentences          0.290        0.189      1.000       0.833       0.761

             First_Letters  Four_letter_words  Suffixes  Flags  Figures  \
First_Names          0.234              0.254     0.296  0.086    0.061
Word_Number          0.209              0.246     0.193  0.044    0.078
Sentences            0.402              0.275     0.374  0.103    0.019

             Cards  Addition  Multiplication  Three_Higher  Letter_Series  \
First_Names  0.052     0.246           0.274         0.250          0.332
Word_Number  0.157     0.151           0.146         0.060          0.238
Sentences    0.077     0.332           0.297         0.352          0.536

             Pedigrees  Letter_Grouping
First_Names      0.313            0.297
Word_Number      0.213            0.170
Sentences        0.567            0.468
-------------

682
dataset_id                                     Bechtoldt.1
title         Seven data sets showing a bifactor solution.
Name: 682, dtype: object

             First_Names  Word_Number  Sentences  Vocabulary  Completion  \
First_Names        1.000        0.472      0.290       0.401       0.299
Word_Number        0.472        1.000      0.189       0.220       0.232
Sentences          0.290        0.189      1.000       0.833       0.761

             First_Letters  Four_letter_words  Suffixes  Flags  Figures  \
First_Names          0.234              0.254     0.296  0.086    0.061
Word_Number          0.209              0.246     0.193  0.044    0.078
Sentences            0.402              0.275     0.374  0.103    0.019

             Cards  Addition  Multiplication  Three_Higher  Letter_Series  \
First_Names  0.052     0.246           0.274         0.250          0.332
Word_Number  0.157     0.151           0.146         0.060          0.238
Sentences    0.077     0.332           0.297         0.352          0.536

             Pedigrees  Letter_Grouping
First_Names      0.313            0.297
Word_Number      0.213            0.170
Sentences        0.567            0.468
-------------

683
dataset_id                                     Bechtoldt.2
title         Seven data sets showing a bifactor solution.
Name: 683, dtype: object

             First_Names  Word_Number  Sentences  Vocabulary  Completion  \
First_Names        1.000        0.482      0.299       0.331       0.266
Word_Number        0.482        1.000      0.275       0.303       0.273
Sentences          0.299        0.275      1.000       0.828       0.776

             First_Letters  Four_letter_words  Suffixes  Flags  Figures  \
First_Names          0.335              0.342     0.333  0.124    0.032
Word_Number          0.273              0.199     0.290  0.169    0.085
Sentences            0.439              0.432     0.447  0.117    0.051

             Cards  Addition  Multiplication  Three_Higher  Letter_Series  \
First_Names  0.077     0.151           0.259         0.279          0.377
Word_Number  0.193     0.287           0.258         0.223          0.260
Sentences    0.151     0.268           0.319         0.359          0.447

             Pedigrees  Letter_Grouping
First_Names      0.447            0.274
Word_Number      0.293            0.216
Sentences        0.541            0.380
-------------

684
dataset_id                                                  Dwyer
title         8 cognitive variables used by Dwyer for an example.
Name: 684, dtype: object

      V1    V2    V3    V4    V5    V6    V7    V8
V1  1.00  0.58 -0.28  0.01  0.36  0.38  0.61  0.15
V2  0.58  1.00 -0.28  0.10  0.52  0.44  0.78  0.10
V3 -0.28 -0.28  1.00  0.56  0.14 -0.56 -0.42 -0.70
-------------

685
dataset_id                                                                                       Gleser
title         Example data from Gleser, Cronbach and Rajaratnam (1965) to show basic principles of g...
Name: 685, dtype: object

   J11  J12  J21  J22  J31  J32  J41  J42  J51  J52  J61  J62
1    0    0    2    1    2    0    2    1    1    1    1    2
2    0    0    2    1    2    0    1    2    2    1    2    1
3    0    0    1    1    3    3    2    1    2    1    1    2
-------------

686
dataset_id                                                                  Gorsuch
title         Example data set from Gorsuch (1997) for an example factor extension.
Name: 686, dtype: object

           info  verbal  analogies   ego  guilt  tension  info2  tension2  \
info       1.00    0.67       0.43  0.11  -0.07    -0.17   1.00     -0.17
verbal     0.67    1.00       0.49  0.12  -0.05    -0.14   0.67     -0.14
analogies  0.43    0.49       1.00  0.03  -0.14    -0.10   0.43     -0.10

           v123  v564
info       0.84 -0.15
verbal     0.87 -0.13
analogies  0.77 -0.12
-------------

687
dataset_id                                         Harman.5
title         5 socio-economic variables from Harman (1967)
Name: 687, dtype: object

        population  schooling  employment  professional  housevalue
Tract1        5700       12.8        2500           270       25000
Tract2        1000       10.9         600            10       10000
Tract3        3400        8.8        1000            10        9000
-------------

688
dataset_id                                                        Harman.8
title         Correlations of eight physical variables (from Harman, 1966)
Name: 688, dtype: object

                   Height  Arm span  Forearm  Leg length  Weight   Hips  \
Height              1.000     0.846    0.805       0.859   0.473  0.398
Arm span            0.846     1.000    0.881       0.826   0.376  0.326
Length of forearm   0.805     0.881    1.000       0.801   0.380  0.319

                   Chest girth  Chest width
Height                   0.301        0.382
Arm span                 0.277        0.415
Length of forearm        0.237        0.345
-------------

689
dataset_id                                                   Harman.political
title         Eight political variables used by Harman (1967) as example 8.17
Name: 689, dtype: object

              Lewis  Roosevelt  Party Voting  Median Rental  Homeownership  \
Lewis          1.00       0.84          0.62          -0.53           0.03
Roosevelt      0.84       1.00          0.84          -0.68          -0.05
Party Voting   0.62       0.84          1.00          -0.76           0.08

              Unemployment  Mobility  Education
Lewis                 0.57     -0.33      -0.63
Roosevelt             0.76     -0.35      -0.73
Party Voting          0.81     -0.51      -0.81
-------------

690
dataset_id                                       Holzinger
title         Seven data sets showing a bifactor solution.
Name: 690, dtype: object

         T1     T2   T3.4     T6    T28    T29    T32    T34    T35   T36a  \
T1    1.000  0.514  0.477  0.433  0.424  0.350  0.083  0.239  0.140  0.286
T2    0.514  1.000  0.662  0.497  0.397  0.427  0.152  0.254  0.083  0.368
T3.4  0.477  0.662  1.000  0.415  0.319  0.376  0.173  0.172  0.137  0.229

        T13    T18   T25b    T77
T1    0.305  0.260  0.231  0.250
T2    0.545  0.526  0.437  0.426
T3.4  0.482  0.373  0.424  0.368
-------------

691
dataset_id                                     Holzinger.9
title         Seven data sets showing a bifactor solution.
Name: 691, dtype: object

          vis_perc    cubes  lozenges  par_comp  sen_comp  wordmean  addition  \
vis_perc   1.00000  0.32580   0.44864   0.34163   0.30910   0.31713  0.104190
cubes      0.32580  1.00000   0.41701   0.22800   0.15948   0.19465  0.066362
lozenges   0.44864  0.41701   1.00000   0.32795   0.28685   0.34727  0.074638

          count_dot  s_c_caps
vis_perc    0.30760   0.48683
cubes       0.16796   0.24786
lozenges    0.23857   0.37258
-------------

692
dataset_id                                           Reise
title         Seven data sets showing a bifactor solution.
Name: 692, dtype: object

            phone   routine   illness    listen   explain   respect      time  \
phone    1.000000  0.439269  0.424525  0.504945  0.403807  0.482973  0.475139
routine  0.439269  1.000000  0.386764  0.431826  0.358271  0.408604  0.421150
illness  0.424525  0.386764  1.000000  0.435535  0.338219  0.415548  0.408991

         courtesy  helpful     happy  referral  necessary     delay   problem  \
phone    0.466447  0.51527  0.378463  0.320931   0.418434  0.359164  0.272578
routine  0.405188  0.42728  0.304473  0.250230   0.370430  0.282121  0.226978
illness  0.373663  0.40940  0.338899  0.295174   0.396207  0.328328  0.266642

             help  paperwork
phone    0.288573   0.275218
routine  0.233126   0.220631
illness  0.282106   0.269842
-------------

693
dataset_id                                                                                Schmid
title         12 variables created by Schmid and Leiman to show the Schmid-Leiman Transformation
Name: 693, dtype: object

        V1      V2      V3      V4      V5      V6      V7      V8      V9  \
V1  1.0000  0.7200  0.3136  0.2688  0.0983  0.0491  0.1290  0.0369  0.2903
V2  0.7200  1.0000  0.3528  0.3024  0.1106  0.0553  0.1452  0.0415  0.3266
V3  0.3136  0.3528  1.0000  0.4200  0.0753  0.0377  0.0988  0.0282  0.2222

       V10     V11     V12
V1  0.1613  0.0645  0.0753
V2  0.1814  0.0726  0.0847
V3  0.1235  0.0494  0.0576
-------------

694
dataset_id                                       Thurstone
title         Seven data sets showing a bifactor solution.
Name: 694, dtype: object

                 Sentences  Vocabulary  Sent.Completion  First.Letters  \
Sentences            1.000       0.828            0.776          0.439
Vocabulary           0.828       1.000            0.779          0.493
Sent.Completion      0.776       0.779            1.000          0.460

                 4.Letter.Words  Suffixes  Letter.Series  Pedigrees  \
Sentences                 0.432     0.447          0.447      0.541
Vocabulary                0.464     0.489          0.432      0.537
Sent.Completion           0.425     0.443          0.401      0.534

                 Letter.Group
Sentences               0.380
Vocabulary              0.358
Sent.Completion         0.359
-------------

695
dataset_id                                    Thurstone.33
title         Seven data sets showing a bifactor solution.
Name: 695, dtype: object

                       Definitions  Arithmetical_Problems  Classification  \
Definitions                 1.0000                 0.4819          0.6170
Arithmetical_Problems       0.4819                 1.0000          0.3973
Classification              0.6170                 0.3973          1.0000

                       Artificial_Languange  Antonyms  \
Definitions                          0.5177    0.6249
Arithmetical_Problems                0.3966    0.4105
Classification                       0.4722    0.6262

                       Number_Series_Completion  Analogies  Logical_Inference  \
Definitions                              0.4216     0.5835             0.5631
Arithmetical_Problems                    0.5923     0.3976             0.5049
Classification                           0.3561     0.5931             0.5003

                       Paragraph_Reading
Definitions                       0.5857
Arithmetical_Problems             0.4404
Classification                    0.5570
-------------

696
dataset_id                                                        Tucker
title         9 Cognitive variables discussed by Tucker and Lewis (1973)
Name: 696, dtype: object

       t42    t54    t45    t46    t23    t24    t27    t10    t51
t42  1.000  0.554  0.227  0.189  0.461  0.506  0.408  0.280  0.241
t54  0.554  1.000  0.296  0.219  0.479  0.530  0.425  0.311  0.311
t45  0.227  0.296  1.000  0.769  0.237  0.243  0.304  0.718  0.730
-------------

697
dataset_id                                             ability
title         16 ability items scored as correct or incorrect.
Name: 697, dtype: object

   reason.4  reason.16  reason.17  reason.19  letter.7  letter.33  letter.34  \
5       0.0        0.0        0.0        0.0       0.0        1.0        0.0
6       0.0        0.0        1.0        0.0       1.0        0.0        1.0
7       0.0        1.0        1.0        0.0       1.0        0.0        0.0

   letter.58  matrix.45  matrix.46  matrix.47  matrix.55  rotate.3  rotate.4  \
5        0.0        0.0        0.0        0.0        1.0       0.0       0.0
6        0.0        0.0        0.0        0.0        0.0       0.0       0.0
7        0.0        1.0        1.0        0.0        0.0       0.0       0.0

   rotate.6  rotate.8
5       0.0       0.0
6       1.0       0.0
7       0.0       0.0
-------------

698
dataset_id                                                                                       affect
title         Two data sets of affect and arousal scores as a function of personality and movie cond...
Name: 698, dtype: object

  Study  Film   ext  neur  imp   soc  lie  traitanx  state1   EA1   TA1   PA1  \
1  maps     3  18.0   9.0  7.0  10.0  3.0      24.0    22.0  24.0  14.0  26.0
2  maps     3  16.0  12.0  5.0   8.0  1.0      41.0    40.0   9.0  13.0  10.0
3  maps     3   6.0   5.0  3.0   1.0  2.0      37.0    44.0   1.0  14.0   4.0

   NA1  EA2   TA2  PA2  NA2  state2  MEQ   BDI
1  2.0  6.0   5.0  7.0  4.0     NaN  NaN  24.0
2  4.0  4.0  14.0  5.0  5.0     NaN  NaN   9.0
3  2.0  2.0  15.0  3.0  1.0     NaN  NaN   1.0
-------------

699
dataset_id                                            bfi
title         25 Personality items representing 5 factors
Name: 699, dtype: object

        A1   A2   A3   A4   A5   C1   C2   C3   C4   C5  ...   N4   N5   O1  \
61617  2.0  4.0  3.0  4.0  4.0  2.0  3.0  3.0  4.0  4.0  ...  2.0  3.0  3.0
61618  2.0  4.0  5.0  2.0  5.0  5.0  4.0  4.0  3.0  4.0  ...  5.0  5.0  4.0
61620  5.0  4.0  5.0  4.0  4.0  4.0  5.0  4.0  2.0  5.0  ...  2.0  3.0  4.0

       O2   O3   O4   O5  gender  education  age
61617   6  3.0  4.0  3.0       1        NaN   16
61618   2  4.0  3.0  3.0       2        NaN   18
61620   2  5.0  5.0  2.0       2        NaN   17

[3 rows x 28 columns]
-------------

700
dataset_id                                 bfi.dictionary
title         25 Personality items representing 5 factors
Name: 700, dtype: object

   ItemLabel                                       Item    Giant3  \
A1     q_146  Am indifferent to the feelings of others.  Cohesion
A2    q_1162          Inquire about others' well-being.  Cohesion
A3    q_1206                Know how to comfort others.  Cohesion

             Big6    Little12  Keying IPIP100
A1  Agreeableness  Compassion    -1.0    B5:A
A2  Agreeableness  Compassion     1.0    B5:A
A3  Agreeableness  Compassion     1.0    B5:A
-------------

701
dataset_id                                     blot
title         Bond's Logical Operations Test - BLOT
Name: 701, dtype: object

   V 1  V 2  V 3  V 4  V 5  V 6  V 7  V 8  V 9  V 10  ...  V 26  V 27  V 28  \
1    1    1    1    1    1    1    1    1    1     1  ...     1     1     1
2    1    1    1    1    1    1    1    1    1     1  ...     1     1     0
3    1    1    0    1    0    1    1    1    1     1  ...     1     1     0

   V 29  V 30  V 31  V 32  V 33  V 34  V 35
1     1     0     1     1     1     1     1
2     1     1     1     1     1     1     1
3     1     0     1     1     1     1     1

[3 rows x 35 columns]
-------------

702
dataset_id                                       burt
title         11 emotional variables from Burt (1915)
Name: 702, dtype: object

            Sociality  Sorrow  Tenderness   Joy  Wonder  Elation  Disgust  \
Sociality        1.00    0.83        0.81  0.80    0.71     0.70     0.54
Sorrow           0.83    1.00        0.87  0.62    0.59     0.44     0.58
Tenderness       0.81    0.87        1.00  0.63    0.37     0.31     0.30

            Anger   Sex  Fear  Subjection
Sociality    0.53  0.59  0.24        0.13
Sorrow       0.44  0.23  0.45        0.21
Tenderness   0.12  0.33  0.33        0.36
-------------

703
dataset_id                            cities
title         Distances between 11 US cities
Name: 703, dtype: object

     ATL  BOS  ORD  DCA   DEN   LAX   MIA  JFK   SEA   SFO   MSY
ATL    0  934  585  542  1209  1942   605  751  2181  2139   424
BOS  934    0  853  392  1769  2601  1252  183  2492  2700  1356
ORD  585  853    0  598   918  1748  1187  720  1736  1857   830
-------------

704
dataset_id                                                                               cubits
title         Galton's example of the relationship between height and 'cubit' or forearm length
Name: 704, dtype: object

    16.5  16.75  17.25  17.75  18.25  18.75  19.25  19.75
71     0      0      0      1      3      4     15      7
70     0      0      0      1      5     13     11      0
69     0      1      1      2     25     15      6      0
-------------

705
dataset_id                                                                                       cushny
title         A data set from Cushny and Peebles (1905) on the effect of three drugs on hours of sle...
Name: 705, dtype: object

   Control  drug1  drug2L  drug2R  delta1  delta2L  delta2R
1      0.6    1.3     2.5     2.1     0.7      1.9      1.5
2      3.0    1.4     3.8     4.4    -1.6      0.8      1.4
3      4.7    4.5     5.8     4.7    -0.2      1.1      0.0
-------------

706
dataset_id                                                               epi
title         Eysenck Personality Inventory (EPI) data for 3570 participants
Name: 706, dtype: object

    V1   V2   V3   V4   V5   V6   V7   V8   V9  V10  ...  V48  V49  V50  V51  \
1  1.0  1.0  1.0  1.0  1.0  1.0  2.0  1.0  1.0  2.0  ...  1.0  1.0  2.0  2.0
2  1.0  2.0  2.0  2.0  2.0  2.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  2.0
3  1.0  2.0  2.0  2.0  1.0  2.0  2.0  2.0  2.0  2.0  ...  1.0  2.0  2.0  1.0

   V52  V53  V54  V55  V56  V57
1  2.0  1.0  1.0  2.0  2.0  2.0
2  2.0  1.0  1.0  2.0  1.0  2.0
3  2.0  2.0  2.0  2.0  1.0  2.0

[3 rows x 57 columns]
-------------

707
dataset_id                                                                             epi.bfi
title         13 personality scales from the Eysenck Personality Inventory and Big 5 inventory
Name: 707, dtype: object

   epiE  epiS  epiImp  epilie  epiNeur  bfagree  bfcon  bfext  bfneur  bfopen  \
1    18    10       7       3        9      138     96    141      51     138
2    16     8       5       1       12      101     99    107     116     132
3     6     1       3       2        5      143    118     38      68      90

   bdi  traitanx  stateanx
1    1        24        22
2    7        41        40
3    4        37        44
-------------

711
dataset_id                                  income
title         US family income from US census 2008
Name: 711, dtype: object

   value  count  mean      prop
1      0   2588   298  0.022085
2   2500    971  3792  0.008286
3   5000   1677  6261  0.014311
-------------

712
dataset_id                        iqitems
title         16 multiple choice IQ items
Name: 712, dtype: object

   reason.4  reason.16  reason.17  reason.19  letter.7  letter.33  letter.34  \
5       3.0        3.0        6.0        3.0       5.0        3.0        5.0
6       3.0        3.0        4.0        4.0       6.0        2.0        4.0
7       3.0        4.0        4.0        2.0       6.0        5.0        3.0

   letter.58  matrix.45  matrix.46  matrix.47  matrix.55  rotate.3  rotate.4  \
5          2        4.0        3.0        4.0        4.0       5.0       6.0
6          2        4.0        1.0        4.0        6.0       6.0       5.0
7          3        5.0        2.0        4.0        6.0       8.0       8.0

   rotate.6  rotate.8
5       5.0       5.0
6       6.0       1.0
7       8.0       8.0
-------------

713
dataset_id                                                                              msq
title         75 mood items from the Motivational State Questionnaire for 3896 participants
Name: 713, dtype: object

   active  afraid  alert  angry  anxious  aroused  ashamed  astonished  \
1     1.0     1.0    1.0    0.0      1.0      1.0      0.0         0.0
2     1.0     0.0    1.0    0.0      0.0      0.0      0.0         0.0
3     1.0     0.0    0.0    0.0      0.0      0.0      0.0         0.0

   at.ease  at.rest  ...  Sociability  Impulsivity  MSQ_Round      ID  \
1      1.0      1.0  ...          3.0          4.0       15.0   193.0
2      1.0      1.0  ...         11.0          6.0       15.0   130.0
3      2.0      2.0  ...          8.0          5.0       15.0  2135.0

   condition  MSQ_Time   TOD  TOD24  scale  exper
1          2      15.3  15.0    NaN      r  Rim.1
2          2      15.3  15.0    NaN      r  Rim.2
3          2      15.3  15.0    NaN      r  Rim.2

[3 rows x 92 columns]
-------------

714
dataset_id                                                neo
title         NEO correlation matrix from the NEO_PI_R manual
Name: 714, dtype: object

                    N1    N2    N3    N4    N5    N6    E1    E2    E3    E4  \
N1Anxiety         1.00  0.47  0.64  0.54  0.34  0.60 -0.08 -0.06 -0.24 -0.04
N2AngryHostility  0.47  1.00  0.52  0.37  0.40  0.43 -0.27 -0.15 -0.06  0.08
N3Depression      0.64  0.52  1.00  0.60  0.38  0.63 -0.20 -0.18 -0.32 -0.12

                  ...    A3    A4    A5    A6    C1    C2    C3    C4    C5  \
N1Anxiety         ... -0.07 -0.11  0.09  0.01 -0.36 -0.13 -0.25 -0.16 -0.32
N2AngryHostility  ... -0.34 -0.49 -0.12 -0.24 -0.31 -0.14 -0.31 -0.08 -0.32
N3Depression      ... -0.18 -0.13  0.15  0.00 -0.51 -0.24 -0.33 -0.28 -0.47

                    C6
N1Anxiety        -0.18
N2AngryHostility -0.31
N3Depression     -0.31

[3 rows x 30 columns]
-------------

716
dataset_id                                   sat.act
title         3 Measures of ability: SATV, SATQ, ACT
Name: 716, dtype: object

       gender  education  age  ACT  SATV   SATQ
29442       2          3   19   24   500  500.0
29457       2          3   23   35   600  500.0
29498       2          3   20   21   480  470.0
-------------

717
dataset_id                                                                        withinBetween
title         An example of the distinction between within group and between group correlations
Name: 717, dtype: object

  Group  V1  V2  V3  V4  V5  V6  V7  V8  V9
1     A   1   3   4   8  10  11   9  11  12
2     A   2   1   3   9   8  10  10   9  11
3     A   3   4   2  10  11   9  11  12  10
-------------

720
dataset_id                                           Mammals
title         Garland(1983) Data on Running Speed of Mammals
Name: 720, dtype: object

   weight  speed  hoppers  specials
1  6000.0   35.0    False     False
2  4000.0   26.0    False     False
3  3000.0   25.0    False     False
-------------

721
dataset_id         barro
title         Barro Data
Name: 721, dtype: object

                           y.net     lgdp2   mse2   fse2   fhe2   mhe2  \
Algeria75               0.041503  7.330405  0.132  0.067  0.005  0.022
Cameroon75              0.024244  6.591674  0.439  0.089  0.004  0.013
Central_African_Rep.75  0.007135  6.432940  0.176  0.017  0.005  0.015

                           lexp2    lintr2    gedy2      Iy2   gcony2  \
Algeria75               3.879500  0.113761  0.03815  0.18982  0.06014
Cameroon75              3.788725  0.817125  0.02675  0.06633  0.12550
Central_African_Rep.75  3.683867  1.406029  0.03860  0.10182  0.27716

                        lblakp2     pol2    ttrad2
Algeria75               0.38225  0.08325  0.100145
Cameroon75              0.04355  0.00000  0.013976
Central_African_Rep.75  0.04355  0.10000 -0.002062
-------------

723
dataset_id                              uis
title         UIS Drug Treatment study data
Name: 723, dtype: object

   ID  AGE  BECK  HC  IV  NDT  RACE  TREAT  SITE  LEN.T  TIME  CENSOR  \
1   1   39   9.0   4   3    1     0      1     0    123   188       1
2   2   33  34.0   4   2    8     0      1     0     25    26       1
3   3   33  10.0   2   3    3     0      1     0      7   207       1

          Y       ND1       ND2      LNDT      FRAC  IV3
1  5.236442  5.000000 -8.047190  0.693147  0.683333    1
2  3.258097  1.111111 -0.117067  2.197225  0.138889    0
3  5.332719  2.500000 -2.290727  1.386294  0.038889    1
-------------

724
dataset_id                                                 dietox
title         Growth curves of pigs in a 3x3 factorial experiment
Name: 724, dtype: object

     Weight       Feed  Time   Pig  Evit  Cu  Litter
1  26.50000        NaN     1  4601     1   1       1
2  27.59999   5.200005     2  4601     1   1       1
3  36.50000  17.600000     3  4601     1   1       1
-------------

725
dataset_id                      koch
title         Ordinal Data from Koch
Name: 725, dtype: object

     trt  day  y  id
1.1    1    3  3   1
1.2    1    7  2   1
1.3    1   10  2   1
-------------

726
dataset_id                           ohio
title         Ohio Children Wheeze Status
Name: 726, dtype: object

   resp  id  age  smoke
1     0   0   -2      0
2     0   0   -1      0
3     0   0    0      0
-------------

727
dataset_id                                   respdis
title         Clustered Ordinal Respiratory Disorder
Name: 727, dtype: object

   y1  y2  y3  y4  trt
1   1   1   1   1    1
2   1   1   1   1    0
3   1   1   1   1    0
-------------

728
dataset_id                                                                      respiratory
title         Data from a clinical trial comparing two treatments for a respiratory illness
Name: 728, dtype: object

   center  id treat sex  age  baseline  visit  outcome
1       1   1     P   M   46         0      1        0
2       1   1     P   M   46         0      2        0
3       1   1     P   M   46         0      3        0
-------------

729
dataset_id               seizure
title         Epiliptic Seizures
Name: 729, dtype: object

   y1  y2  y3  y4  trt  base  age
1   5   3   3   3    0    11   31
2   3   5   3   3    0    11   30
3   2   4   0   5    0     6   25
-------------

730
dataset_id                         sitka89
title         Growth of Sitka Spruce Trees
Name: 730, dtype: object

   size  time  tree  treat
1  6.16   469     1  ozone
2  6.18   496     1  ozone
3  6.48   528     1  ozone
-------------

731
dataset_id                               spruce
title         Log-size of 79 Sitka spruce trees
Name: 731, dtype: object

   chamber     ozone  id  time  wave  logsize
1        1  enriched   1   152     1     4.51
2        1  enriched   1   174     2     4.98
3        1  enriched   1   201     3     5.41
-------------

732
dataset_id                            liver
title         Liver related laboratory data
Name: 732, dtype: object

   ALP.B  ALT.B  AST.B   TBL.B  ALP.M  ALT.M  AST.M   TBL.M dose
1     80     13     14  12.654     87     22     22  23.085    A
2     37     15     16   6.498     37     25     23   8.037    A
3     52     10     13   4.788     55     10     13   6.498    A
-------------

735
dataset_id                                                         summer
title         Air pollution data, separately for summer and winter months
Name: 735, dtype: object

   O3  NO2  NO  SO2  PM10
1  32   48  94    8    27
2  29   49  86    6    25
3  32   34  16   20    32
-------------

737
dataset_id                                                         winter
title         Air pollution data, separately for summer and winter months
Name: 737, dtype: object

   O3  NO2   NO  SO2  PM10
1  27   50  112   13    34
2  27   51  126   13    29
3  15   43   90   21    33
-------------

738
dataset_id                              arthritis
title         Rheumatoid Arthritis Clinical Trial
Name: 738, dtype: object

   id    y  sex  age  trt  baseline  time
1   1  4.0    2   54    2         2     1
2   1  5.0    2   54    2         2     3
3   1  5.0    2   54    2         2     5
-------------

739
dataset_id          housing
title         Homeless Data
Name: 739, dtype: object

   id    y  time  sec
1   1  1.0     0    1
2   1  2.0     6    1
3   1  2.0    12    1
-------------

749
dataset_id                                                        InstEval
title         University Lecture/Instructor Evaluations by Students at ETH
Name: 749, dtype: object

   s     d  studage  lectage  service  dept  y
1  1  1002        2        2        0     2  5
2  1  1050        2        1        1     6  2
3  1  1582        2        2        0     2  5
-------------

750
dataset_id                              Pastes
title         Paste strength by batch and cask
Name: 750, dtype: object

   strength batch cask sample
1      62.8     A    a    A:a
2      62.6     A    a    A:a
3      60.1     A    b    A:b
-------------

752
dataset_id                             VerbAgg
title         Verbal Aggression item responses
Name: 752, dtype: object

   Anger Gender         item     resp  id  btype   situ  mode r2
1     20      M  S1WantCurse       no   1  curse  other  want  N
2     11      M  S1WantCurse       no   2  curse  other  want  N
3     17      F  S1WantCurse  perhaps   3  curse  other  want  Y
-------------

753
dataset_id                                 cake
title         Breakage Angle of Chocolate Cakes
Name: 753, dtype: object

   replicate recipe  temperature  angle  temp
1          1      A          175     42   175
2          1      A          185     46   185
3          1      A          195     47   195
-------------

754
dataset_id                                 cbpp
title         Contagious bovine pleuropneumonia
Name: 754, dtype: object

   herd  incidence  size  period
1     1          2    14       1
2     1          3    12       2
3     1          4     9       3
-------------

755
dataset_id                                         grouseticks
title         Data on red grouse ticks from Elston et al. 2001
Name: 755, dtype: object

   INDEX  TICKS  BROOD  HEIGHT  YEAR  LOCATION   cHEIGHT
1      1      0    501     465    95        32  2.759305
2      2      0    501     465    95        32  2.759305
3      3      0    502     472    95        36  9.759305
-------------

In [30]:
names = ['OrchardSprays', 'Puromycin', 'Titanic', 'UCBAdmissions', 'attenu','esoph', 'sleep', 'aml','cane','kidney','CrohnD']
cols = ['treatment', 'state', 'Class' ,'Admit', 'station','agegp', 'ID', 'group', 'block','disease','treat']


for i in range(len(names)):
    try:
        rename_and_save(names[i], cols[i])
    except:
        print(names[i])
        continue

attenu